{% extends 'home.html' %}
{% load static %}
{% load  smart_if %}

{% block title %}
Grupos
{% endblock %}

{% block body2 %}
<head>
<script src="{% static 'd3-timeline.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/groups.css'%}">
<script>
cont=0;
       function start(e) {
           e.dataTransfer.effecAllowed = 'move'; // Define el efecto como mover (Es el por defecto)
           e.dataTransfer.setData("Data", e.target.id); // Coje el elemento que se va a mover
           e.dataTransfer.setDragImage(e.target, 70, 2.5); // Define la imagen que se vera al ser arrastrado el elemento y por donde se coje el elemento que se va a mover (el raton aparece en la esquina sup_izq con 0,0)
           e.target.style.opacity = '0.4'; 
       };
       function end(e){
           e.target.style.opacity = ''; // Pone la opacidad del elemento a 1           
           e.dataTransfer.clearData("Data");
       };
function over(e) {
   
var elemArrastrable = e.dataTransfer.getData("Data"); // Elemento arrastrado
   var id = e.target.id; // Elemento sobre el que se arrastra       
// return false para que se pueda soltar
if (id == 'Reforzamiento'){
return false; // Cualquier elemento se puede soltar sobre el div destino 1
}
if (id == 'Intermedios'){
return false; 
}   
if (id == 'Avanzados'){
return false;
}
         
if (id == 'SinGrupo'){
return false;
}
if (id.substring(0,21) == 'SubGrupoReforzamiento'){
   
return false;
   }
   if (id.substring(0,19) == 'SubGrupoIntermedios'){
   
return false;
   }
   if (id.substring(0,17) == 'SubGrupoAvanzados'){
   
return false;
   }
};
function fillComboBox(){
//rellenamos los comboBox con tutores dependiendo de el grupo en el que esten
//$('select').empty();
//$(".comboBoxAvanzados").append("<OPTION VALUE=1>Seleccionar Tutor</OPTION>");
//$(".comboBoxIntermedios").append("<OPTION VALUE=2>Seleccionar Tutor</OPTION>");
//$(".comboBoxReforzamiento").append("<OPTION VALUE=3>Seleccionar Tutor</OPTION>");
$(".comboBoxAvanzados").append("<OPTION VALUE=1>{{ request.user.username }}</OPTION>");
var divs = document.querySelectorAll('.cuadradito');
   for (var i = 0; i < divs.length; i++) {
       var id1 = divs[i].getAttribute('id');
       var id2 = divs[i].getAttribute('title');
    
var id3 = divs[i].getAttribute('name');
       

if(id3=="Avanzados" || id3.substring(0,17) =="SubGrupoAvanzados"){
       
$(".comboBoxIntermedios").each(function() {
   $(this).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
});
       
       
$(".comboBoxReforzamiento").each(function() {
   $(this).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
});
}
if(id3=="Intermedios" || id3.substring(0,19)=="SubGrupoIntermedios"){
$(".comboBoxReforzamiento").each(function() {
   $(this).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
});
}
   }
       };
function fillComboBoxIntermedios(cont){
  var divs = document.querySelectorAll('.cuadradito');
  for (var i = 0; i < divs.length; i++) {
    var id1 = divs[i].getAttribute('id');
    var id2 = divs[i].getAttribute('title');
    var id3 = divs[i].getAttribute('name');
    if(id3=="Avanzados"){       
      $("#comboBoxIntermedios"+cont).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
    }
  }
};
function fillComboBoxReforzamiento(cont){
  var divs = document.querySelectorAll('.cuadradito');
  for (var i = 0; i < divs.length; i++) {
    var id1 = divs[i].getAttribute('id');
    var id2 = divs[i].getAttribute('title');
    var id3 = divs[i].getAttribute('name');
    if(id3=="Avanzados" || id3=="Intermedios"){       
      $("#comboBoxReforzamiento"+cont).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
    }
  }
};
function addComboBoxIntermedios(elemento){
  $(".comboBoxIntermedios").each(function(){
    $(this).append("<OPTION VALUE="+$('#'+elemento).attr('id')+">"+$('#'+elemento).attr('title')+"</OPTION>");
  });
};
function addComboBoxReforzamiento(elemento){
  $(".comboBoxReforzamiento").each(function(){
    $(this).append("<OPTION VALUE="+$('#'+elemento).attr('id')+">"+$('#'+elemento).attr('title')+"</OPTION>");
  });
};
function removeComboBoxIntermedios(elemento){
  $(".comboBoxIntermedios option[value="+$('#'+elemento).attr('id')+"]").remove();
};
function removeComboBoxReforzamiento(elemento){
  $(".comboBoxReforzamiento option[value="+$('#'+elemento).attr('id')+"]").remove();
};

function drop(e){

  $('#cleanButton').show();
         
  var elementoArrastrado = e.dataTransfer.getData("Data"); // Elemento arrastrado
            
  if($('#'+elementoArrastrado).attr('name')=='SinGrupo'){
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      addComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name')=='Avanzados'){//$('#'+elementoArrastrado).attr('name').substring(0,17) =="SubGrupoAvanzados"
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados' ){
    }
    if(e.target.id=='Intermedios'){
      removeComboBoxIntermedios(elementoArrastrado);
    }
    if(e.target.id=='Reforzamiento'){
      removeComboBoxIntermedios(elementoArrastrado);
      removeComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id.substring(0,21)=="SubGrupoReforzamiento" || e.target.id.substring(0,19)=="SubGrupoIntermedios" || e.target.id.substring(0,17) =="SubGrupoAvanzados"){
      removeComboBoxIntermedios(elementoArrastrado);
      removeComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name')=='Intermedios'){
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
    }
    if(e.target.id=='Reforzamiento'){
      removeComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id.substring(0,21)=="SubGrupoReforzamiento" || e.target.id.substring(0,19)=="SubGrupoIntermedios" || e.target.id.substring(0,17) =="SubGrupoAvanzados"){
      removeComboBoxIntermedios(elementoArrastrado);
      removeComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name')=='Reforzamiento'){
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      addComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name').substring(0,21)=="SubGrupoReforzamiento"){
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      addComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name').substring(0,19)=="SubGrupoIntermedios"){
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Reforzamiento'){
    }
  }
  else if($('#'+elementoArrastrado).attr('name').substring(0,17) =="SubGrupoAvanzados"){//
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados' ){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      addComboBoxIntermedios(elementoArrastrado);
    }
    if(e.target.id=='Reforzamiento'){
    }
  }
  //fillComboBox();
  e.target.appendChild(document.getElementById(elementoArrastrado));
  e.target.style.border = '';  // Quita el borde

            
  tamElemX = $('#'+elementoArrastrado).width();
            
  tamElemY = $('#'+elementoArrastrado).height();
    
            
  posXCont = $('#'+e.target.id).position().left;
            
  posYCont = $('#'+e.target.id).position().top;
            
  // Posicion absoluta del raton
            
  x = e.layerX;
            
  y = e.layerY;
            
            
  // Si parte del elemento que se quiere mover se queda fuera se cambia las coordenadas para que no sea asi
            
  if (posXCont + tamContX <= x + tamElemX){
             
  x = posXCont + tamContX - tamElemX - 15;
           

  }

            
  document.getElementById(elementoArrastrado).style.position = "absolute";
            
  document.getElementById(elementoArrastrado).style.left = x + "px";
            
  document.getElementById(elementoArrastrado).style.top = y + "px";


};       
function crearSubGrupoAvanzados() {

   $("#fakeDiv1").append("<div id='SubGrupoAvanzados"+cont+"' class='subGrupo scroll' name='"+cont+"' ondragover='return over(event)' ondrop='return drop(event)' ><h5>SubGrupo</h5><a id='SubGrupoAvanzados' name='"+cont+"' class='cerrar close' onclick='javascript:closeThisDivAvanzados(this)'>x</a><SELECT id='comboBoxAvanzados"+cont+"' class='comboBoxAvanzados' NAME='selCombo' style='width: 90%' SIZE=1 onChange='javascript:alert('prueba');'><OPTION VALUE='2'>Seleccionar Tutor</OPTION></SELECT></div>");
   cont+=1;
   //fillComboBox();
   $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' });
   $("#cleanButton").show();
};
function crearSubGrupoIntermedios() {
   $("#fakeDiv2").append("<div id='SubGrupoIntermedios"+cont+"' class='subGrupo scroll' name='"+cont+"' ondragover='return over(event)' ondrop='return drop(event)' ><h5>SubGrupo</h5><a id='SubGrupoIntermedios' name='"+cont+"' class='cerrar close' onclick='javascript:closeThisDivIntermedios(this)'>x</a><SELECT id='comboBoxIntermedios"+cont+"' class='comboBoxIntermedios' NAME='selCombo' style='width: 90%' SIZE=1 onChange='javascript:alert('prueba');'><OPTION VALUE='3'>Seleccionar Tutor</OPTION></SELECT></div>");
   fillComboBoxIntermedios(cont);
   cont+=1;
   $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' });
   $("#cleanButton").show();
};
function crearSubGrupoReforzamiento() {

   $("#fakeDiv3").append("<div id='SubGrupoReforzamiento"+cont+"' class='subGrupo scroll' name='"+cont+"' ondragover='return over(event)' ondrop='return drop(event)'><h5>SubGrupo</h5><a id='SubGrupoReforzamiento' name='"+cont+"' class='cerrar close' onclick='javascript:closeThisDivReforzamiento(this)'>x</a><SELECT id='comboBoxReforzamiento"+cont+"' class='comboBoxReforzamiento' NAME='selCombo' style='width: 90%' SIZE=1 onChange='javascript:alert('prueba');'><OPTION VALUE='2'>Seleccionar Tutor</OPTION></SELECT></div>");
   fillComboBoxReforzamiento(cont);
   cont+=1;
   //fillComboBox();
   $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' });
   $("#cleanButton").show();
};
function closeThisDivAvanzados(div) { 
var openDiv = document.getElementsByName(div.name); 
var parentDiv = document.getElementById('fakeDiv1');
var cuadritos = openDiv[0].getElementsByClassName('cuadradito')
for(var i=0; i<cuadritos.length; i++)
               {
                   $("#Avanzados").append("<div title="+cuadritos[i].innerHTML+" class='cuadradito' name='Avanzados' id="+cuadritos[i].id+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+cuadritos[i].innerHTML+"</div>");
               }
parentDiv.removeChild(openDiv[0]);
};
function closeThisDivIntermedios(div) {
var openDiv = document.getElementsByName(div.name); 
var parentDiv = document.getElementById('fakeDiv2');
var cuadritos = openDiv[0].getElementsByClassName('cuadradito')
for(var i=0; i<cuadritos.length; i++)
               {
                   $("#Intermedios").append("<div title="+cuadritos[i].innerHTML+" class='cuadradito' name='Intermedios' id="+cuadritos[i].id+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+cuadritos[i].innerHTML+"</div>");
               }
parentDiv.removeChild(openDiv[0]);
};
function closeThisDivReforzamiento(div) { 
var openDiv = document.getElementsByName(div.name);  
var parentDiv = document.getElementById('fakeDiv3');
var cuadritos = openDiv[0].getElementsByClassName('cuadradito')
for(var i=0; i<cuadritos.length; i++)
               {
                   $("#Reforzamiento").append("<div title="+cuadritos[i].innerHTML+" class='cuadradito' name='Reforzamiento' id="+cuadritos[i].id+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+cuadritos[i].innerHTML+"</div>");
               }
parentDiv.removeChild(openDiv[0]);
};

       
function makeGroups() {
  
  //funcion que realiza el agrupamiento automatico.
  if($("input[name='skills']").val().length==2){
    $(".response").remove();
    $("#popup").append("<p class='response'>No hay habilidades seleccionadas.</p>");
    $("#hover").fadeIn();
    $("#popup").fadeIn();
  }else{
    $(".response").remove();
    $("#close").hide();
    $("#hover").fadeIn();
    $("#popup").fadeIn();
    $("#hover").css('pointer-events','none');
    $("#close").css('pointer-events','none');
    $("a").css('pointer-events','none');
    $("input").css('pointer-events','none');
    $("circle").css('pointer-events','none');
    $("button").css('pointer-events','none');
    $("#popup").append($('#profile-throbber2').css('display','none'));
    $('#profile-throbber2').fadeIn();
    $("#popup").append("<p class='response'>Cargando...</p>");
    $('#cleanButton').show();
    $.ajax({
       url: "{% url 'groups:getGroups' id_class %}",
       type: "POST",
       data: $("#formJson").serialize(),
       success: function (response) {
       
            $('.cuadradito').remove();
                  var student = JSON.parse(response);
                  for(var i=0;i<student.length;i++){
                  
            if(student[i]['type']=='Reforzamiento'){
                  
            $("#Reforzamiento").append("<div title="+student[i]['name']+" class='cuadradito' name='Reforzamiento' id="+student[i]['kaid_student']+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+student[i]['name']+"</div>");
                  
            }
                  
            if(student[i]['type']=='Intermedios'){
                  
            $("#Intermedios").append("<div title="+student[i]['name']+" class='cuadradito' name='Intermedios' id="+student[i]['kaid_student']+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+student[i]['name']+"</div>");
                  
            }
                  
            if(student[i]['type']=='Avanzados'){
                  
            $("#Avanzados").append("<div title="+student[i]['name']+" class='cuadradito' name='Avanzados' id="+student[i]['kaid_student']+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+student[i]['name']+"</div>");
                  
            } 
          }
          fillComboBox()
          $('#profile-throbber2').fadeOut();
          $(".response").remove();
          /*$("#popup").append("<p class='response' style='display:none'>Agrupacion realizada correctamente.</p>");
          $(".response").fadeIn();*/
          $("#hover").fadeOut();
          $("#popup").fadeOut();
          $("#hover").css('pointer-events','');
          $("#close").css('pointer-events','');
          $("a").css('pointer-events','');
          $("input").css('pointer-events','');
          $("circle").css('pointer-events','');
          $("button").css('pointer-events','');
          setTimeout(function() {
            $("#close").show();
          }, 750);
       }
    });
  }
  
};
function saveGroups(){
  
  //Funcion que guarda las agrupaciones.
  var divs = document.querySelectorAll('.cuadradito');
  var jsonArr = [];
  var aux = false;
  for (var i = 0; i < divs.length; i++) {    
    var kaid = divs[i].getAttribute('id');
    var group = divs[i].getAttribute('name');
    if(group=='Avanzados' || group=='Intermedios' || group=='Reforzamiento' ||
       group.substring(0,19)=='SubGrupoIntermedios' || group.substring(0,17)=='SubGrupoAvanzados' || group.substring(0,21)=='SubGrupoReforzamiento'){
      aux = true;
    }
    jsonArr.push({
     kaid_student: kaid,
     group: group
    });    
  }
  var tutorsArr = []; 
  tutorsArr.push({  
  kaid_tutor_reforzamiento:$('#comboBoxReforzamiento').val(),
  kaid_tutor_intermedios:$('#comboBoxIntermedios').val(),  
  kaid_tutor_avanzados:$('#comboBoxAvanzados').val()  
  });  

  arrSubGroups = [];
  $('.subGrupo').each(function(indice, elemento) {
    //alert($(elemento).children('select').val());
    arrSubGroups.push({
      name: $(elemento).attr('id'),
      tutor: $(elemento).children('select').val()
    });
    //console.log('El elemento con el índice '+indice+' contiene '+$(elemento).attr('id'))  ;
  });
  $("input[name='subGroups']").val(JSON.stringify(arrSubGroups)); 
  $("input[name='tutors']").val(JSON.stringify(tutorsArr));  
  $("input[name='student_groups']").val(JSON.stringify(jsonArr));  
  if(aux){
  $(".response").remove();
  $("#close").hide();
  $("#hover").fadeIn();
  $("#popup").fadeIn();
  $("#hover").css('pointer-events','none');
  $("a").css('pointer-events','none');
  $("input").css('pointer-events','none');
  $("circle").css('pointer-events','none');
  $("button").css('pointer-events','none');
  $("#popup").append($('#profile-throbber2').css('display','none'));
  $('#profile-throbber2').fadeIn();
  $("#popup").append("<p class='response'>Guardando...</p>");
  $.ajax({
     url: "{% url 'groups:getGroups' id_class %}",
     type: "POST",
     data: $("#formJson").serialize(),
     success: function (response) {
        //lo que haces si es exitoso
        $('#profile-throbber2').fadeOut();
          $(".response").remove();
          $("#popup").append("<p class='response' style='display:none'>Agrupacion guardada correctamente.</p>");
          $(".response").fadeIn();
          $("#hover").css('pointer-events','');
          $("#close").css('pointer-events','');
          $("a").css('pointer-events','');
          $("input").css('pointer-events','');
          $("circle").css('pointer-events','');
          $("button").css('pointer-events','');
        location.reload();
     }
  });  
  aux = false;  
  }else{
    $(".response").remove();
    $("#popup").append("<p class='response'>No hay agrupación para guardar.</p>");
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
  }
};
</script>
</head>


<br>
<div class='main-content'>

  <br>

<h1>Agrupaciones anteriores</h1>
  <div id='containerTimeLine'>
    <form action="" method="post" id='formJson'>{% csrf_token %}
       <input name="skills" type="hidden" value="[]">
       <input name="student_groups" type="hidden" value=''>
       <input name="tutors" type="hidden" value=''>
       <input name="subGroups" type="hidden" value=''>
       
  </form>
    <div id="hoverRes">
      <div id="name"></div>
      <div id="scrolled_date" style="cursor:pointer"></div>
      
    </div>

    <div id="timeline3" ></div>

    <br>
  </div>

<div style="height:54px; margin:10px;">
  <h1>Grupos</h1>
  {% if isTeacher %}
  <button type='input' onclick='newGroups()' class="kui-button kui-button-plain kui-button-primary" id='newButton'><i class="plus"></i> Nueva agrupación</button>
  {% endif %}
  <button type='input' onclick='cleanGroups()' class="kui-button kui-button-plain kui-button-primary" id='cleanButton'>Limpiar agrupación</button>
</div>
    <div id='content'>
       <div id="SinGrupo" name="SinGrupo" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><ul><h3>No agrupados</h3></ul></div>
 
        <div id="Avanzados" name="Avanzados" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><ul><h3>Avanzados</h3></ul>
{% if isTeacher %}
<SELECT id="comboBoxAvanzados" class="comboBoxAvanzados" NAME="comboBox" style="width: 90%" SIZE=1> 
<OPTION VALUE="2">Seleccionar Tutor</OPTION>
</SELECT>
<button onclick="crearSubGrupoAvanzados(this);" class='nuevo_sub kui-button kui-button-plain kui-button-primary'>nuevo sub-grupo</button>
{% endif %}
<div id="fakeDiv1"></div>
        </div>
 
       <div id="Intermedios" name="Intermedios" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><h3>Intermedios</h3>
{% if isTeacher %}       
<SELECT id="comboBoxIntermedios" class="comboBoxIntermedios" NAME="selCombo" style="width: 90%" SIZE=1 onChange=""> 
<OPTION VALUE="2">Seleccionar Tutor</OPTION>
</SELECT>
<button onclick="crearSubGrupoIntermedios(this);" class='nuevo_sub kui-button kui-button-plain kui-button-primary'>nuevo sub-grupo</button>
{% endif %}
<div id="fakeDiv2"></div>
       </div>
       <div id="Reforzamiento" name="Reforzamiento" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><h3>Reforzamiento</h3>
{% if isTeacher %}       
<SELECT id="comboBoxReforzamiento" class="comboBoxReforzamiento" NAME="selCombo" style="width: 90%" SIZE=1 onChange=""> 
<OPTION VALUE="3">Seleccionar Tutor</OPTION>
</SELECT>
<button onclick="crearSubGrupoReforzamiento(this);" class='nuevo_sub kui-button kui-button-plain kui-button-primary'>nuevo sub-grupo</button>
{% endif %}
<div id="fakeDiv3"></div>
       </div>
<div class="input-wrapper" id="topictree_div">
  <input id="skill_search" class="ui-corner-all placeholder simple-input search-input blur-on-esc" type="text" placeholder="Busca temas y habilidades">
  <i class="icon-search"></i>
  <div id="topictree" class="scroll"></div>
</div>
<div id="skills" class="scroll"></div>
</div>


<div id="buttons">
  {% if isTeacher %}
  <input type='button' onclick='saveGroups()' class="kui-button kui-button-plain kui-button-primary" value='Guardar' id='saveButton'>
  <input type='button' onclick='makeGroups()' class="kui-button kui-button-plain kui-button-primary" value='Agrupación Automática' id='makeButton'>
  {% endif %}
</div>
</div>

<div id="popup" style="display:none">
  <div id="close">X</div>
</div>

<script type="text/javascript">
function initGroups(){
 
  {% if students %}
  {% for student in students %}
  {% if student.type == 'SinGrupo' %}
  $("#SinGrupo").append("<div title='{{ student.name }}'  class='cuadradito' name='SinGrupo' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% if student.type == 'Reforzamiento' %}
  $("#Reforzamiento").append("<div title='{{ student.name }}' class='cuadradito' name='Reforzamiento' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% if student.type == 'Intermedios' %}
  $("#Intermedios").append("<div title='{{ student.name }}' class='cuadradito' name='Intermedios' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% if student.type == 'Avanzados' %}
  $("#Avanzados").append("<div title='{{ student.name }}' class='cuadradito' name='Avanzados' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% endfor %}
  {% endif %}
  $("#SinGrupo").append("<div title='Sin Tutor' id='{{ kaid_teacher }}' style='visibility: hidden;'></div>");

};
initGroups();
</script>
<script>
var topictree = JSON.parse('{{ topictree | escapejs }}');
$('#topictree').on('changed.jstree', function (e, data) {
   selected_skills=$('#topictree')
   
.jstree()
   
.get_bottom_selected(true);
   selected_skills_id=new Array();
   //Get selected skills (leaves of the topictree json)
   for (i=0;i< selected_skills.length;i++){
   
if (selected_skills[i].data){
   
selected_skills_id.push(selected_skills[i].data["skill_id"]);
   
}
   }
   //Remove duplicate skill id's in case they have been associated to more than one selected subskill
   selected_skills_id = selected_skills_id.filter(
   
function( item, index, inputArray ) {
return inputArray.indexOf(item) == index;
});
$('input[name="skills"]').val(JSON.stringify(selected_skills_id));
   }).jstree(topictree);
   var to=false;
   $('#skill_search').keyup(function () {
   if(to) { clearTimeout(to); }
   to = setTimeout(function () {
     var v = $('#skill_search').val();
     $('#topictree').jstree(true).search(v);
   }, 250);
  });
  var to=false;
   $('#skill_search').keyup(function () {
   if(to) { clearTimeout(to); }
   to = setTimeout(function () {
     var v = $('#skill_search').val();
     $('#topictree').jstree(true).search(v);
   }, 250);
  });;
</script>
<script type="text/javascript">

function formatDate(dd,mm,yyyy,h,m,s){
  if(dd<10){
    dd='0'+dd
  } 
  if(mm<10){
    mm='0'+mm
  } 
  if(h<10){
    h='0'+h
  } 
  if(m<10){
    m='0'+m
  }
  if(s<10){
    s='0'+s
  }
  return dd+"/"+mm+"/"+yyyy+" "+h+":"+m+":"+s;
}

  var colorScale = d3.scale.ordinal().range(['#1c758a'])
    .domain(['KhanBlue']);

window.onload = function() {
		var testData = [];
    var dates = [];
    var separate = 2*3600000;
    var cont = 1;
		var master_groups = JSON.parse('{{ groups | escapejs }}');
		for (i=0;i<master_groups.length;i++){
      date = new Date(master_groups[i]['fields']['date']);
      times ={};
      var arr=[];
      dic = {};

      if (dates.indexOf(master_groups[i]['fields']['date']) == -1){
        dates.push(master_groups[i]['fields']['date']);
        dic.starting_time = date.getTime();
        dic.ending_time = dic.starting_time+20;
        arr.push(dic);
        cont=1;
      }
      else{
        dic.starting_time = date.getTime()  + (separate*cont);
        dic.ending_time = dic.starting_time+20;
        arr.push(dic);
        cont=cont+1;
      }

      times.color = 'KhanBlue';
			times.times = arr;
			times.label = formatDate(date.getDate(),(date.getMonth()+1),date.getFullYear(),date.getHours(),date.getMinutes(),date.getSeconds());

			times.id = master_groups[i]['pk'];
			testData.push(times);
      //date = new Date(testData[i].times[0].starting_time);
      date = new Date(testData[i].label);
		};

		var width = testData.length*100;
    if (width<1158){
      width=1158;
    }

var className;

  function timelineHover() {
    //funcion que controla la linea de tiempo. y la visualizacion de las agrupaciones.
    var chart = d3.timeline()
      .tickFormat({
        format: d3.time.format("%d/%m/%Y"),
        tickTime: d3.time.days,
        tickInterval: 1,
        tickSize: 20
      })
      .colors( colorScale )
      .colorProperty('color')
      //.stack()
      .beginning(testData[0].times[0].starting_time - 86400000)
      .ending(testData[testData.length-1].times[0].ending_time + 86400000 -7200000)
      .rotateTicks()
      .width(width*1)
      .margin({left:30, right:80, top:10, bottom:0})
      .hover(function (d, i, datum) {
      // d is the current rendering object
      // i is the index during d3 rendering
      // datum is the id object
        var div = $('#hoverRes');
        var colors = chart.colors();
        div.find('.coloredDiv').css('background-color', '#1C758A')
        div.find('#name').text("Fecha: "+datum.label);
      })
      .click(function (d, i, datum) {
        $("circle").css('cy','20px'); //Chrome
        $("#timelineItem_"+datum.id).css('cy','15px');
        $("circle").attr('cy','20px'); //Firefox
        $("#timelineItem_"+datum.id).attr('cy','15px');
        className = $("#timelineItem_"+datum.id).attr('class');
        /*console.log(className);
        $("#timelineItem_"+datum.id).attr('class') = "selected";
        $("#timelineItem_"+datum.id).addClass(className+" selected");
        $("circle").removeClass("selected");*/
        drawGroup(datum.id);
      	
      })
      .scroll(function (x, scale) {
      })
      .display("circle")
      .itemMargin(-10);
    var svg = d3.select("#timeline3").append("svg").attr("width", width)
      .datum(testData).call(chart);
  }
  timelineHover();
  $("#timeline3").scrollLeft(width);//lleva el scrollbar al final
  d3.selectAll("circle").each(function(d){
    this.parentNode.appendChild(this);
  });

  d3.selectAll("circle").on("mouseover", 
    function(d) {
      //$("circle").css('cy','20px');
      $(this).css('cy','15px'); //Chrome
      $(this).attr('cy','15px'); //Firefox
    });

  d3.selectAll("circle").on("mouseout", 
    function(d) {
      if ($(this).attr("class")==className){
        $(this).css('cy','15px');
        $(this).attr('cy','15px');
      }
      else{
        $(this).css('cy','20px');
        $(this).attr('cy','20px');
      }
    });

  /*d3.selectAll("circle").on("click", 
    function(d) {
      $("circle").css('cy','20px');
      $(this).css('cy','15px');
    });*/

  $("#timeline3").niceScroll({ cursorwidth:'10px', autohidemode: false, cursorcolor:'#D9D9D9' });
}

function newGroups() {
  $("#popup_evaluacion").append($('#profile-throbber2').css('display',''));
  loading();
  location.reload();
};
function cleanGroups() {
  $('.cuadradito').remove();
  $('.subGrupo').remove();
  $('#cleanButton').hide();
  initGroups();
};
function drawGroup(id){
  //Funcion que carga todos los datos del grupo id
        var groups
        var students
        var skills
        $.ajax({ // solicita los grupos creados en la agrupacion seleccionada
         url: "{% url 'groups:getMakedGroup' id_class %}",
         type: "POST",
         async: false,
         data: {id_master_group : id,csrfmiddlewaretoken: '{{ csrf_token }}'},
         success: function (response) {
          groups = JSON.parse(response);
          //Eliminar las agrupaciones anteriores mostradas en pantalla.
          $('.cuadradito').appendTo('#SinGrupo');
          $('select').remove();
          $('#Avanzados').empty();
          $('#Intermedios').empty();
          $('#Reforzamiento').empty();
          for(var i=0;i<groups.length;i++){//en este for se crean todos los div segun la agrupacion seleccionada.
            //Agrega cada subgrupo en el div que le corresponde.
            type = "#"+groups[i]['fields']['type'];//type grupo
            tutor = "#"+groups[i]['fields']['kaid_student_tutor'];
            if (type == '#Avanzados'){
              $('#Avanzados').append("<h3>Avanzados<h3><h4>Tutor: "+$(tutor).attr('title')+"</h4>");
              $('#Avanzados').append("<div id='fakeDiv1'></div>");
              $("#Avanzados").append("<div class='"+(groups[i]['pk']).toString()+"' ></div>");
              
            }
            if (type == '#Intermedios'){
              $("#Intermedios").append("<h3>Intermedios<h3><h4>Tutor: "+$(tutor).attr('title')+"</h4>");
              $('#Intermedios').append("<div id='fakeDiv2'></div>");
              $("#Intermedios").append("<div class='"+(groups[i]['pk']).toString()+"' ></div>");
              
            }
            if (type == '#Reforzamiento'){
              $("#Reforzamiento").append("<h3>Reforzamiento<h3><h4>Tutor: "+$(tutor).attr('title')+"</h4>");
              $('#Reforzamiento').append("<div id='fakeDiv3'></div>");
              $("#Reforzamiento").append("<div class='"+(groups[i]['pk']).toString()+"' ></div>");
              
            }
            if (type.substring(1,22) == 'SubGrupoReforzamiento'){
              $("#fakeDiv3").append("<br><hr><div class='subGrupo scroll "+(groups[i]['pk']).toString()+"' id='"
                +groups[i]['fields']['type']+"'><h4>Tutor: "+$(tutor).attr('title')+"</h4></div>");
            }
            if (type.substring(1,20) == 'SubGrupoIntermedios'){
              $("#fakeDiv2").append("<br><hr><div class='subGrupo scroll "+(groups[i]['pk']).toString()+"' id='"
                +groups[i]['fields']['type']+"' ><h4>Tutor: "+$(tutor).attr('title')+"</h4></div>");
            }
            if (type.substring(1,18) == 'SubGrupoAvanzados'){
              $("#fakeDiv1").append("<br><hr><div class='subGrupo scroll "+(groups[i]['pk']).toString()+"' id='"
                +groups[i]['fields']['type']+"' ><h4>Tutor: "+$(tutor).attr('title')+"</h4></div>");
            }
          }
         }
        });
        $.ajax({ // solicita los estudiantes de cada grupo
         url: "{% url 'groups:getStudentGroup' id_class %}",
         type: "POST",
         async: false,
         data: {id_master_group : id,csrfmiddlewaretoken: '{{ csrf_token }}'},
         success: function (response) {
            students = JSON.parse(response);
            for(var i=0;i<students.length;i++){
              var g = "." + (students[i]['fields']['id_group']).toString();
              var s = "#" + (students[i]['fields']['kaid_student']).toString();
              $(s).appendTo(g);//agrega cada estudiante a su correspondiente agrupacion.
          }
         }
        });
        $('#topictree_div').remove();
        $('#saveButton').remove();
        $('#makeButton').remove();
        $.ajax({ // solicita las habilidades de cada grupo
         url: "{% url 'groups:getSkillGroup' id_class %}",
         type: "POST",
         async: false,
         data: {id_master_group : id,csrfmiddlewaretoken: '{{ csrf_token }}'},
         success: function (response) {
            skills = JSON.parse(response);
            $('#skills').empty();
            $('#skills').css('display','inline');
            $('#skills').append("<h3>Habilidades</h3><br>");
            if(skills.length==0){
              $('#skills').append("<li>No hay Habilidades asociadas</li>");
            }
            else{
              for(var i=0;i<skills.length;i++){
                $('#skills').append("<li>"+skills[i]['fields']['name_spanish']+"</li>");
              }
            }
         }
        });
        $(".cuadradito").removeAttr("draggable");
        $('.nuevo_sub').remove()
        $('#ascrail2004').remove()
        $('#ascrail2004-hr').remove()
        $('#cleanButton').remove();
        $('#newButton').show();
}


    $(document).ready(function () {
    $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' })
    });

$(document).ready(function(){
    
    //chiusura al click sulla parte scura
    $("#hover").click(function(){
          $(this).fadeOut();
      $("#popup").fadeOut();
      });
    
    //chiusura al click sul pulsante
    $("#close").click(function(){
          $("#hover").fadeOut();
      $("#popup").fadeOut();
      });
  });
  {% if isTeacher %}
     
  {% else %}
    var id_group=0;
    var date;
    $.ajax({ // solicita los estudiantes de cada grupo
     url: "{% url 'groups:getLastGroup' id_class %}",
     type: "GET",
     async: false,
     success: function (response) {
        if(response.localeCompare('False')==0){
          $("#popup").append("<p class='response'>No hay agrupaciones realizadas.</p>");
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#hover").click(function(){
            $(this).fadeOut();
            $("#popup").fadeOut();
            window.location.replace("/inicio");
          });
          $("#close").click(function(){
            $("#hover").fadeOut();
            $("#popup").fadeOut();
            window.location.replace("/inicio");
          });
        }else{
          var last = JSON.parse(response);
          id_group = last[0]['pk'];
          date = new Date(last[0]['fields']['date']);
        }
     }
    });
    if(id_group!=0){
      drawGroup(id_group);
      label = formatDate(date.getDate(),(date.getMonth()+1),date.getFullYear(),date.getHours(),date.getMinutes(),date.getSeconds());
      $('#name').append(label);
    }
  {% endif %}


    //$( ".jstree-themeicon" ).remove();
    $('#topictree').jstree(true).hide_icons();
    $('#breadcrumb').html('Grupos / {{ spanish_classroom }}')
  </script>
  <script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
{% endblock %}
