{% extends 'home.html' %}
{% load static %}
{% load  smart_if %}

{% block title %}
Grupos
{% endblock %}

{% block body2 %}
<head>
<script src="{% static 'd3-timeline.js' %}"></script>
<script>
cont=0;
       function start(e) {
           e.dataTransfer.effecAllowed = 'move'; // Define el efecto como mover (Es el por defecto)
           e.dataTransfer.setData("Data", e.target.id); // Coje el elemento que se va a mover
           e.dataTransfer.setDragImage(e.target, 70, 2.5); // Define la imagen que se vera al ser arrastrado el elemento y por donde se coje el elemento que se va a mover (el raton aparece en la esquina sup_izq con 0,0)
           e.target.style.opacity = '0.4'; 
       };
       function end(e){
           e.target.style.opacity = ''; // Pone la opacidad del elemento a 1           
           e.dataTransfer.clearData("Data");
       };
function over(e) {
   
var elemArrastrable = e.dataTransfer.getData("Data"); // Elemento arrastrado
   var id = e.target.id; // Elemento sobre el que se arrastra       
// return false para que se pueda soltar
if (id == 'Reforzamiento'){
return false; // Cualquier elemento se puede soltar sobre el div destino 1
}
if (id == 'Intermedios'){
return false; 
}   
if (id == 'Avanzados'){
return false;
}
         
if (id == 'SinGrupo'){
return false;
}
if (id.substring(0,21) == 'SubGrupoReforzamiento'){
   
return false;
   }
   if (id.substring(0,19) == 'SubGrupoIntermedios'){
   
return false;
   }
   if (id.substring(0,17) == 'SubGrupoAvanzados'){
   
return false;
   }
};
function fillComboBox(){
//rellenamos los comboBox con tutores dependiendo de el grupo en el que esten
//$('select').empty();
$(".comboBoxAvanzados").append("<OPTION VALUE=1>Seleccionar Tutor</OPTION>");
$(".comboBoxIntermedios").append("<OPTION VALUE=2>Seleccionar Tutor</OPTION>");
$(".comboBoxReforzamiento").append("<OPTION VALUE=3>Seleccionar Tutor</OPTION>");
$(".comboBoxAvanzados").append("<OPTION VALUE=1>{{ request.user.username }}</OPTION>");
var divs = document.querySelectorAll('.cuadradito');
   for (var i = 0; i < divs.length; i++) {
       var id1 = divs[i].getAttribute('id');
       var id2 = divs[i].getAttribute('title');
    
var id3 = divs[i].getAttribute('name');
       

if(id3=="Avanzados" || id3.substring(0,17) =="SubGrupoAvanzados"){
       
$(".comboBoxIntermedios").each(function() {
   $(this).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
});
       
       
$(".comboBoxReforzamiento").each(function() {
   $(this).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
});
}
if(id3=="Intermedios" || id3.substring(0,19)=="SubGrupoIntermedios"){
$(".comboBoxReforzamiento").each(function() {
   $(this).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
});
}
   }
       };
function fillComboBoxIntermedios(cont){
  var divs = document.querySelectorAll('.cuadradito');
  for (var i = 0; i < divs.length; i++) {
    var id1 = divs[i].getAttribute('id');
    var id2 = divs[i].getAttribute('title');
    var id3 = divs[i].getAttribute('name');
    if(id3=="Avanzados"){       
      $("#comboBoxIntermedios"+cont).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
    }
  }
};
function fillComboBoxReforzamiento(cont){
  var divs = document.querySelectorAll('.cuadradito');
  for (var i = 0; i < divs.length; i++) {
    var id1 = divs[i].getAttribute('id');
    var id2 = divs[i].getAttribute('title');
    var id3 = divs[i].getAttribute('name');
    if(id3=="Avanzados" || id3=="Intermedios"){       
      $("#comboBoxReforzamiento"+cont).append("<OPTION VALUE="+id1+">"+id2+"</OPTION>");
    }
  }
};
function addComboBoxIntermedios(elemento){
  $(".comboBoxIntermedios").each(function(){
    $(this).append("<OPTION VALUE="+$('#'+elemento).attr('id')+">"+$('#'+elemento).attr('title')+"</OPTION>");
  });
};
function addComboBoxReforzamiento(elemento){
  $(".comboBoxReforzamiento").each(function(){
    $(this).append("<OPTION VALUE="+$('#'+elemento).attr('id')+">"+$('#'+elemento).attr('title')+"</OPTION>");
  });
};
function removeComboBoxIntermedios(elemento){
  $(".comboBoxIntermedios option[value="+$('#'+elemento).attr('id')+"]").remove();
};
function removeComboBoxReforzamiento(elemento){
  $(".comboBoxReforzamiento option[value="+$('#'+elemento).attr('id')+"]").remove();
};

function drop(e){

  $('#cleanButton').show();
         
  var elementoArrastrado = e.dataTransfer.getData("Data"); // Elemento arrastrado
            
  if($('#'+elementoArrastrado).attr('name')=='SinGrupo'){
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      addComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name')=='Avanzados' || $('#'+elementoArrastrado).attr('name').substring(0,17) =="SubGrupoAvanzados"){
    removeComboBoxIntermedios(elementoArrastrado);
    removeComboBoxReforzamiento(elementoArrastrado);
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      //alert(e.target.id)
      //addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name')=='Intermedios' || $('#'+elementoArrastrado).attr('name').substring(0,19)=="SubGrupoIntermedios"){
    //removeComboBoxIntermedios(elementoArrastrado);
    removeComboBoxReforzamiento(elementoArrastrado);
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      //alert(e.target.id)
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      //alert(e.target.id)
      //addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
  }
  else if($('#'+elementoArrastrado).attr('name')=='Reforzamiento' || $('#'+elementoArrastrado).attr('name').substring(0,21)=="SubGrupoReforzamiento" ){
    //removeComboBoxIntermedios(elementoArrastrado);
    //removeComboBoxReforzamiento(elementoArrastrado);
    document.getElementById(elementoArrastrado).setAttribute("name",e.target.id);
    if(e.target.id=='Avanzados'){
      addComboBoxIntermedios(elementoArrastrado);
      addComboBoxReforzamiento(elementoArrastrado);
    }
    if(e.target.id=='Intermedios'){
      addComboBoxReforzamiento(elementoArrastrado);
    }
  }
  //fillComboBox();
  e.target.appendChild(document.getElementById(elementoArrastrado));
  e.target.style.border = '';  // Quita el borde

            
  tamElemX = $('#'+elementoArrastrado).width();
            
  tamElemY = $('#'+elementoArrastrado).height();
    
            
  posXCont = $('#'+e.target.id).position().left;
            
  posYCont = $('#'+e.target.id).position().top;
            
  // Posicion absoluta del raton
            
  x = e.layerX;
            
  y = e.layerY;
            
            
  // Si parte del elemento que se quiere mover se queda fuera se cambia las coordenadas para que no sea asi
            
  if (posXCont + tamContX <= x + tamElemX){
             
  x = posXCont + tamContX - tamElemX - 15;
           

  }

            
  document.getElementById(elementoArrastrado).style.position = "absolute";
            
  document.getElementById(elementoArrastrado).style.left = x + "px";
            
  document.getElementById(elementoArrastrado).style.top = y + "px";


};       
function crearSubGrupoAvanzados() {

   $("#fakeDiv1").append("<div id='SubGrupoAvanzados"+cont+"' class='subGrupo scroll' name='"+cont+"' ondragover='return over(event)' ondrop='return drop(event)' ><h5>SubGrupo</h5><a id='SubGrupoAvanzados' name='"+cont+"' class='cerrar close' onclick='javascript:closeThisDivAvanzados(this)'>x</a><SELECT id='comboBoxAvanzados"+cont+"' class='comboBoxAvanzados' NAME='selCombo' style='width: 90%' SIZE=1 onChange='javascript:alert('prueba');'><OPTION VALUE='link pagina 1'>Seleccionar Tutor</OPTION></SELECT></div>");
   cont+=1;
   //fillComboBox();
   $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' });
   $("#cleanButton").show();
};
function crearSubGrupoIntermedios() {
   $("#fakeDiv2").append("<div id='SubGrupoIntermedios"+cont+"' class='subGrupo scroll' name='"+cont+"' ondragover='return over(event)' ondrop='return drop(event)' ><h5>SubGrupo</h5><a id='SubGrupoIntermedios' name='"+cont+"' class='cerrar close' onclick='javascript:closeThisDivIntermedios(this)'>x</a><SELECT id='comboBoxIntermedios"+cont+"' class='comboBoxIntermedios' NAME='selCombo' style='width: 90%' SIZE=1 onChange='javascript:alert('prueba');'><OPTION VALUE='link pagina 1'>Seleccionar Tutor</OPTION></SELECT></div>");
   fillComboBoxIntermedios(cont);
   cont+=1;
   $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' });
   $("#cleanButton").show();
};
function crearSubGrupoReforzamiento() {

   $("#fakeDiv3").append("<div id='SubGrupoReforzamiento"+cont+"' class='subGrupo scroll' name='"+cont+"' ondragover='return over(event)' ondrop='return drop(event)'><h5>SubGrupo</h5><a id='SubGrupoReforzamiento' name='"+cont+"' class='cerrar close' onclick='javascript:closeThisDivReforzamiento(this)'>x</a><SELECT id='comboBoxReforzamiento"+cont+"' class='comboBoxReforzamiento' NAME='selCombo' style='width: 90%' SIZE=1 onChange='javascript:alert('prueba');'><OPTION VALUE='link pagina 1'>Seleccionar Tutor</OPTION></SELECT></div>");
   fillComboBoxReforzamiento(cont);
   cont+=1;
   //fillComboBox();
   $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' });
   $("#cleanButton").show();
};
function closeThisDivAvanzados(div) { 
var openDiv = document.getElementsByName(div.name); 
var parentDiv = document.getElementById('fakeDiv1');
var cuadritos = openDiv[0].getElementsByClassName('cuadradito')
for(var i=0; i<cuadritos.length; i++)
               {
                   $("#Avanzados").append("<div title="+cuadritos[i].innerHTML+" class='cuadradito' name='Avanzados' id="+cuadritos[i].id+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+cuadritos[i].innerHTML+"</div>");
               }
parentDiv.removeChild(openDiv[0]);
};
function closeThisDivIntermedios(div) {
var openDiv = document.getElementsByName(div.name); 
var parentDiv = document.getElementById('fakeDiv2');
var cuadritos = openDiv[0].getElementsByClassName('cuadradito')
for(var i=0; i<cuadritos.length; i++)
               {
                   $("#Intermedios").append("<div title="+cuadritos[i].innerHTML+" class='cuadradito' name='Intermedios' id="+cuadritos[i].id+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+cuadritos[i].innerHTML+"</div>");
               }
parentDiv.removeChild(openDiv[0]);
};
function closeThisDivReforzamiento(div) { 
var openDiv = document.getElementsByName(div.name);  
var parentDiv = document.getElementById('fakeDiv3');
var cuadritos = openDiv[0].getElementsByClassName('cuadradito')
for(var i=0; i<cuadritos.length; i++)
               {
                   $("#Reforzamiento").append("<div title="+cuadritos[i].innerHTML+" class='cuadradito' name='Reforzamiento' id="+cuadritos[i].id+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+cuadritos[i].innerHTML+"</div>");
               }
parentDiv.removeChild(openDiv[0]);
};

       
function makeGroups() {
  
  //funcion que realiza el agrupamiento automatico.
  if($("input[name='skills']").val().length==2){
    $(".response").remove();
    $("#popup").append("<p class='response'>No hay habilidades seleccionadas.</p>");
    $("#hover").fadeIn();
    $("#popup").fadeIn();
  }else{
    $(".response").remove();
    $("#hover").fadeIn();
    $("#popup").fadeIn();
    $("#hover").css('pointer-events','none');
    $("#close").css('pointer-events','none');
    $("a").css('pointer-events','none');
    $("input").css('pointer-events','none');
    $("circle").css('pointer-events','none');
    $("button").css('pointer-events','none');
    $("#popup").append($('#profile-throbber2').css('display','none'));
    $('#profile-throbber2').fadeIn();
    $("#popup").append("<p class='response'>Cargando...</p>");
    $('#cleanButton').show();
    $.ajax({
       url: "{% url 'groups:getGroups' id_class %}",
       type: "POST",
       data: $("#formJson").serialize(),
       success: function (response) {
       
            $('.cuadradito').remove();
                  var student = JSON.parse(response);
                  for(var i=0;i<student.length;i++){
                  
            if(student[i]['type']=='Reforzamiento'){
                  
            $("#Reforzamiento").append("<div title="+student[i]['name']+" class='cuadradito' name='Reforzamiento' id="+student[i]['kaid_student']+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+student[i]['name']+"</div>");
                  
            }
                  
            if(student[i]['type']=='Intermedios'){
                  
            $("#Intermedios").append("<div title="+student[i]['name']+" class='cuadradito' name='Intermedios' id="+student[i]['kaid_student']+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+student[i]['name']+"</div>");
                  
            }
                  
            if(student[i]['type']=='Avanzados'){
                  
            $("#Avanzados").append("<div title="+student[i]['name']+" class='cuadradito' name='Avanzados' id="+student[i]['kaid_student']+" draggable='true' ondragstart='start(event)' ondragend='end(event)'>"+student[i]['name']+"</div>");
                  
            } 
          }
          fillComboBox()
          $('#profile-throbber2').fadeOut();
          $(".response").remove();
          $("#popup").append("<p class='response' style='display:none'>Agrupacion realizada correctamente.</p>");
          $(".response").fadeIn();
          $("#hover").css('pointer-events','');
          $("#close").css('pointer-events','');
          $("a").css('pointer-events','');
          $("input").css('pointer-events','');
          $("circle").css('pointer-events','');
          $("button").css('pointer-events','');
       }
    });
  }
  
};
function saveGroups(){
  
  //Funcion que guarda las agrupaciones.
  var divs = document.querySelectorAll('.cuadradito');
  var jsonArr = [];
  var aux = false;
  for (var i = 0; i < divs.length; i++) {    
    var kaid = divs[i].getAttribute('id');
    var group = divs[i].getAttribute('name');
    if(group=='Avanzados' || group=='Intermedios' || group=='Reforzamiento' ||
       group.substring(0,19)=='SubGrupoIntermedios' || group.substring(0,17)=='SubGrupoAvanzados' || group.substring(0,21)=='SubGrupoReforzamiento'){
      aux = true;
    }
    jsonArr.push({
     kaid_student: kaid,
     group: group
    });    
  }
  var tutorsArr = []; 
  tutorsArr.push({  
  kaid_tutor_reforzamiento:$('#comboBoxReforzamiento').val(),
  kaid_tutor_intermedios:$('#comboBoxIntermedios').val(),  
  kaid_tutor_avanzados:$('#comboBoxAvanzados').val()  
  });  

  arrSubGroups = [];
  $('.subGrupo').each(function(indice, elemento) {
    //alert($(elemento).children('select').val());
    arrSubGroups.push({
      name: $(elemento).attr('id'),
      tutor: $(elemento).children('select').val()
    });
    //console.log('El elemento con el índice '+indice+' contiene '+$(elemento).attr('id'))  ;
  });
  $("input[name='subGroups']").val(JSON.stringify(arrSubGroups)); 
  $("input[name='tutors']").val(JSON.stringify(tutorsArr));  
  $("input[name='student_groups']").val(JSON.stringify(jsonArr));  
  if(aux){
  $(".response").remove();
  $("#hover").fadeIn();
  $("#popup").fadeIn();
  $("#hover").css('pointer-events','none');
  $("#close").css('pointer-events','none');
  $("a").css('pointer-events','none');
  $("input").css('pointer-events','none');
  $("circle").css('pointer-events','none');
  $("button").css('pointer-events','none');
  $("#popup").append($('#profile-throbber2').css('display','none'));
  $('#profile-throbber2').fadeIn();
  $("#popup").append("<p class='response'>Guardando...</p>");
  $.ajax({
     url: "{% url 'groups:getGroups' id_class %}",
     type: "POST",
     data: $("#formJson").serialize(),
     success: function (response) {
        //lo que haces si es exitoso
        $('#profile-throbber2').fadeOut();
          $(".response").remove();
          $("#popup").append("<p class='response' style='display:none'>Agrupacion guardada correctamente.</p>");
          $(".response").fadeIn();
          $("#hover").css('pointer-events','');
          $("#close").css('pointer-events','');
          $("a").css('pointer-events','');
          $("input").css('pointer-events','');
          $("circle").css('pointer-events','');
          $("button").css('pointer-events','');
        location.reload();
     }
  });  
  aux = false;  
  }else{
    $(".response").remove();
    $("#popup").append("<p class='response'>No hay agrupación para guardar.</p>");
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
  }
};
</script>
</head>
   <style>
   .main-content {
    padding: 15px 20px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    z-index: 1;
    width:1220px;
    margin-left: -2.5%;
}
h1{
  text-align: center;
  margin-bottom: 0%;
}
h2{
  font-size: 20px;
  margin-bottom: 0px;
}
h3{
  font-size: 17px;
  margin-bottom: 0px;
  text-align: center;
}
h4{
  font-size: 15px;
  margin-bottom: 5px;
  opacity: 0.8;
}
hr{
  margin-bottom: 10px;
  margin-top: -20px;
  opacity: 0;
}
   #content{
        width: 1250px;
        height: 450px;
      }
#SinGrupo, #Avanzados, #Intermedios, #Reforzamiento, #skills {
  float: left;
  width: 14.4%;
  height: 90%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  overflow-y: scroll;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
#skills{
  width: 23.4%;
}
#SinGrupo{
  background: #FFFFFF;
}

#Avanzados {
  background: #B6D7A8;
}
#Intermedios {
  background: #FFE599;
}
#Reforzamiento {
  background: #EA9999;
}
.cerrar {
background: #C30202;
color: #000000
}
.cuadradito {
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  width: 140px;
  height: 5px;
  padding: 0 10px 15px;
  margin: 5px;
  cursor: move;
  word-wrap: break-word;
  overflow: hidden;
}
.subGrupo {
   border-radius: 3px;
   width: 170px;
   height: 140px;
   padding: 0 6px 15px;
   margin-top: 10px;
   word-wrap: break-word;
   overflow: hidden;
   overflow-y: scroll;
   overflow-y: auto;
   background: rgba(255, 255, 255, 0.6);
}
.nuevo_sub{
  height: 30px;
  line-height: 10px;
  margin: 5px 0;
  padding: 10px 24px;
}
#topictree{
overflow-y: scroll;
height: 363px;
width:25%;
padding: 5px 10px 10px 0px;
margin: 10px;
float:left;
text-align: left;
font-size: 12px;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#topictree_div{
/*text-align: left;
height: 371px;*/
text-align: center;
padding: 10px;
margin: 10px;

}
#skills{
  text-align: left;
  display: none;

}
#timeline3{
overflow-x: scroll;
width: 100%%;
height: 80px;
}
img:hover{
  border: 1px solid green;
}
#containerTimeLine{
  display: inline;
  clear:both;
  width: 100%;
}
#buttons{
  width: 100%;
  height: 50px;
  position: relative;
}
#saveButton{
  float:right;
}
#makeButton{
  float:right;
  margin-right: 5px;
}
#newButton{
  display:none;
  top:-40px;
  right: -80%;
}
#cleanButton{
  display:none;
  top:-40px;
  right: -80%;
}
#name{
  float:right;
  width: 17%;
}
    </style>
    <style type="text/css">
	    .axis path,
	    .axis line {
	      fill: none;
	      stroke: black;
	      shape-rendering: crispEdges;
        z-index:-1;
	    }

	    .axis text {
	      font-family: sans-serif;
	      font-size: 10px;
	    }

	    .timeline-label {
	      font-family: sans-serif;
	      font-size: 12px;
        display: none;
	    }

	    #timeline2 .axis {
	      transform: translate(0px,40px);
	      -ms-transform: translate(0px,40px); /* IE 9 */
	      -webkit-transform: translate(0px,40px); /* Safari and Chrome */
	      -o-transform: translate(0px,40px); /* Opera */
	      -moz-transform: translate(0px,40px); /* Firefox */
	    }
	    
	    .coloredDiv {
	      height:20px; width:20px; float:left;
	    }
	    .svg{
	    	border = 1px solid black;
	    }
      #hoverRes{
        width: 100%;
        height: 40px;
        margin-left: -1%;
      }
      
select {
      cursor: pointer;
      width: 90%;
    font-family: 'Proxima Nova Semibold','Helvetica','Corbel',sans-serif;
    font-size: 13px;
    position: relative;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border: 1px solid;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
        background-color: rgba(255, 255, 255, 0.5);
}

.close{
  position: relative;
  opacity: 0.8;
    z-index: 999999;
    background: #9DB63B;
    color: white;
    right: 0px;
    top: 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 15px;
    /* font-weight: bold; */
    /* font-family: 'Arial Black', Arial, sans-serif; */
    cursor: pointer;
    box-shadow: 0 0 10px 0 #9DB63B;
}
.close:hover{
  opacity: 1;
}

#box2000 > div
{
    -webkit-transition: width 0.2s ease; 
    -moz-transition: width 0.2s ease; 
    -o-transition: width 0.2s ease; 
    -ms-transition: width 0.2s ease;     
    transition: width 0.2s ease; 
}
#box2000 > div:hover
{
    width:120%!important;
    cursor:pointer;
}

@-moz-document url-prefix(){
  div.subGrupo select{
    margin-top:20px;
  }
}

circle{
  cursor: pointer;
  stroke: #FFFFFF;
}
	  </style>

<br>
<div class='main-content'>

  <br>

<h1>Agrupaciones anteriores</h1>
  <div id='containerTimeLine'>
    <form action="" method="post" id='formJson'>{% csrf_token %}
       <input name="skills" type="hidden" value="[]">
       <input name="student_groups" type="hidden" value=''>
       <input name="tutors" type="hidden" value=''>
       <input name="subGroups" type="hidden" value=''>
       
  </form>
    <div id="hoverRes">
      <div id="name"></div>
      <div id="scrolled_date" style="cursor:pointer"></div>
      
    </div>

    <div id="timeline3" ></div>

    <br>
  </div>

<div style="height:54px; margin:10px;">
  <h1>Grupos</h1>
  <button type='input' onclick='newGroups()' class="kui-button kui-button-plain kui-button-primary" id='newButton'><i class="icon-plus-sign"></i> Nueva agrupación</button>
  <button type='input' onclick='cleanGroups()' class="kui-button kui-button-plain kui-button-primary" id='cleanButton'>Limpiar agrupación</button>
</div>
    <div id='content'>
       <div id="SinGrupo" name="SinGrupo" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><ul><h3>No agrupados</h3></ul></div>
 
        <div id="Avanzados" name="Avanzados" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><ul><h3>Avanzados</h3></ul>
        <SELECT id="comboBoxAvanzados" class="comboBoxAvanzados" NAME="comboBox" style="width: 90%" SIZE=1> 
<OPTION VALUE="tutores">Seleccionar Tutor</OPTION>
</SELECT>
<button onclick="crearSubGrupoAvanzados(this);" class='nuevo_sub kui-button kui-button-plain kui-button-primary'>nuevo sub-grupo</button>
<div id="fakeDiv1"></div>
        </div>
 
       <div id="Intermedios" name="Intermedios" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><h3>Intermedios</h3>
       
<SELECT id="comboBoxIntermedios" class="comboBoxIntermedios" NAME="selCombo" style="width: 90%" SIZE=1 onChange=""> 
<OPTION VALUE="link pagina 1">Seleccionar Tutor</OPTION>
</SELECT>
<button onclick="crearSubGrupoIntermedios(this);" class='nuevo_sub kui-button kui-button-plain kui-button-primary'>nuevo sub-grupo</button>
<div id="fakeDiv2"></div>
       </div>
       <div id="Reforzamiento" name="Reforzamiento" class="scroll" ondragover="return over(event)" ondrop="return drop(event)"><h3>Reforzamiento</h3>
       
<SELECT id="comboBoxReforzamiento" class="comboBoxReforzamiento" NAME="selCombo" style="width: 90%" SIZE=1 onChange=""> 
<OPTION VALUE="link pagina 1">Seleccionar Tutor</OPTION>
</SELECT>
<button onclick="crearSubGrupoReforzamiento(this);" class='nuevo_sub kui-button kui-button-plain kui-button-primary'>nuevo sub-grupo</button>
<div id="fakeDiv3"></div>
       </div>
<div class="input-wrapper" id="topictree_div">
  <input id="skill_search" class="ui-corner-all placeholder simple-input search-input blur-on-esc" type="text" placeholder="Busca temas y habilidades">
  <i class="icon-search"></i>
  <div id="topictree" class="scroll"></div>
</div>
<div id="skills" class="scroll"></div>
</div>


<div id="buttons">
  <input type='button' onclick='saveGroups()' class="kui-button kui-button-plain kui-button-primary" value='Guardar' id='saveButton'>
  <input type='button' onclick='makeGroups()' class="kui-button kui-button-plain kui-button-primary" value='Agrupación Automática' id='makeButton'>
</div>
</div>

<div id="popup" style="display:none">
  <div id="close">X</div>
</div>

<script type="text/javascript">
function initGroups(){
 
  {% if students %}
  {% for student in students %}
  {% if student.type == 'SinGrupo' %}
  $("#SinGrupo").append("<div title='{{ student.name }}'  class='cuadradito' name='SinGrupo' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% if student.type == 'Reforzamiento' %}
  $("#Reforzamiento").append("<div title='{{ student.name }}' class='cuadradito' name='Reforzamiento' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% if student.type == 'Intermedios' %}
  $("#Intermedios").append("<div title='{{ student.name }}' class='cuadradito' name='Intermedios' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% if student.type == 'Avanzados' %}
  $("#Avanzados").append("<div title='{{ student.name }}' class='cuadradito' name='Avanzados' id='{{ student.kaid_student }}' draggable='true' ondragstart='start(event)' ondragend='end(event)'>{{ student.name }}</div>");
  {% endif%}
  {% endfor %}
  {% endif %}
  $("#SinGrupo").append("<div title='Sin Tutor' id='{{ user.user_profile.kaid }}' style='visibility: hidden;'></div>");

};
initGroups();
</script>
<script>
var topictree = JSON.parse('{{ topictree | escapejs }}');
$('#topictree').on('changed.jstree', function (e, data) {
   selected_skills=$('#topictree')
   
.jstree()
   
.get_bottom_selected(true);
   selected_skills_id=new Array();
   //Get selected skills (leaves of the topictree json)
   for (i=0;i< selected_skills.length;i++){
   
if (selected_skills[i].data){
   
selected_skills_id.push(selected_skills[i].data["skill_id"]);
   
}
   }
   //Remove duplicate skill id's in case they have been associated to more than one selected subskill
   selected_skills_id = selected_skills_id.filter(
   
function( item, index, inputArray ) {
return inputArray.indexOf(item) == index;
});
$('input[name="skills"]').val(JSON.stringify(selected_skills_id));
   }).jstree(topictree);
   var to=false;
   $('#skill_search').keyup(function () {
   if(to) { clearTimeout(to); }
   to = setTimeout(function () {
     var v = $('#skill_search').val();
     $('#topictree').jstree(true).search(v);
   }, 250);
  });
  var to=false;
   $('#skill_search').keyup(function () {
   if(to) { clearTimeout(to); }
   to = setTimeout(function () {
     var v = $('#skill_search').val();
     $('#topictree').jstree(true).search(v);
   }, 250);
  });;
</script>
<script type="text/javascript">

function formatDate(dd,mm,yyyy,h,m,s){
  if(dd<10){
    dd='0'+dd
  } 
  if(mm<10){
    mm='0'+mm
  } 
  if(h<10){
    h='0'+h
  } 
  if(m<10){
    m='0'+m
  }
  if(s<10){
    s='0'+s
  }
  return dd+"/"+mm+"/"+yyyy+" "+h+":"+m+":"+s;
}

  var colorScale = d3.scale.ordinal().range(['#1c758a'])
    .domain(['KhanBlue']);

window.onload = function() {
		var testData = [];
    var dates = [];
    var separate = 2*3600000;
    var cont = 1;
		var master_groups = JSON.parse('{{ groups | escapejs }}');
		for (i=0;i<master_groups.length;i++){
      date = new Date(master_groups[i]['fields']['date']);
      times ={};
      var arr=[];
      dic = {};

      if (dates.indexOf(master_groups[i]['fields']['date']) == -1){
        dates.push(master_groups[i]['fields']['date']);
        dic.starting_time = date.getTime();
        dic.ending_time = dic.starting_time+20;
        arr.push(dic);
        cont=1;
      }
      else{
        dic.starting_time = date.getTime()  + (separate*cont);
        dic.ending_time = dic.starting_time+20;
        arr.push(dic);
        cont=cont+1;
      }

      times.color = 'KhanBlue';
			times.times = arr;
			times.label = formatDate(date.getDate(),(date.getMonth()+1),date.getFullYear(),date.getHours(),date.getMinutes(),date.getSeconds());

			times.id = master_groups[i]['pk'];
			testData.push(times);
      //date = new Date(testData[i].times[0].starting_time);
      date = new Date(testData[i].label);
		};

		var width = testData.length*100;
    if (width<1158){
      width=1158;
    }

var className;

  function timelineHover() {
    //funcion que controla la linea de tiempo. y la visualizacion de las agrupaciones.
    var chart = d3.timeline()
      .tickFormat({
        format: d3.time.format("%d/%m/%Y"),
        tickTime: d3.time.days,
        tickInterval: 1,
        tickSize: 20
      })
      .colors( colorScale )
      .colorProperty('color')
      //.stack()
      .beginning(testData[0].times[0].starting_time - 86400000)
      .ending(testData[testData.length-1].times[0].ending_time + 86400000 -7200000)
      .rotateTicks()
      .width(width*1)
      .margin({left:30, right:80, top:10, bottom:0})
      .hover(function (d, i, datum) {
      // d is the current rendering object
      // i is the index during d3 rendering
      // datum is the id object
        var div = $('#hoverRes');
        var colors = chart.colors();
        div.find('.coloredDiv').css('background-color', '#1C758A')
        div.find('#name').text("Fecha: "+datum.label);
      })
      .click(function (d, i, datum) {
        $("circle").css('cy','20px');
        $("#timelineItem_"+datum.id).css('cy','15px');
        className = $("#timelineItem_"+datum.id).attr('class');
        /*console.log(className);
        $("#timelineItem_"+datum.id).attr('class') = "selected";
        $("#timelineItem_"+datum.id).addClass(className+" selected");
        $("circle").removeClass("selected");*/
      	//Funcion que carga todos los datos del grupo datum.id
      	var groups
        var students
        var skills
      	$.ajax({ // solicita los grupos creados en la agrupacion seleccionada
			   url: "{% url 'groups:getMakedGroup' id_class %}",
			   type: "POST",
         async: false,
			   data: {id_master_group : datum.id},
			   success: function (response) {
					groups = JSON.parse(response);
          //Eliminar las agrupaciones anteriores mostradas en pantalla.
          $('.cuadradito').appendTo('#SinGrupo');
          $('select').remove();
          $('#Avanzados').empty();
          $('#Intermedios').empty();
          $('#Reforzamiento').empty();
					for(var i=0;i<groups.length;i++){//en este for se crean todos los div segun la agrupacion seleccionada.
            //Agrega cada subgrupo en el div que le corresponde.
            type = "#"+groups[i]['fields']['type'];//type grupo
            tutor = "#"+groups[i]['fields']['kaid_student_tutor'];
            if (type == '#Avanzados'){
              $('#Avanzados').append("<h3>Avanzados<h3><h4>Tutor: "+$(tutor).attr('title')+"</h4>");
              $('#Avanzados').append("<div id='fakeDiv1'></div>");
              $("#Avanzados").append("<div class='"+(groups[i]['pk']).toString()+"' ></div>");
              
            }
            if (type == '#Intermedios'){
              $("#Intermedios").append("<h3>Intermedios<h3><h4>Tutor: "+$(tutor).attr('title')+"</h4>");
              $('#Intermedios').append("<div id='fakeDiv2'></div>");
              $("#Intermedios").append("<div class='"+(groups[i]['pk']).toString()+"' ></div>");
              
            }
            if (type == '#Reforzamiento'){
              $("#Reforzamiento").append("<h3>Reforzamiento<h3><h4>Tutor: "+$(tutor).attr('title')+"</h4>");
              $('#Reforzamiento').append("<div id='fakeDiv3'></div>");
              $("#Reforzamiento").append("<div class='"+(groups[i]['pk']).toString()+"' ></div>");
              
            }
            if (type.substring(1,22) == 'SubGrupoReforzamiento'){
              $("#fakeDiv3").append("<br><hr><div class='subGrupo scroll "+(groups[i]['pk']).toString()+"' id='"
                +groups[i]['fields']['type']+"'><h4>Tutor: "+$(tutor).attr('title')+"</h4></div>");
            }
            if (type.substring(1,20) == 'SubGrupoIntermedios'){
              $("#fakeDiv2").append("<br><hr><div class='subGrupo scroll "+(groups[i]['pk']).toString()+"' id='"
                +groups[i]['fields']['type']+"' ><h4>Tutor: "+$(tutor).attr('title')+"</h4></div>");
            }
            if (type.substring(1,18) == 'SubGrupoAvanzados'){
              $("#fakeDiv1").append("<br><hr><div class='subGrupo scroll "+(groups[i]['pk']).toString()+"' id='"
                +groups[i]['fields']['type']+"' ><h4>Tutor: "+$(tutor).attr('title')+"</h4></div>");
            }
					}
			   }
		    });
        $.ajax({ // solicita los estudiantes de cada grupo
         url: "{% url 'groups:getStudentGroup' id_class %}",
         type: "POST",
         async: false,
         data: {id_master_group : datum.id},
         success: function (response) {
            students = JSON.parse(response);
            for(var i=0;i<students.length;i++){
              var g = "." + (students[i]['fields']['id_group']).toString();
              var s = "#" + (students[i]['fields']['kaid_student']).toString();
              $(s).appendTo(g);//agrega cada estudiante a su correspondiente agrupacion.
          }
         }
        });
        $('#topictree_div').remove();
        $('#saveButton').remove();
        $('#makeButton').remove();
        $.ajax({ // solicita las habilidades de cada grupo
         url: "{% url 'groups:getSkillGroup' id_class %}",
         type: "POST",
         async: false,
         data: {id_master_group : datum.id},
         success: function (response) {
            skills = JSON.parse(response);
            $('#skills').empty();
            $('#skills').css('display','inline');
            $('#skills').append("<h3>Habilidades</h3><br>");
            if(skills.length==0){
              $('#skills').append("<li>No hay Habilidades asociadas</li>");
            }
            else{
              for(var i=0;i<skills.length;i++){
                $('#skills').append("<li>"+skills[i]['fields']['name_spanish']+"</li>");
              }
            }
         }
        });
        $(".cuadradito").removeAttr("draggable");
        $('.nuevo_sub').remove()
        $('#ascrail2004').remove()
        $('#ascrail2004-hr').remove()
        $('#cleanButton').remove();
        $('#newButton').show();
      })
      .scroll(function (x, scale) {
      })
      .display("circle")
      .itemMargin(-10);
    var svg = d3.select("#timeline3").append("svg").attr("width", width)
      .datum(testData).call(chart);
  }
  timelineHover();
  $("#timeline3").scrollLeft(width);//lleva el scrollbar al final
  d3.selectAll("circle").each(function(d){
    this.parentNode.appendChild(this);
  });

  d3.selectAll("circle").on("mouseover", 
    function(d) {
      //$("circle").css('cy','20px');
      $(this).css('cy','15px');
    });

  d3.selectAll("circle").on("mouseout", 
    function(d) {
      if ($(this).attr("class")==className){
        $(this).css('cy','15px');
      }
      else{
        $(this).css('cy','20px');
      }
    });

  /*d3.selectAll("circle").on("click", 
    function(d) {
      $("circle").css('cy','20px');
      $(this).css('cy','15px');
    });*/

  $("#timeline3").niceScroll({ cursorwidth:'10px', autohidemode: false, cursorcolor:'#D9D9D9' });
}

function newGroups() {
  $("#popup_evaluacion").append($('#profile-throbber2').css('display',''));
  loading();
  location.reload();
};
function cleanGroups() {
  $('.cuadradito').remove();
  $('.subGrupo').remove();
  $('#cleanButton').hide();
  initGroups();
};
</script>

<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript"> 
    $(document).ready(function () {
    $(".scroll").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9' })
    });

$(document).ready(function(){
    
    //chiusura al click sulla parte scura
    $("#hover").click(function(){
          $(this).fadeOut();
      $("#popup").fadeOut();
      });
    
    //chiusura al click sul pulsante
    $("#close").click(function(){
          $("#hover").fadeOut();
      $("#popup").fadeOut();
      });
  });

</script>

<script>
    //$( ".jstree-themeicon" ).remove();
    $('#topictree').jstree(true).hide_icons();
  </script>
{% endblock %}
