<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es-es">
<head>
<title>3 Columnas diseño liquido - Recursos CSS - araudi.net adaptado por Aresillo para ircop</title>
<style type="text/css">
* {margin:0;padding:0;}
html, body {height: 100%;}

#contenedor {width: 880px;height: 100%; margin-top:1em; border:2px solid; padding:1em;}
#col_der, #col_izq, #col_cen {height: 100%;}
#col_der {float: right; width: 10%;background-color: #f00;}
#col_izq {float: left; width: 20%;padding: 0,5em; background: #999;}
#col_cen {background-color: #ccc;}
</style>
</head>
<body>
<div id="contenedor">
<div id="col_der"></div>
<div id="col_izq"></div>
<div id="col_cen"></div>
</div>
</body>
</html>