{% extends 'home.html' %}

{% load static %}

{% block title %}Mis Pautas de Evaluacion{% endblock %}

{% block body2 %}

<link rel="stylesheet" type="text/css" href="{% static 'css/myAssesmentConfigs.css'%}">

<script>
function getTopicTree(id){
	var topictree = JSON.parse('{{ topictree | escapejs }}');
	console.log(topictree);
		$('#topictree'+id).on('changed.jstree', function (e, data) {
		    selected_skills=$('#topictree'+id).jstree().get_bottom_selected(true);
		    selected_skills_id=new Array();
		    //Get selected skills (leaves of the topictree json)
		    for (i=0;i< selected_skills.length;i++){
		    	if (selected_skills[i].data){
		    		selected_skills_id.push(selected_skills[i].data["skill_id"]);
		    	}
		    }
		    //Remove duplicate skill id's in case they have been associated to more than one selected subskill
		    selected_skills_id = selected_skills_id.filter(
		    						function( item, index, inputArray ) {
										return inputArray.indexOf(item) == index;
									});
			$('input[name="skills'+id+'"]').val(JSON.stringify(selected_skills_id));
	    }).jstree(topictree);
		
		var to=false;
	    $('#skill_search'+id).keyup(function () {
		    if(to) { clearTimeout(to); }
		    to = setTimeout(function () {
		      var v = $('#skill_search'+id).val();
		      $('#topictree'+id).jstree(true).search(v);
		    }, 250);
	});

}

var json_configs = JSON.parse('{{ json_data | escapejs }}');
var configs = json_configs.assesmentConfigs;

function slidear(id){
	if (id==0){
		var selected_value=50;
		starting_values=[50];
	}
	else{
		var selected_value=configs[id-1]["importance_skill_level"];
		starting_values=[configs[id-1]["importance_skill_level"]];
	}
	$( "#slider"+id ).slider({
		min: 0,
		max: 100,
		values: starting_values,
			slide: function (event, ui) {
	        onSlide(ui,id)
	    },
	    create: function (event, ui) {
	        onSlide({
	            values: starting_values
	        });
	    }
	});
	if (id!=0){
		$( "#slider"+id ).slider( "disable" );
	}
	refreshSlider(id);
}

function refreshSlider(id){
	var total_width = $("#slider"+id).width();
	if (id==0){
		selected_value = ui.values[0];
	}
	else{
	    selected_value = configs[id-1]["importance_skill_level"];
	}
    importance_skill_level = selected_value;
    importance_completed_rec = 100 - selected_value; 
    $("#importance_skill_level"+id).html(importance_skill_level);
    $('input[name="importance_skill_level"]').val(importance_skill_level);
    $("#importance_completed_rec"+id).html(importance_completed_rec);
    $('input[name="importance_completed_rec"]').val(importance_completed_rec);
    $("#left-color"+id).width(selected_value / 100 * total_width);
}

function onSlide(ui,id) {
    var total_width = $("#slider"+id).width();
    selected_value = ui.values[0];
    importance_skill_level = selected_value;
    importance_completed_rec = 100 - selected_value; 
    $("#importance_skill_level"+id).html(importance_skill_level);
    $('input[name="importance_skill_level'+id+'"]').val(importance_skill_level);
    $("#importance_completed_rec"+id).html(importance_completed_rec);
    $('input[name="importance_completed_rec'+id+'"]').val(importance_completed_rec);
    $("#left-color"+id).width(selected_value / 100 * total_width);
}
</script>


<br>

<div class="container">
	<div id="sidebar">
    	<ul>
    		<li id="pestana0"><a href='javascript:cambiarPestanna(pestana0);' class="select"><i class="icon-plus-sign"></i> Nueva Configuracion</a></li>
        	{% for config in assesment_configs %}  
			<li id="pestana{{ forloop.counter }}"><a href='javascript:cambiarPestanna(pestana{{ forloop.counter }});' >{{ config.name }}</a></li>
			{% endfor %}
        </ul>
    </div>
    <div class="main-content" style="height:545px">
    	{% block new %} {% endblock %}
    	
    	
	 <div id="contenidopestanas">
	 
			 <!-- ------------------Nueva Pauta------------------------------------- -->
			 <div id="cpestana0" class="cpestanna">
				<h2>Nueva Pauta</h2>
				<div id="form00" class="form">
					<form action="" method="post" id="form0">{% csrf_token %}
						<h3>Datos de la Pauta:</h3>
						<label for='name'>Nombre de la Pauta: </label><input name="name" type="text" onchange="validar()" onkeyup="validar()" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalName" value="" ><br>
						<br>
						<label for='approval_percentage'>Porcentaje de Aprobación: </label><input type="number" onchange="validar()" onkeyup="validar()" name="approval_percentage" value="" min="0" max="100" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalPercentage" ><br>
						<br>
						<input name="importance_skill_level0" value="50" type="hidden">
				    	<input name="importance_completed_rec0" value="50" type="hidden">
				    	<input name="id" type="hidden" value="0">
				        <input name="skills0" type="hidden" value="[]">
						<br>
						<h4 style="text-align:center">% de Importancia para la Evaluación</h4>
						<div id="skill_level_div0" class="percentage">
							<span id="importance_skill_level0">50</span>%</br>
							<!-- Nivel de Dominio logrado -->
						</div>
						<div id="slider_up">
							<div id="slider0" class="slider">
								<div id="left-color0" class="left-color" style="width: 50%">
								</div>
							</div>
						</div>
						<div id="completed_rec_div0" class="percentage">
							<span id="importance_completed_rec0">50</span>%</br>
							<!-- Recomendaciones Completadas -->
						</div><br>
						<div id="legends" style="margin-top:0px;width:100%;height:50px"><p style="text-align:left;float:left;width:120px;margin-top:0px">Nivel de Dominio Logrado</p><p style="text-align:right;float:right;width:110px;margin-top:0px;margin-right:7%">Recomendaciones Completadas</p></div>
						<script>slidear(0);</script>
						<div style="float:left;margin-left:125px"><a href='javascript:saveConfig()' class="kui-button kui-button-plain kui-button-primary">Guardar Pauta</a></div>
					</form>
				</div>
				<div id="skills">
					<h3>Habilidades</h3>
					<div id="search">
					<label for='skill_search0'>Buscar: </label><input id="skill_search0" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc" >
					</div>
					<div id="topictree0" class="topictree"><script>getTopicTree(0);</script></div>
				</div>
			</div>
			 <!-- ------------------FIN Nueva Pauta------------------------------------- -->



    	{% for config in assesment_configs %}
    	
	<div id="cpestana{{ forloop.counter }}" style="display:none" class="cpestanna">
	<h2>{{ config.name }}</h2>
	<div id="form{{ forloop.counter }}{{ forloop.counter }}" class="form">
		<form action="" method="post" id="form{{ forloop.counter }}">{% csrf_token %}
			<h3>Datos de la Pauta:</h3>
			<label for='name'>Nombre de la Pauta: </label><input name="name" type="text" onchange="validar()" onkeyup="validar()" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalName" value="{{ config.name }}" disabled><br>
			<br>
			<label for='approval_percentage'>Porcentaje de Aprobación: </label><input type="number" name="approval_percentage" value="{{ config.approval_percentage }}" min="0" max="100"  onchange="validar()" onkeyup="validar()" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalPercentage" disabled><br>
			<br>
			<input name="forloop" value="{{ forloop.counter }}" type="hidden">
			<input name="importance_skill_level{{ forloop.counter }}" type="hidden">
	    	<input name="importance_completed_rec{{ forloop.counter }}" type="hidden">
	        <input name="skills{{ forloop.counter }}" id="skillsInput{{ forloop.counter }}" type="hidden" value="[]">
	        
			<br>
			<h4 style="text-align:center">% de Importancia para la Evaluación</h4>
			<div id="skill_level_div{{ forloop.counter }}" class="percentage">
				<span id="importance_skill_level{{ forloop.counter }}">50</span>%</br>

			</div>
			
			<div id="slider_up">
				<div id="slider{{ forloop.counter }}" class="slider">
					<div id="left-color{{ forloop.counter }}" class="left-color" style="width: 50%">
					</div>
				</div>
			</div>
			
			<div id="completed_rec_div{{ forloop.counter }}" class="percentage">
				<span id="importance_completed_rec{{ forloop.counter }}">50</span>%</br>

			</div><br>
			<div id="legends" style="margin-top:0px;width:100%;height:50px"><p style="text-align:left;float:left;width:120px;margin-top:0px">Nivel de Dominio Logrado</p><p style="text-align:right;float:right;width:110px;margin-top:0px;margin-right:7%">Recomendaciones Completadas</p></div>
			<script>slidear({{ forloop.counter }});</script>
			
		{% if config.applied %}

			<p class="applied" style="float:left"> Pauta aplicada. No editable. </p>
			</form>
	</div>
	
	<div id="skills">
		<h3>Habilidades</h3>
		<div id="topictree{{ forloop.counter }}" class="scroll topictree"></div>
		<script>
	        	skills = json_configs["assesmentConfigs"][{{ forloop.counter }}-1]["assesment_skills_spanish"];
	        	for (i=0;i<skills.length;i++){ 
	        		$("#topictree{{ forloop.counter }}").append("<li>"+(skills[i].name_spanish)+"</li>")
	        	}
	        </script>
	</div>

		{% else %}
		<div style="float:left;margin-left:50px">
				<a href='javascript:openEditConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" id="editConfigButton{{ forloop.counter }}">Editar Pauta</a>
				<a href='javascript:deleteConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" id="deleteConfigButton{{ forloop.counter }}">Eliminar Pauta</a>
			</div>
			<div style="float:left;margin-left:50px">
				<a href='javascript:cancelEditConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" style="display:none" id="cancelEditConfigButton{{ forloop.counter }}">Cancelar</a>
				<a href='javascript:editConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" style="display:none" id="saveConfigButton{{ forloop.counter }}">Guardar Cambios</a>
			</div>
		</form>

	</div>
	<div id="skills">
		<h3>Habilidades</h3>
		<div id="search">
		<label for='skill_search{{ forloop.counter }}'>Buscar: </label><input id="skill_search{{ forloop.counter }}" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc" disabled>
		</div>
		<div id="topictree{{ forloop.counter }}" class="scroll topictree"><script>getTopicTree({{ forloop.counter }});</script></div>
		<script>

				skills = json_configs["assesmentConfigs"][{{ forloop.counter }}-1]["assesment_skills_spanish"];
				id_skills = json_configs["assesmentConfigs"][{{ forloop.counter }}-1]["assesment_skills"];
	        	for (i=0;i<id_skills.length;i++){ 
	        		alert(id_skills[i].id_skill_name_id)
	        		//$("#topictree{{ forloop.counter }}").append("<li>"+(skills[i].name_spanish)+"</li>")
	        	}
	        	document.getElementById("skillsInput{{ forloop.counter }}").value = JSON.stringify(json_configs["assesmentConfigs"][{{ forloop.counter }}-1]["assesment_skills"]);
	        	console.log(JSON.stringify(json_configs["assesmentConfigs"][{{ forloop.counter }}-1]["assesment_skills"]));
	        	$('#topictree{{ forloop.counter }}').jstree(true).select_all();
	        	$('#topictree{{ forloop.counter }}').jstree(true).show_stripes();
	        	$('#topictree{{ forloop.counter }}').jstree(true).show_dots();
	        	$('#topictree{{ forloop.counter }}').jstree(true).disable_node($('math'));
	        	var nodes = $('#topictree{{ forloop.counter }}').jstree(true).show_stripes();
	        	console.log(nodes);
	        	




	        	//$('#topictree{{ forloop.counter }}').jstree().change_state('math', false);
	        	/*$('#topictree{{ forloop.counter }}').jstree().select_node($('math'));
	        	$('#topictree{{ forloop.counter }}').jstree().disable_node($('math'));*/
	        </script>
	</div>

		{% endif %} 

</div> 
{% endfor %}


</div>
</div>

	<div id="popup" style="display:none">
    	<div id="close">X</div>
    	<div id="deleteConfig" style="display:none">
    		<p>Desea eliminar la pauta?</p>
    		
    	</div>
    	<div id="editConfig" style="display:none">
    		<p>Desea confirmar los cambios?</p>
    	</div>
    </div>
    
</div>

</div> <!-- cerrar div principal del home  -->

<script>
	function setMainContentHeight(){
		sidebar = document.getElementById('sidebar');
		var lis = sidebar.getElementsByTagName('li');
		var mainContent = document.getElementsByClassName("main-content");
		var height1 = 545;
		if (lis.length>8){
			for(i=8;i<lis.length;i++){
				height1 = height1+(i*5);
			}
		}
		mainContent = document.getElementsByClassName('main-content');
		height2 = (height1).toString();
		mainContent[0].style.height = height2+"px";
	}
	setMainContentHeight();

function cambiarPestanna(pestanna) {
	 pestanna = document.getElementById(pestanna.id);
	 cpestanna = document.getElementById('c' + pestanna.id);
	 cpestannas = document.getElementsByClassName('cpestanna');
	 contenidopestanas = document.getElementById('contenidopestanas');
	 
	 for (i=0;i<cpestannas.length;i++){
		 $(contenidopestanas.getElementsByClassName('cpestanna')[i]).css('display', 'none');
		 
	 }
	 $(document).ready(function () {
		 $(document.getElementsByClassName("select")).removeClass("select");
	     $(cpestanna).css('display', '');
	     $(pestanna.getElementsByTagName('a')).addClass("select");
	 });
}

function reloadLocation(){
	//chiusura al click sulla parte scura
	  $("#hover").click(function(){
	        $(this).fadeOut();
	    $("#popup").fadeOut();
	    location.reload();
	    });
	  //chiusura al click sul pulsante
	  $("#close").click(function(){
	        $("#hover").fadeOut();
	    $("#popup").fadeOut();
	    location.reload();
	    });
}

var auxResponse;

function saveConfig(id){
	//alert("intentando guardar");
	$.ajax({
		url: "{% url 'AssesmentConfigs:nueva_configuracion' %}",
		type: "POST",
		data: $("#form0").serialize(),
			success: function(response){
				//alert(response);
				$('#deleteConfig').css('display', 'none');
				$('#editConfig').css('display', 'none');
				$('.response').remove();
				$("#hover").fadeIn().css('display', '');
				$("#popup").fadeIn().css('display', '');
				$("#popup").append("<p class='response'>"+response+"</p>");
				auxResponse = response;
				if (auxResponse == "Pauta guardada correctamente"){
					reloadLocation();
				}
			}
	});
}

function openEditConfig(id){
	//if (configs[id-1]["applied"]==false){
		cpestana = document.getElementById('cpestana'+id);
		inputs = cpestana.getElementsByTagName('input');
		for (i=0;i<inputs.length;i++){
			inputs[i].removeAttribute("disabled");
		}
		$( "#slider"+id ).slider( "enable" );
		$(document.getElementById('cancelEditConfigButton'+id)).css('display', '');
		$(document.getElementById('saveConfigButton'+id)).css('display', '');
		$(document.getElementById('editConfigButton'+id)).css('display', 'none');
		$(document.getElementById('deleteConfigButton'+id)).css('display', 'none');

	//}
	/*else{
		$('.response').remove();
		$("#hover").fadeIn().css('display', '');
		$("#popup").fadeIn().css('display', '');
		$("#popup").append("<p class='response'>Pauta aplicada, no se puede modificar</p>");
	}*/
}

function cancelEditConfig(id){
	cpestana = document.getElementById('cpestana'+id);
	inputs = cpestana.getElementsByTagName('input');
	for (i=0;i<inputs.length;i++){
		inputs[i].setAttribute("disabled","");
	}
	
	$( "#slider"+id ).slider( "disable" );
	$(document.getElementById('cancelEditConfigButton'+id)).css('display', 'none');
	$(document.getElementById('saveConfigButton'+id)).css('display', 'none');
	$(document.getElementById('editConfigButton'+id)).css('display', '');
	$(document.getElementById('deleteConfigButton'+id)).css('display', '');
	slidear(id);
	
	inputs[1].removeAttribute("value");
	var name = document.createAttribute("value");
	name.value = configs[id-1]["name"];
	inputs[1].setAttributeNode(name);
}

function editConfig(id){
	if (configs[id-1]["applied"]==false){
		$("#hover").fadeIn().css('display', '');
		$("#popup").fadeIn().css('display', '');
		$('.response').remove();
		$('#deleteConfig').css('display', 'none');
		$("#acceptEdit").remove();
		$("#cancelEdit").remove();
		$("#editConfig").css('display','');
		$("#editConfig").append("<a href='javascript:confirmEdit(1,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='acceptEdit'>Aceptar</a>");
		$("#editConfig").append("<a href='javascript:confirmEdit(0,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='cancelEdit'>Cancelar</a>");
	}
	else{
		alert("no se puede borrar");
	}
}

function confirmEdit(answer,id){
	if (answer==1){
		$.ajax({
			url: "/inicio/pautas/editar/"+(configs[id-1]["id_assesment_config"].toString()).concat("/"),
			type: "POST",
			data: $("#form"+id).serialize(),
				success: function(response){
					$('.response').remove()
					$("#hover").fadeIn().css('display', '');
					$("#popup").fadeIn().css('display', '');
					$("#popup").append("<p class='response'>"+response+"</p>");
				}
		});
		$("#hover").fadeOut().css('display', 'none');
		$("#popup").fadeOut().css('display', 'none');
		$("#editConfig").fadeOut().css('display','none');
	}
	else{
		$("#hover").fadeOut().css('display', 'none');
		$("#popup").fadeOut().css('display', 'none');
		$("#editConfig").fadeOut().css('display','none');
	}
}


function deleteConfig(id){
	if (configs[id-1]["applied"]==false){
		$("#hover").fadeIn().css('display', '');
		$("#popup").fadeIn().css('display', '');
		$("#deleteConfig").css('display','');
		$('.response').remove();
		$('#editConfig').css('display', 'none');
		$("#acceptDelete").remove();
		$("#cancelDelete").remove();
		$("#deleteConfig").append("<a href='javascript:confirmDelete(1,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='acceptDelete'>Aceptar</a>");
		$("#deleteConfig").append("<a href='javascript:confirmDelete(0,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='cancelDelete'>Cancelar</a>");
	}
	else{
		$('.response').remove();
		$("#hover").fadeIn().css('display', '');
		$("#popup").fadeIn().css('display', '');
		$("#popup").append("<p class='response'>Pauta aplicada, no se puede eliminar</p>");
	}
}

function confirmDelete(answer,id){
	if (answer==1){
		$.ajax({
			url: "/inicio/pautas/eliminar/"+(configs[id-1]["id_assesment_config"].toString()).concat("/"),
			type: "POST",
				success: function(response){
					$('.response').remove();
					$("#hover").fadeIn().css('display', '');
					$("#popup").fadeIn().css('display', '');
					$("#popup").append("<p class='response'>"+response+"</p>");
				}
		});
		$("#hover").fadeOut().css('display', 'none');
		$("#popup").fadeOut().css('display', 'none');
		$("#deleteConfig").fadeOut().css('display','none');
		reloadLocation()
	}
	else{
		$("#hover").fadeOut().css('display', 'none');
		$("#popup").fadeOut().css('display', 'none');
		$("#deleteConfig").fadeOut().css('display','none');
	}
}

function validar(){
	flag = true
	approval_percentage = document.getElementsByClassName("approvalPercentage");
	//alert(approval_percentage)
	for (var a=0;a<approval_percentage.length;a++){
		//alert(approval_percentage[a].value)
		if(approval_percentage[a].value == null || approval_percentage[a].value<0 || approval_percentage[a].value>100 || approval_percentage[a].value.length == 0 || /^\s+$/.test(approval_percentage[a].value)) {

			$(approval_percentage[a]).css('color', '#C30202');
			flag = false
		}else{
			$(approval_percentage[a]).css('color', '#000000');
		}
	}
	return flag
}

$(document).ready(function(){
  
  //chiusura al click sulla parte scura
  $("#hover").click(function(){
        $(this).fadeOut();
    $("#popup").fadeOut();
    });
  
  //chiusura al click sul pulsante
  $("#close").click(function(){
        $("#hover").fadeOut();
    $("#popup").fadeOut();
    });
  
});

</script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript"> 
    $(document).ready(function () {
    $(".topictree").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9', zindex:'1000' })
    });
</script>
{% endblock %}