{% extends 'home.html' %}

{% load static %}

{% block title %}Mis Pautas de Evaluacion{% endblock %}

{% block body2 %}

<link rel="stylesheet" type="text/css" href="{% static 'css/myAssesmentConfigs.css'%}">

<style>
	#topbar {
		float:left;
		position: relative;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		z-index: 2;
		height: 40px;
		/*margin-right: -1px;*/
	}

	#topbar ul.tab {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#topbar ul.tab li {
		margin: 0;
		max-height: 50px;
	}

	#topbar ul.tab li a {
		padding: 4px 27px;
		font-size: 14px;
		font-weight: 100;
		background: #EEEEEE;
		text-decoration: none;
		display: block;
		border: 1px solid #ddd;
		color: black;
		-webkit-transition:  background 0.3s ease-in-out;
		-moz-transition:  background 0.3s ease-in-out;
		-ms-transition:  background 0.3s ease-in-out;
		-o-transition:  background 0.3s ease-in-out;
		transition:  background 0.3s ease-in-out;
	}

	#topbar ul.tab li a.select2{
		border-bottom: 1px solid #f7f7f7;
		background: #f7f7f7;
		color: #56861f;
		pointer-events: none;
	}

	#topbar ul.tab li:hover a {
		background: #f7f7f7;
		color: #56861f;
	}

	#topbar ul.tab li:visited a {
		background: #f7f7f7;
		color: #56861f;
	}

	#topbar ul.tab li {
		float: left;
	}

	.container{
		margin-top: 20px;
	}

	.main-content{
		height: 600px;
	}

</style>

<script>
	var json_configs = JSON.parse('{{ json_data | escapejs }}');
	var configs = json_configs.assesmentConfigs;

	function getTopicTree(id, content=""){
		var data = JSON.parse('{{ json_data | escapejs }}');

		if (content == "") var topictree = JSON.parse('{{ topictree | escapejs }}');	
		else var topictree = content;
		
		$('#topictree'+id).jstree(topictree);
		
		var to = false;
	    $('#skill_search'+id).keyup(function () {
		    if (to) clearTimeout(to);
		    to = setTimeout(function () {
		      var v = $('#skill_search'+id).val();
		      $('#topictree'+id).jstree(true).search(v);
		    }, 250);
		});

		$('#topictree'+id).jstree(true).hide_icons();
	}

	

	function slidear(id){
		if (id==0){
			var selected_value=50;
			starting_values=[50];
		}
		else{
			var selected_value=configs[id-1]["importance_skill_level"];
			starting_values=[configs[id-1]["importance_skill_level"]];
			$("input[name='importance_skill_level"+id+"']").val(starting_values);
			$("input[name='importance_completed_rec"+id+"']").val(100-starting_values);
		}
		$( "#slider"+id ).slider({
			min: 0,
			max: 100,
			values: starting_values,
				slide: function (event, ui) {
		        onSlide(ui,id)
		    },
		    create: function (event, ui) {
		        onSlide({
		            values: starting_values
		        });
		    }
		});
		if (id!=0){
			$( "#slider"+id ).slider( "disable" );
		}
		refreshSlider(id);
	}

	function refreshSlider(id){
		var total_width = $("#slider"+id).width();
		if (id!=0){
		    selected_value = configs[id-1]["importance_skill_level"];
		}
	    importance_skill_level = selected_value;
	    importance_completed_rec = 100 - selected_value; 
	    $("#importance_skill_level"+id).html(importance_skill_level);
	    $('input[name="importance_skill_level"]').val(importance_skill_level);
	    $("#importance_completed_rec"+id).html(importance_completed_rec);
	    $('input[name="importance_completed_rec"]').val(importance_completed_rec);
	    $("#left-color"+id).width(selected_value / 100 * total_width);
	}

	function onSlide(ui,id) {
	    var total_width = $("#slider"+id).width();
	    selected_value = ui.values[0];
	    importance_skill_level = selected_value;
	    importance_completed_rec = 100 - selected_value; 
	    $("#importance_skill_level"+id).html(importance_skill_level);
	    $('input[name="importance_skill_level'+id+'"]').val(importance_skill_level);
	    $("#importance_completed_rec"+id).html(importance_completed_rec);
	    $('input[name="importance_completed_rec'+id+'"]').val(importance_completed_rec);
	    $("#left-color"+id).width(selected_value / 100 * total_width);
	}

</script>

<div class="container">
	<div id="sidebar">
    	<ul>
    		<li id="pestana0" style="display:none"><a href='#' onclick='javascript:cambiarPestanna(pestana0);' class="select"><i class="plus"></i> Nueva Pauta</a></li>
        	{% for config in assesment_configs %}  
				<li id="pestana{{ forloop.counter }}" style="display:none"><a href='#' onclick='javascript:cambiarPestanna(pestana{{ forloop.counter }});' >{{ config.name }}</a></li>
			{% endfor %}
        </ul>
    </div>

    <div class="main-content" style="height: 600px;">
    	{% block new %} {% endblock %}
    	
	 	<div id="contenidopestanas" style="display:none">

			 <!-- Nueva Pauta -->
			 <div id="cpestana0" class="cpestanna">
				<h2>Nueva Pauta de Evaluación</h2>
				<div id="form00" class="form">
					<form action="" method="post" id="form0">{% csrf_token %}
						<h3>Datos de la Pauta:</h3>
						<label for='name'>Nombre de la Pauta: </label><input name="name" type="text" onchange="validar()" onkeyup="validar()" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalName" value="" ><br>
						<br>
						<label id="apprPer" for='approval_percentage'>Porcentaje de Aprobación: </label><input type="number" onchange="validar()" onkeyup="validar()" name="approval_percentage" value="" min="0" max="100" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalPercentage" onkeydown="return FilterInput(event)"><br>
						<br>
						<input name="importance_skill_level0" value="50" type="hidden">
				    	<input name="importance_completed_rec0" value="50" type="hidden">
				    	<input name="id" type="hidden" value="0">
						<br>
						<h4 style="text-align:center">% de Importancia para la Evaluación</h4>
						<div id="skill_level_div0" class="percentage">
							<span id="importance_skill_level0">50</span>%</br>
							<!-- Nivel de Dominio logrado -->
						</div>
						<div id="slider_up">
							<div id="slider0" class="slider">
								<div id="left-color0" class="left-color" style="width: 50%"></div>
							</div>
						</div>

						<div id="completed_rec_div0" class="percentage">
							<span id="importance_completed_rec0">50</span>%</br>
							<!-- Recomendaciones Completadas -->
						</div>
						<br>
						<div id="legends" style="margin-top:0px;width:100%;height:50px"><p style="text-align:left;float:left;width:120px;margin-top:0px">Nivel de Dominio Logrado</p><p style="text-align:right;float:right;width:110px;margin-top:0px;margin-right:7%">Habilidades Practicadas</p></div>
						<script>slidear(0);</script>
						<div style="float:left;margin-left:125px"><a href='#' onclick='javascript:confirmSaveConfig()' class="kui-button kui-button-plain kui-button-primary">Guardar Pauta</a></div>
					</form>
				</div>
				<div id="skills">
					<h3>Habilidades:</h3>
					<div id="topbar" >
						<ul class="tab">
							<li><a id="khanTreeButton0" href='#' onclick='javascript:showNewTree(0,0);' class="select2">Por Contenidos</a></li>
							<li><a id="currTreeButton0" href='#' onclick='javascript:showNewTree(1,0);'>Por Curriculo</a></li>
							<li><a id="classTreeButton0" href='#' onclick='javascript:showNewTree(2,0);'>Por Plan</a></li>
						</ul>
					</div>
					<br>
					<div id="class_combo0" style="display:none">
						<select id="class_select0" onchange="classSelect(0);" class='ui-corner-all simple-input search-input blur-on-esc approvalName'  style="min-width: 400px; margin: 10px 2px;">
						<option selected value="-1"><i>Selecciona un curso</i></option>
						{% for class in class_list %}
							<option value="{{ class.class_subject__id_class_subject }}">{{ class.level }} {{ class.letter }} {{ class.year }}</option>
						{% endfor %}
						</select>
					</div>
					<div id="curriculum_combo0" style="display:none">
						<select id="curriculum_select0" onchange="curriculumSelect(0)" class='ui-corner-all simple-input search-input blur-on-esc approvalName' style="width: 100%; margin: 10px 2px;">
						<i><option selected value="-1">Selecciona un curriculo</option></i>
						{% for curr in curriculum_list %}
							<option value="{{ curr.id_chapter_mineduc }}"> {{ curr.level }} {{ curr.year }}</option>
						{% endfor %}
						</select>
					</div>
					<div id="search">
						<label for='skill_search0'>Buscar: </label><input id="skill_search0" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc" >
					</div>
					<div id="topictree0" class="topictree">
						<script>getTopicTree(0);</script>
					</div>
				</div>
			</div>
			 <!-- FIN Nueva Pauta -->

    	{% for config in assesment_configs %}
    	
		<div id="cpestana{{ forloop.counter }}" style="display:none" class="cpestanna">
			<h2>{{ config.name }}</h2>
			<div id="form{{ forloop.counter }}{{ forloop.counter }}" class="form">
				<form action="" method="post" id="form{{ forloop.counter }}">{% csrf_token %}
					<h3>Datos de la Pauta:</h3>
					<label for='name'>Nombre de la Pauta: </label><input name="name" type="text" onchange="validar()" onkeyup="validar()" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalName" value="{{ config.name }}" disabled><br>
					<br>
					<label for='approval_percentage'>Porcentaje de Aprobación: </label><input type="number" name="approval_percentage" value="{{ config.approval_percentage }}" min="0" max="100"  onchange="validar()" onkeyup="validar()" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalPercentage" disabled><br>
					<br>
					<input name="forloop" value="{{ forloop.counter }}" type="hidden">
					<input name="importance_skill_level{{ forloop.counter }}" type="hidden">
			    	<input name="importance_completed_rec{{ forloop.counter }}" type="hidden">
			        
					<br>
					<h4 style="text-align:center">% de Importancia para la Evaluación</h4>
					<div id="skill_level_div{{ forloop.counter }}" class="percentage">
						<span id="importance_skill_level{{ forloop.counter }}">50</span>%</br>
					</div>
					
					<div id="slider_up">
						<div id="slider{{ forloop.counter }}" class="slider">
							<div id="left-color{{ forloop.counter }}" class="left-color" style="width: 50%"></div>
						</div>
					</div>
					
					<div id="completed_rec_div{{ forloop.counter }}" class="percentage">
						<span id="importance_completed_rec{{ forloop.counter }}">50</span>%</br>
					</div>
					<br>
					<div id="legends" style="margin-top:0px;width:100%;height:50px"><p style="text-align:left;float:left;width:120px;margin-top:0px">Nivel de Dominio Logrado</p><p style="text-align:right;float:right;width:110px;margin-top:0px;margin-right:7%">Recomendaciones Completadas</p></div>
					<script>slidear({{ forloop.counter }});</script>
					
					{% if config.applied %}

					<p class="applied" style="float:left"> Pauta aplicada. No editable. </p>
				</form>
			</div>
			
			<div id="skills">
				<h3>Habilidades:</h3>
				
				<div id="topiclist{{ forloop.counter }}" class="scroll topictree">
				<ul class='ulSkill' id='ulSkill{{ forloop.counter }}'></ul></div>
				<script>
					skills = json_configs["assesmentConfigs"][{{ forloop.counter }}-1]["assesment_skills_spanish"];
					for (i = 0; i < skills.length; i++){
						$("#ulSkill{{ forloop.counter }}").append("<li class='liSkill'>" + skills[i] + "</li>");
					}
		        </script>  
			</div>

					{% else %}

					<div style="float:left;margin-left:50px">
						<a href='#' onclick='javascript:openEditConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" id="editConfigButton{{ forloop.counter }}">Editar Pauta</a>
						<a href='#' onclick='javascript:deleteConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" id="deleteConfigButton{{ forloop.counter }}">Eliminar Pauta</a>
					</div>
					<div style="float:left;margin-left:50px">
						<a href='#' onclick='javascript:cancelEditConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" style="display:none" id="cancelEditConfigButton{{ forloop.counter }}">Cancelar</a>
						<a href='#' onclick='javascript:editConfig({{ forloop.counter }})' class="kui-button kui-button-plain kui-button-primary" style="display:none" id="saveConfigButton{{ forloop.counter }}">Guardar Cambios</a>
					</div>
				</form>
				<input id="isEditable{{ forloop.counter }}" type="hidden" value="false">
			</div>

			<div id="skills">
				<h3>Habilidades</h3>
				<div id="topbar" >
					<ul class="tab">
						<li><a id="khanTreeButton{{ forloop.counter }}" href='#' onclick='javascript:showNewTree(0,{{ forloop.counter }});' class="select2">Por Contenidos</a></li>
						<li><a id="currTreeButton{{ forloop.counter }}" href='#' onclick='javascript:showNewTree(1,{{ forloop.counter }});'>Por Curriculo</a></li>
						<li><a id="classTreeButton{{ forloop.counter }}" href='#' onclick='javascript:showNewTree(2,{{ forloop.counter }});'>Por Plan</a></li>
					</ul>
				</div>
				<br>
				<div id="class_combo{{ forloop.counter }}" style="display:none">
					<select id="class_select{{ forloop.counter }}" onchange="classSelect({{ forloop.counter }});" class='ui-corner-all simple-input search-input blur-on-esc approvalName'  style="min-width: 400px; margin: 10px 2px;">
					<option selected value="-1"><i>Selecciona un curso</i></option>
					{% for class in class_list %}
						<option value="{{ class.class_subject__id_class_subject }}">{{ class.level }} {{ class.letter }} {{ class.year }}</option>
					{% endfor %}
					</select>
				</div>
				<div id="curriculum_combo{{ forloop.counter }}" style="display:none">
					<select id="curriculum_select{{ forloop.counter }}" onchange="curriculumSelect({{ forloop.counter }})" class='ui-corner-all simple-input search-input blur-on-esc approvalName' style="width: 100%; margin: 10px 2px;">
					<i><option selected value="-1">Selecciona un Curriculo</option></i>
					{% for curr in curriculum_list %}
						<option value="{{ curr.id_chapter_mineduc }}"> {{ curr.level }} {{ curr.year }}</option>
					{% endfor %}
					</select>
				</div>
				<div id="search">
					<label for='skill_search{{ forloop.counter }}'>Buscar: </label><input id="skill_search{{ forloop.counter }}" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc" disabled>
				</div>

				<div id="topictree{{ forloop.counter }}" class="scroll topictree"></div>
			</div>
					{% endif %}

		</div> 
		{% endfor %}

	</div>
</div>

<div id="popup" style="display:none">
	<div id="close">X</div>
	<div id="deleteConfig" style="display:none">
		<p>¿Desea eliminar la pauta?</p>
		
	</div>
	<div id="editConfig" style="display:none">
		<p>¿Desea guardar los cambios de la pauta?</p>
	</div>
	<div id="saveNewConfig" style="display:none">
		<p>¿Desea guardar la nueva pauta?</p>
	</div>
</div>

<div style="display: none;" id="profile-throbber2" class="profile-throbber">
	<div class="throbber-grid">   
	    <!--[if lte IE 9]>
	    <img class="throbber-fallback" src="/images/throbber-full.gif" />
	    <![endif]-->
	    
	    <div class="throbber-row clearfix">
	         <div class="block-0 throbber-block"></div>
	         <div class="block-1 throbber-block"></div>
	         <div class="block-2 throbber-block"></div>
	    </div>
	    <div class="throbber-row clearfix">
	         <div class="block-7 throbber-block"></div>
	         <div class="block-8 throbber-block"></div>
	         <div class="block-3 throbber-block"></div>
	    </div>
	    <div class="throbber-row clearfix">
	         <div class="block-6 throbber-block"></div>
	         <div class="block-5 throbber-block"></div>
	         <div class="block-4 throbber-block"></div>
	    </div>
	</div>
</div>

</div>
</div> <!-- cerrar div principal del home  -->

<script>
	//Muestra el arbol de la pauta id, dependiendo el tipo del arbol (Khan, Curriculo Ministerial o Planificaciones).
	function showNewTree(type, id){
		$("#curriculum_combo" + id).hide();
		$("#class_combo" + id).hide();

		$(document.getElementsByClassName("select2")).removeClass("select2");

		$("#topictree" + id).empty().jstree("destroy");

		$("#curriculum_select" + id).val(-1);
		$("#class_select" + id).val(-1);

		//Orden tipo Khan.
		if (type == 0){
			$("#khanTreeButton" + id).addClass("select2");
			$("#topictree" + id).css("height","400px");
			getTopicTree(id);
			if(id != 0){
				$('#topictree' + id).bind('ready.jstree',function(event){
					fillTreeNodes(id);
				});
			}
		}
		//Curriculum
		else if (type == 1){
			$("#curriculum_combo" + id).show();
			$("#currTreeButton" + id).addClass("select2");
			$("#topictree" + id).css("height","350px");
		}
		//Clases
		else if (type == 2){
			$("#classTreeButton" + id).addClass("select2");
			$("#class_combo" + id).show();
			$("#topictree" + id).css("height","350px");	
		}
	}

	//Recrea el arbol de id con la estructura curricular
	function curriculumSelect(id = 0){
		var selection = $("#curriculum_select" +  id).val();
		if (selection == -1) return;		

		$.ajax({
			url: "{% url 'AssesmentConfigs:recibir_curriculo' %}",
			type: "GET",
			data: { "curriculum_id" : selection,
			},
			success: function(response){
				$("#topictree" + id).empty().jstree("destroy");
				getTopicTree(id,response);
				if(id != 0){
					$('#topictree' + id).bind('ready.jstree',function(event){
						fillTreeNodes(id);
					});
				}
			},
			error: function(response){
				alert("Error: " + response[0]);
			}
		});
	}

	//Llena el arbol de id con sus habilidades respectivas.
	function fillTreeNodes(id){
		config_skills = json_configs["assesmentConfigs"][id-1]["config_skills"];
		var skills = [];

		for (i = 0; i < config_skills.length; i++){ 
			skills.push(config_skills[i]["id_subtopic_skill_id"]);
		}
		$('#topictree' + id).jstree("select_node", skills);

		if ($("#isEditable" + id).val() == "false"){
			disableTree(id);
		}
	}

	//Deshabilita los nodos del arbol para impedir seleccionarlos.
	function disableTree(id){
		$('#topictree' + id + ' li').each(function(){
			$('#topictree' + id).jstree("disable_checkbox",this.id);
		});
	}

	//Habilita los nodos del arbol para poder editarlos.
	function enableTree(id){
		$('#topictree' + id + ' li').each(function(){
			$('#topictree' + id).jstree("enable_checkbox",this.id);
		});
	}

	function classSelect(id = 0){
		var selection = $("#class_select" +  id).val();
		if (selection == -1) return;	

		$.ajax({
			url: "{% url 'AssesmentConfigs:recibir_clase' %}",
			type: "GET",
			data: { "class_subject_id" : selection,
			},
			success: function(response){
				$("#topictree" + id).empty().jstree("destroy");
				getTopicTree(id,response);
				if(id != 0){
					$('#topictree' + id).bind('ready.jstree',function(event){
						fillTreeNodes(id);
					});
				}
			},
			error: function(response){
				alert("Error: " + response[0]);
			}
		});
	}

	function FilterInput(event){
		var keyCode = ('which' in event) ? event.which : event.keyCode;

		isNotWanted = (keyCode == 69 || keyCode == 109 || keyCode == 107 || keyCode == 189 || keyCode == 187);
		return !isNotWanted;
	}

	function setMainContentHeight(){
		sidebar = document.getElementById('sidebar');
		var lis = sidebar.getElementsByTagName('li');
		var mainContent = document.getElementsByClassName("main-content");

		if (lis.length>8){
			for(i=8;i<lis.length;i++){
				height1 = height1+(i*4);
			}
		}
		mainContent = document.getElementsByClassName('main-content');
		height2 = (height1).toString();
		mainContent[0].style.height = height2+"px";
	}
	
	function cambiarPestanna(pestanna){
		id = (pestanna.id).substring(7);

		$("#curriculum_combo" + id).hide();
		$("#class_combo" + id).hide();
		
		if ($('#topictree' + id).length != 0){
			showNewTree(0,id);
		}

		pestanna = document.getElementById(pestanna.id);
		cpestanna = document.getElementById('c' + pestanna.id);
		cpestannas = document.getElementsByClassName('cpestanna');
		contenidopestanas = document.getElementById('contenidopestanas');

		for (i=0;i<cpestannas.length;i++){
			$(contenidopestanas.getElementsByClassName('cpestanna')[i]).css('display', 'none');

		}
		$(document).ready(function(){
			$(document.getElementsByClassName("select")).removeClass("select");
			$(cpestanna).css('display', '');
			$(pestanna.getElementsByTagName('a')).addClass("select");
		});

		if ($('#topictree' + id).length != 0){
			$(".topictree").getNiceScroll().hide();
			$("#topictree"+id).getNiceScroll().show();
			$("#topictree"+id).getNiceScroll().resize();
		}
	}

	function reloadLocation(){
		//chiusura al click sulla parte scura
		  $("#hover").click(function(){
		        $(this).fadeOut();
		    $("#popup").fadeOut();
		    location.reload();
		    });
		  //chiusura al click sul pulsante
		  $("#close").click(function(){
		        $("#hover").fadeOut();
		    $("#popup").fadeOut();
		    location.reload();
		    });
	}

	function confirmSaveConfig(){
		$("#close").hide();
		$("#hover").fadeIn().css('display', '');
		$("#popup").fadeIn().css('display', '');
		$('.response').remove();
		$('#deleteConfig').css('display', 'none');
		$('#editConfig').css('display', 'none');
		$("#acceptEdit").remove();
		$("#cancelEdit").remove();
		$("#saveNewConfig").css('display','');
		$("#saveNewConfig").append("<a href='#' onclick='javascript:saveConfig(1)' class='kui-button kui-button-plain kui-button-primary' id='acceptEdit'>Aceptar</a>");
		$("#saveNewConfig").append("<a href='#' onclick='javascript:saveConfig(0)' class='kui-button kui-button-plain kui-button-primary' id='cancelEdit'>Cancelar</a>");
	}

	function saveConfig(answer){
		//alert("intentando guardar");
		if(answer==1){
			$("#popup").append($('#profile-throbber2').css('display',''));
			$("#saveNewConfig").css('display','none');

			var select = $("#topictree0").jstree("get_bottom_selected", true);
			var dictionary = [];

			for (i = 0; i < select.length; i++) {
	            if (typeof select[i]["data"] != "undefined"){
	            	dictionary.push({
	            		skill_id: select[i]["data"]["skill_id"],
	            		id: select[i]["id"]
	            	});
	            }
            }

            $("#form0").append("<input name='skills0' type='hidden' value='" + JSON.stringify(dictionary) + "'>")
			$.ajax({
				url: "{% url 'AssesmentConfigs:nueva_configuracion' %}",
				type: "POST",
				data: $("#form0").serialize(),
					success: function(response){
						//alert(response);
						$("#popup").append($('#profile-throbber2').css('display','none'));
						$('#deleteConfig').css('display', 'none');
						$('#editConfig').css('display', 'none');
						$('.response').remove();
						$("#hover").fadeIn();
						$("#popup").fadeIn();
						$("#popup").append("<p class='response'>"+response+"</p>");
						if (response == "Pauta guardada correctamente"){
							$("#hover").css('pointer-events','none');
							$("#close").css('pointer-events','none');
							$("a").css('pointer-events','none');
							reloadPage();
							
						}
						else{
							$("#close").fadeIn();
						}
					}
			});
		}
		else{
			$("#hover").fadeOut();
			$("#popup").fadeOut();
			$("#saveNewConfig").fadeOut();
		}
	}

	function reloadPage(){
		setTimeout(function(){
			$('.response').fadeOut();
			$('#close').hide();
			$("#popup").append($('#profile-throbber2').css('display','none'));
			$('#profile-throbber2').fadeIn();
			$("#hover").fadeIn();
			$("#popup").fadeIn();
			document.location.reload(true);
		}, 750); 
		
	}

	function openEditConfig(id){
		cpestana = document.getElementById('cpestana'+id);
		inputs = cpestana.getElementsByTagName('input');
		for (i=0;i<inputs.length;i++){
			inputs[i].removeAttribute("disabled");
		}
		$( "#slider"+id ).slider( "enable" );
		$(document.getElementById('cancelEditConfigButton'+id)).css('display', '');
		$(document.getElementById('saveConfigButton'+id)).css('display', '');
		$(document.getElementById('editConfigButton'+id)).css('display', 'none');
		$(document.getElementById('deleteConfigButton'+id)).css('display', 'none');
		topictreeId = '#topictree'+id
		$(topictreeId+(" ul")).css('pointer-events', '');
		$(topictreeId).css('opacity', '1');

		$("#isEditable" + id).val("true");
		enableTree(id);
	}

	function cancelEditConfig(id){
		cpestana = document.getElementById('cpestana'+id);
		inputs = cpestana.getElementsByTagName('input');
		for (i=0;i<inputs.length;i++){
			inputs[i].setAttribute("disabled","");
		}
		
		$( "#slider"+id ).slider( "disable" );
		$(document.getElementById('cancelEditConfigButton'+id)).css('display', 'none');
		$(document.getElementById('saveConfigButton'+id)).css('display', 'none');
		$(document.getElementById('editConfigButton'+id)).css('display', '');
		$(document.getElementById('deleteConfigButton'+id)).css('display', '');
		slidear(id);
		topictreeId='#topictree'+id
		$(topictreeId + " ul").css('pointer-events', 'none');
		$(topictreeId).css('opacity', '0.8');
		
		inputs[1].removeAttribute("value");
		var name = document.createAttribute("value");
		name.value = configs[id-1]["name"];
		inputs[1].setAttributeNode(name);

		$(topictreeId).jstree("deselect_all");
		
		$("#isEditable" + id).val("false");
		fillTreeNodes(id);
	}

	function editConfig(id){
		if (configs[id-1]["applied"]==false){
			$("#close").hide();
			$("#hover").fadeIn().css('display', '');
			$("#popup").fadeIn().css('display', '');
			$('.response').remove();
			$('#deleteConfig').css('display', 'none');
			$('#saveNewConfig').css('display', 'none');
			$("#acceptEdit").remove();
			$("#cancelEdit").remove();
			$("#editConfig").css('display','');
			$("#editConfig").append("<a href='#' onclick='javascript:confirmEdit(1,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='acceptEdit'>Aceptar</a>");
			$("#editConfig").append("<a href='#' onclick='javascript:confirmEdit(0,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='cancelEdit'>Cancelar</a>");
		}
		else{
			alert("no se puede borrar");
		}
	}

	function confirmEdit(answer,id){
		if (answer==1){
			$("#popup").append($('#profile-throbber2').css('display',''));
			$("#editConfig").css('display','none');

			var select = $("#topictree" + id).jstree("get_bottom_selected", true);
			var dictionary = [];

			for (i = 0; i < select.length; i++) {
	            if (typeof select[i]["data"] != "undefined"){
	            	dictionary.push({
	            		skill_id: select[i]["data"]["skill_id"],
	            		id: select[i]["id"]
	            	});
	            }
            }

            $("#form"+id).append("<input name='skills"+id+"' id='skillsInput" + id + "' type='hidden' value='" + JSON.stringify(dictionary) + "'>")

			$.ajax({
				url: "/inicio/pautas/editar/"+(configs[id-1]["id_assesment_config"].toString()).concat("/"),
				type: "POST",
				data: $("#form"+id).serialize(),

					success: function(response){
						$('#profile-throbber2').fadeOut(750);
						$('.response').remove();
						$("#hover").fadeIn();
						$("#popup").fadeIn();
						setTimeout(function(){
	  						$("#popup").append("<p class='response' style='display:none'>"+response+"</p>");
							$('.response').fadeIn();
							$("#close").fadeIn();
							cancelEditConfig(id);
						}, 750); 
						
					}
			});
		}
		else{
			$("#hover").fadeOut();
			$("#popup").fadeOut();
			$("#editConfig").fadeOut();
			setTimeout(function() {
			  $("#close").show();
			}, 750);
			cancelEditConfig(id);
		}
		/*cpestana = document.getElementById('cpestana'+id);
		inputs = cpestana.getElementsByTagName('input');
		for (i=0;i<inputs.length;i++){
			inputs[i].setAttribute("disabled","");
		}
		$( "#slider"+id ).slider( "disable" );
		topictreeId='#topictree'+id;
		$(topictreeId+(" ul")).css('pointer-events', 'none');
		$(topictreeId).css('opacity', '0.8');*/

	}
	function deleteConfig(id){
		if (configs[id-1]["applied"]==false){
			$("#close").hide();
			$("#hover").fadeIn();
			$("#popup").fadeIn();
			$("#deleteConfig").css('display','');
			$('.response').remove();
			$('#editConfig').css('display', 'none');
			$('#saveNewConfig').css('display', 'none');
			$("#acceptDelete").remove();
			$("#cancelDelete").remove();
			$("#deleteConfig").append("<a href='#' onclick='javascript:confirmDelete(1,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='acceptDelete'>Aceptar</a>");
			$("#deleteConfig").append("<a href='#' onclick='javascript:confirmDelete(0,"+id+")' class='kui-button kui-button-plain kui-button-primary' id='cancelDelete'>Cancelar</a>");
		}
		else{
			$('.response').remove();
			$("#hover").fadeIn().css('display', '');
			$("#popup").fadeIn().css('display', '');
			$("#popup").append("<p class='response'>Pauta aplicada, no se puede eliminar</p>");
		}
	}
	function confirmDelete(answer,id){
		if (answer==1){
			$.ajax({
				url: "/inicio/pautas/eliminar/"+(configs[id-1]["id_assesment_config"].toString()).concat("/"),
				type: "POST",
					success: function(response){
						$('.response').remove();
						$("#hover").fadeIn();
						$("#popup").fadeIn();
						$("#popup").append("<p class='response'>"+response+"</p>");
					}
			});
			$("#deleteConfig").fadeOut();
			$("#hover").css('pointer-events','none');
			$("#close").css('pointer-events','none');
			$("a").css('pointer-events','none');
			reloadPage();
		}
		else{
			$("#hover").fadeOut();
			$("#popup").fadeOut();
			$("#deleteConfig").fadeOut();
			setTimeout(function() {
			  $("#close").show();
			}, 750);
		}
	}
	function validar(){
		flag = true
		approval_percentage = document.getElementsByClassName("approvalPercentage");
		//alert(approval_percentage)
		for (var a=0;a<approval_percentage.length;a++){
			//alert(approval_percentage[a].value)
			if(approval_percentage[a].value == null || approval_percentage[a].value<0 || approval_percentage[a].value>100 || approval_percentage[a].value.length == 0 || /^\s+$/.test(approval_percentage[a].value)) {
				$(approval_percentage[a]).css('color', '#C30202');
				flag = false
			}else{
				$(approval_percentage[a]).css('color', '#898989');
			}
			
			/*isDisabled = $(approval_percentage[a]).is(':disabled');
			if (isDisabled){
				$(approval_percentage[a]).css('color', '#999');
			}*/
		}
		return flag
	}
	$(document).ready(function(){
		$("#contenidopestanas").fadeIn();
		$("li").fadeIn();
		//chiusura al click sulla parte scura
		$("#hover").click(function(){
			$(this).fadeOut();
			$("#popup").fadeOut();
	    });
	  
	  //chiusura al click sul pulsante
		$("#close").click(function(){
	        $("#hover").fadeOut();
	    	$("#popup").fadeOut();
	    });
	});

</script>

<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>

<script type="text/javascript"> 
    $(document).ready(function () {
    	$(".topictree").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9', zindex:'1000' })
    });

	$('#pautas').addClass('active selected');

	$("#apprPer").tipsy({ 
        gravity: $.fn.tipsy.autoNS,
        opacity: 1,
        html: true, 
        title: function() {
          return '<label>Corresponde al porcentaje con que se alcanza la nota de aprobación. Ej 60%</label>';
        }
    });

</script>

{% endblock %}