{% load static %}

<!DOCTYPE html>

<html class=" modernizr-no-touchevents modernizr-flexbox modernizr-no-flexboxtweener" itemscope="" itemtype="http://schema.org/Organization" xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:og="http://opengraphprotocol.org/schema/" lang="es">
	<head>
		<meta charset="ISO-8859-1">
		<title>{% block title %}{% endblock %}</title>
		
		<!-- Agregados por Alonso-->

		<link rel='stylesheet' type='text/css' href="{% static 'css khan/checklist-package-88f605.css'%}">
		<link rel='stylesheet' type='text/css' href="{% static 'css khan/coach-homepage-package-48d6a1.css'%}">
		<link rel='stylesheet' type='text/css' href="{% static 'css khan/eduorg-picker-package-565b42.css'%}">
		<link rel='stylesheet' type='text/css' href="{% static 'css khan/learn-storm-package-5ec30a.css'%}">
		<link rel='stylesheet' type='text/css' href="{% static 'css khan/react-package-6e3499.css'%}">
		<link rel='stylesheet' type='text/css' href="{% static 'css khan/shared-package-d75335.css'%}">
		
		<!--
		<link rel="stylesheet" type="text/css" href="https://www.khanacademy.org/genfiles/stylesheets/en/shared-package-4c1086.css">
		<link rel="stylesheet" type="text/css" href="https://www.khanacademy.org/genfiles/stylesheets/en/react-package-efe8d3.css">
		-->

		<link rel='stylesheet' type='text/css' href="{% static 'css khan/shared-package-1f4ddf.css'%}">
		<link rel='stylesheet' type='text/css' href="{% static 'css khan/react-package-efe8d3.css'%}">
		

		<link rel="stylesheet" type="text/css" href="{% static 'estilo.css'%}">
		
		<!-- Agregados por Javier-->
  		<script src="{% static 'js/jquery-latest.min.js'%}"></script>
  		<script src="{% static 'DjangoAjax.js' %}"></script>
	  	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	  	<script src="{% static 'd3-timeline.js'%}"></script>
	  	<link rel="stylesheet" href="{% static 'css/home.css'%}" />
		<script type="text/javascript" src="{% static 'jquery.qtip.js'%}"></script>
			  	
	  	<!-- Agregados por Tomas-->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  		
  		<!-- Agregados por Jordan-->
		<link rel="stylesheet" href="{% static 'dist/themes/default/style.css'%}" />
		<script src="{% static 'dist/jstree.min.js'%}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'estilo.css'%}">
		<script src="{% static 'jquery.tipsy.js'%}"></script>
		<script src="{% static 'tablesorter/tsort.js'%}"></script>
		<link rel="stylesheet" href="{% static 'tablesorter/style.css'%}" type="text/css" />
		<script src="{% static 'highcharts/highcharts.js'%}"></script>
		<script src="{% static 'highcharts/highcharts-more.js'%}"></script>
		<script src="{% static 'highcharts/modules/exporting.js'%}"></script>
		
		<!-- Para utilizar d3 -->
	    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	    <script src="https://rawgit.com/gka/d3-jetpack/master/d3-jetpack.js"></script>
		{% block head %}{% endblock %}
	</head>
	<div id="hover" style="display:none"></div>
	<body>		
	{% block body %}
	
	{% endblock %}	
	</body>
</html>