{% extends 'base.html' %}
{% load static %}


{% block title %}Nueva Evaluacion{% endblock %}
 
{% block body %}
	<h1>Evaluacion para curso {{ id_class }} en base a configuracion: {{ assesment_config.0.name}}</h1>
	<form >
		<label for='start_date'>Inicio Evaluacion</label>
		<input name='start_date' type='date'>
		<label for='end_date'>Fin Evaluacion</label>
		<input name='end_date' type='date'>
		<label for='name'>Nombre</label>
		<input name='nombre' >
		<label for='min_grade'>Nota Minima</label>
		<input name='min_grade' value='2'>
		<label for='max_grade'>Nota Maxima</label>
		<input name='max_grade' value='7'>
		<input type='hidden' name='id_assesment_conf' value='{{ assesment_config.0.id_assesment_config }}'>
		<input type='hidden' name='id_class' value='{{ id_class }}'>
		<input type='submit' value='Guardar'>
	</form>

{% endblock %}