{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
 
{% block body %}
	
	<div id="popup_evaluacion" class="popup" style="display:none">
    	<div style="align:left;">
	    	<p class="response">Cargando los datos, por favor espere un momento</p>
	    	<div style="display: none;" id="profile-throbber2" class="profile-throbber">
				<div class="throbber-grid">   
				    <!--[if lte IE 9]>
				    <img class="throbber-fallback" src="/images/throbber-full.gif" />
				    <![endif]-->
				    <div class="throbber-row clearfix">
				         <div class="block-0 throbber-block"></div>
				         <div class="block-1 throbber-block"></div>
				         <div class="block-2 throbber-block"></div>
				    </div>
				    <div class="throbber-row clearfix">
				         <div class="block-7 throbber-block"></div>
				         <div class="block-8 throbber-block"></div>
				         <div class="block-3 throbber-block"></div>
				    </div>
				    <div class="throbber-row clearfix">
				         <div class="block-6 throbber-block"></div>
				         <div class="block-5 throbber-block"></div>
				         <div class="block-4 throbber-block"></div>
				    </div>
				</div>
			</div>
    	</div>
    </div>


	<div class="pure-hidden-xs pure-hidden-sm">
		<div class="wide-learn-menu-background-container" style="display: none;">
			<div class="contained-and-centered">
				<div class="wide-learn-menu-background"></div>
			</div>
		</div>
	</div>
	
	<!-- Inicio barra de arriba (class="selected")-->
	<nav id="page_sub_nav" class="clearfix athena-big-menu"><span class="breadcrumbs_nav contained-and-centered"><span class="float-left"><h3 class="children-students-title"></h3></span>
	<a class="" href="{% url 'cursos' %}" id='inicio'><span>Inicio</span></a>
	<a class="" href="/inicio/pautas" onClick="loading()" id='pautas'><span>Pautas</span></a>
	{% if perms.bakhanapp.isAdmin %} 
	<a class="" href="/inicio/administradores" id='administradores'><span>Administradores</span></a>
	<a class="" href="/inicio/nomina" id='nomina'><span>Nómina</span></a>
	{% endif %}
	<a id="logout" class="" href="/salir"><span>Finalizar Sesión</span></a>
	</span></nav>
	<!-- Fin barra de arriba -->
	
	<div class="contained-and-centered">
		<div class="checklist-section">
			<div class="progress-header">
				<div class="header-label">
					<img class="checklist-badge" src="https://es.khanacademy.org/images/badges/moon/productive-40x40.png">
					{% if perms.bakhanapp.isAdmin %} 
					<span class="header-text">Hola Administrador {{ request.user.username }}</span>
					{% else %}
					<span class="header-text">Hola Profesor {{ request.user.username }}</span>
					{% endif %}
				</div>
				<div id='breadcrumb'></div>
				<div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function loading(){
			$('#popup_evaluacion').show();
			$('#hover').show();
			$('#profile-throbber2').show();
		}
	</script>

	{% block body2 %}
		
	{% endblock %}
	<footer class="footer-small">
        <div class="container">
           
                    <a target="_blank" class="simple-button orange report-issue" id='report-problem' data-report-type="i18n" href='/mantisbt/login_select_proj_page.php?ref=bug_report_page.php '>Reportar problemas</a>

        
        </div>
    </footer>

{% endblock %}	
