
{% load static %}

 <!DOCTYPE html>

<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <link rel='stylesheet' type='text/css' href="{% static 'css khan/checklist-package-88f605.css'%}">
  <link rel='stylesheet' type='text/css' href="{% static 'css khan/coach-homepage-package-48d6a1.css'%}">
  <link rel='stylesheet' type='text/css' href="{% static 'css khan/eduorg-picker-package-565b42.css'%}">
  <link rel='stylesheet' type='text/css' href="{% static 'css khan/learn-storm-package-5ec30a.css'%}">
  <link rel='stylesheet' type='text/css' href="{% static 'css khan/react-package-6e3499.css'%}">
  <link rel='stylesheet' type='text/css' href="{% static 'css khan/shared-package-d75335.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'estilo.css'%}">
  
    <!-- Agregados por Javier-->
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="{% static 'DjangoAjax.js' %}"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="{% static 'd3-timeline.js'%}"></script>
      
      <!-- Agregados por Tomas-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      
      <!-- Agregados por Jordan-->
    <link rel="stylesheet" href="{% static 'dist/themes/default/style.css'%}" />
    <script src="{% static 'dist/jstree.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css'%}">
    <script src="{% static 'jquery.tipsy.js'%}"></script>
    <script src="{% static 'tablesorter/tsort.js'%}"></script>
    <link rel="stylesheet" href="{% static 'tablesorter/style.css'%}" type="text/css" />
    
    <!-- Para utilizar d3 -->
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="https://rawgit.com/gka/d3-jetpack/master/d3-jetpack.js"></script>

    <title>Ingresar</title>
    
</head>

<div id="hover" style="display:none"></div>
  <body>
  
  <div class="container">
    <div class="login-container">
      <h2 class="regular-header login-button-header">
            Inicia sesión con tu cuenta Khan Academy
        </h2>
        <a role="button" aria-disabled="false" onClick="openPopup()" href="javascript:void(0)" class="kui-button kui-button-submit kui-button-primary" style="width:100%;" data-reactid=".0.4.2" target="_top">Ingresar</a>
      </div>
    </div>

  </body>


  <script type="text/javascript">
    var ws;
    var url;
    var connected=false;
    var myWindow;
    function init() {
      // Connect to Web Socket
      //ws = new WebSocket("ws://146.83.216.177:9001"); //IP del Servidor
      ws = new WebSocket("ws://146.83.216.177:8080"); //IP del Servidor
      //ws = new WebSocket("ws://127.0.0.1:8080");
      //ws = new WebSocket("ws://192.168.1.139:9001");
      // Set event handlers.
      ws.onopen = function() {
        output("onopen");
        connected=true;
        if (connected==true){
          onSubmit("login");
        }
      };
      
      ws.onmessage = function(e) {
        // e.data contains received string.
        console.log(e.data);
        var server_data = JSON.parse(e.data)
        if (server_data.url){
          var url = server_data.url
          myWindow = window.open(url, "_blank", "myWindow", "width=200, height=100");
        }
        if (server_data.login){
          var login_data = server_data.login;
          console.log(login_data);
          $.ajax({
            url: "{% url 'login:authenticateUser' %}",
            type: "POST",
            data: {username: login_data.username, 
                   email: login_data.email,
                   csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (response) {
              console.log(response)
              if (response=="True"){
                window.location = window.location.href+"inicio";
              }else{
                window.location = window.location.href+"inicio";
              }    
            }
          });
        }
      };
      
      ws.onclose = function() {
        output("onclose");
        setTimeout(function(){
            if (!ws){// || (socket && socket.readyState==3)){
                console.log("Reconectando websocket...");
                init();
            }else{
                if (ws.readyState==3){
                    console.log("Reconectando websocket...");
                    //onCloseClick();
                    init();
                }
            }
        }, 5000);
      };
      ws.onerror = function(e) {
        output("onerror");
        console.log(e)
      };
      
    }
    
    function onSubmit(str) {
      ws.send(str);
      output("send: " + str);
    }
    
    function output(str) {
      console.log(str);
    }
    
function openPopup(){
  init();
}

</script>

</html>

