{% extends 'base.html' %}
{% load static %}


{% block title %}Mis Configuarciones de Evaluacion{% endblock %}
 
{% block body %}

	{% if assesment_configs %}
		
		<TABLE BORDER=1 >
		{% for config in assesment_configs %}  
			<tr>
				<td>{{ config.id_assesment_config }}</td>
				<td>{{ config.top_score }}</td>
				<td>{{ config.name }}</td>
				<td><a href="{% url 'editar_configuracion' config.id_assesment_config %}">Editar</a></td>
				<td><a href="{% url 'eliminar_configuracion' config.id_assesment_config %}">Eliminar</a></td>
				<td><a href="{% url 'nueva_evaluacion' config.id_assesment_config %}">Aplicar</a></td>
			</tr> 		
		{% endfor %}
		</TABLE>
		
	{% endif %}

	
	<a href="{% url 'nueva_configuracion' %}">Nueva</a>
		{% block new %} {% endblock %}
		

	</div>
	{% block pop %} {% endblock %}

{% endblock %}