{% extends 'home.html' %}
{% load static %}

{% load  smart_if %}

<!--http://librosweb.es/libro/django_1_0/capitulo_10/extender_el_sistema_de_plantillas_2.html-->
<!--en views agregar-->
<!--from django import template-->
<!--register = template.Library()-->

{% block title %}Mis Cursos{% endblock %}
 
{% block body %}
	<h1>BA-Khan</h1>

	<h3>Hola Profesor {{ user.username }}</h3>
	{% if classes %}	
		<TABLE BORDER=1 >
		{% for class in classes %}  
				{% ifchanged class.level.0 %} 
				<tr>
				<td colspan="2"> {{ class.level }} </td>		    		
	    		</tr>				    		
		    		{% for klass in classes %} 	    			
		    			{% if klass.level == class.level %}
		    				<tr>
		    				<td WIDTH=150>{{ klass.letter }} </td> <td> <a href="{{ klass.id_class }}">Ver</a> <br/></td>
		    				</tr>
		    			{% endif %}	
		    		{% endfor %}
		    	{% endifchanged %} 		
		{% endfor %}
		</TABLE>	
	{% endif %}
	</div>
{% endblock %}