{% extends 'base.html' %}
{% load static %}

{% load  smart_if %}

<!--http://librosweb.es/libro/django_1_0/capitulo_10/extender_el_sistema_de_plantillas_2.html-->
<!--en views agregar-->
<!--from django import template-->
<!--register = template.Library()-->

{% block title %}Mis Cursos{% endblock %}
 
{% block body %}
	<h1>BA-Khan</h1>

	<h3>Hola Profesor {{ user.username }}</h3>
	
	

	{% if classes %}
		
		{% for class in classes %}  
			<fieldset>
				{% ifchanged class.level.0 %} 
	    		<legend>{{ class.level }}</legend>	    		

	    							    		
		    		{% for klass in classes %} 
		    		
		    			{% if klass.level == class.level %}
		    			
		    				{{ klass.letter }} <td><a href="class/{{ class.id }}">Ver</a></td> <br/>
							
		    			{% endif %}
		    			
		    		{% endfor %}
		    		
		    	{% endifchanged %}
		    	
	  		</fieldset>
		{% endfor %}
		
	{% endif %}

{% endblock %}