{% extends 'myAssesmentConfigs.html' %}
{% load static %}


{% block title %}Nueva Configuracion{% endblock %}
 
{% block new %}
	<div class='container'> 
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %} 
        <table> 
            {{ form.as_table }} 
        </table> 
        <a href="{% url 'configuraciones' %}">Cancelar</a>
        <button type="submit" >Guardar</button>
    </form> 
	</div>
	<div id="topictree">
	</div>

	<script>
	var topictree = JSON.parse('{{ topictree | escapejs }}');
	var id_skills = [];
	$('#topictree').on('changed.jstree', function (e, data) {
	    //var i, j, r = [];
	    //for(i = 0, j = data.selected.length; i < j; i++) {
	      //r.push(data.instance.get_node(data.selected[i]).text);
	    //}
	    console.log("data selected");
	    console.log(data.selected);
	    console.log("id skills");
	    id_skills=$('#topictree').jstree('get_bottom_selected').attr('skill_id');
	    console.log(id_skills);
  }).jstree(topictree);
	</script>

{% endblock %}