{% extends 'home.html' %}
{% load static %}
{% load  smart_if %}

{% block title %}
	Dashboard
{% endblock %}
{% block body2 %}		
	<head>
		<!-- http://tablesorter.com/docs/ -->
		<script type="text/javascript" src="{% static 'jquery.js'%}"></script> 
		<script type="text/javascript" src="{% static 'jquery.tablesorter.js'%}"></script> 
		<script>$(document).ready(function() 
		    { 
		        $("#myTable").tablesorter(); 
		    } 
			); 
	  </script>
	</head>
	
	<div align="center">
	
	
	<script type="text/javascript">
		var json = JSON.parse('{{ jason_data | escapejs }}');
		var students = json.students;
		var assesments=json.assesments;
	    // column definitions
	    //d3.f is a d3-jetpack function that saves code writing by replacing a line of code -> d3.f("name") = function(d){return d.name}
	    var columns = [
	        { head: 'Estudiantes', cl: 'name', html: d3.f('name') },
	        { head: 'Tiempo en ejercicios', cl: 'skills_time', value: d3.f('skills_time'), valueF : d3.f('skills_time',length()) },
	        { head: 'Tiempo en videos', cl: 'videos_time', valueF: d3.f('video_time', length()), value: d3.f('video_time') },
	        { head: 'Correctos/Incorrectos', cl: 'num', id:'corrects', values: d3.f('corrects') },
	        { head: 'Practiced', cl: 'name', html: d3.f('practiced') },
	        { head: 'Mastery1', cl: 'name', html: d3.f('mastery1') },
	        { head: 'Mastery2', cl: 'name', html: d3.f('mastery2') },
	        { head: 'Mastery3', cl: 'name', html: d3.f('mastery3') },
	        //{ head: 'Evaluacion1', cl: 'assesment', id: 'tooltip', tooltip: '{% for assesment_config in assesment_configs %}{{ "Nombre: " }}{{ assesment_config.name }}{{ "<hr style=margin: 0>% aprobacion: " }}{{ assesment_config.approval_percentage }}{{ "<hr style=margin: 0>Puntaje maximo: " }}{{ assesment_config.top_score }}{% endfor %}', value: d3.f('evaluacion')}//, html: d3.f('evaluacion') },
	    ];
	    
	    for (i=0; i<json["assesments"].length; i++){
	    	var class_id="assesment"+json["assesments"][i]["id"];
	    	//console.log(class_id);
	    	columns.push({head_assesment: json["assesments"][i]["name"], cl: class_id, id: 'tooltip', tooltip: "Nombre: "+json["assesments"][i]["config_name"]+"<hr style=margin: 0>% aprobacion: "+json["assesments"][i]["approval_percentage"]+"<hr style=margin: 0>Puntaje maximo: "+json["assesments"][i]["top_score"]+"<hr style=margin: 0>Nota maxima: "+json["assesments"][i]["max_grade"]+"<hr style=margin: 0>Nota minima: "+json["assesments"][i]["min_grade"], value: d3.f(class_id)})//html: d3.f('evaluacion')})
	    }
	    
	    function elMayor(data){
	    	mayor=0;
	    	//console.log(data.length)
	    	for (i=0; i<data.length; i++){
	    		//console.log(data[i])
		    		if (data[i]>mayor){
		    			mayor = parseInt(data[i]);
		    			//console.log(data[i])
		    		}
	    	}
	    	//console.log(mayor)
	    	return mayor
	    };
	    console.log(json);
	    //console.log(students[0].skills_time);
	    var skill_time=new Array();
	    skill_time = d3.map(students, d3.f("skills_time"));
	    //console.log("skill_time");
	    //console.log(skill_time);
	    var escalarTiemposSkill = d3.scale.linear()
                            .domain([0,elMayor(skill_time.keys())])
                            .range([0,100]);
                            
        var videos_time = (d3.map(students, function(d) { return d.video_time }));
        //console.log(videos_time.keys());
        var escalarTiemposVideo = d3.scale.linear()
                            .domain([0,elMayor(videos_time.keys())])
                            .range([0,100]);

	    // create table
	    var table = d3.select('body')
	    	.append('div')
	    	.attr('class', 'contained-and-centered')
	    	.append('div')
	    	.attr('align', 'center')
	        .append('table')
	        .attr('id','myTable')
	        .attr('class', 'tablesorter')
	        .style('width', '99%');
	        
	    table.append('caption').text('{% for class in classroom %}{{ class.level }} {{ class.letter }}').append('a').attr('href','{% url 'nueva_evaluacion' class.id_class %}').text(' Nueva Evaluacion{% endfor %}')

	    // create table header
	    table.append('thead').append('tr')
	        .selectAll('th')
	        .data(columns).enter()
	        .append('th')
	        .attr('class', d3.f('cl'))
	        .attr('id', d3.f('id'))
	        .attr('title', d3.f('tooltip'))
	        .text(d3.f('head'));

	    table.selectAll('#tooltip').append('button').attr('href','#').text(d3.f('head_assesment'));

	    
		// create table body
	    table.append('tbody')
	        .selectAll('tr')
	        .data(students).enter()
	        .append('tr')
	        .selectAll('td')
	        .data(function(row, i) {
	            return columns.map(function(c) {
	                // compute cell values for this specific row
	                var cell = {};
	                d3.keys(c).forEach(function(k) {
	                    cell[k] = typeof c[k] == 'function' ? c[k](row,i) : c[k];
	                });
	                return cell;
	            });
	        }).enter()
	        .append('td')
	        .html(d3.f('html'))
	        .attr('class', d3.f('cl'))
	        .attr('id', d3.f('id'));
		    
	    var tiempos_skill = table.select("tbody")
	    	.selectAll(".skills_time")
	    	.append("svg")
	    	.style("width",function(d){return escalarTiemposSkill(d.value) })
	    	.style("height","20")
	    tiempos_skill
	    	.append("rect")
	    	.style("width",function(d){return escalarTiemposSkill(d.value)})
	    	.style("height","20")
	    	.style("fill","#FC8A3B");
	    tiempos_skill
	    	.append("text")
		    .attr("x", function(d) { return escalarTiemposSkill(d.value) - 35; })
		    .attr("y", 10)
		    .attr("dy", ".35em")
		    .attr("font-family", "sans-serif")
			.attr("font-size", "11px")
			.attr("fill", "white")
		    .text(function(d) { return d.valueF });
		    
		var tiempos_video = table.select("tbody")
	    	.selectAll(".videos_time")
	    	.append("svg")
	    	.style("width",function(d){return escalarTiemposVideo(d.value) })
	    	.style("height","20")
	    tiempos_video
	    	.append("rect")
	    	.style("width",function(d){return escalarTiemposVideo(d.value)})
	    	.style("height","20")
	    	.style("fill","#FC8A3B");
	    tiempos_video
	    	.append("text")
		    .attr("x", function(d) { return escalarTiemposVideo(d.value) - 35; })
		    .attr("y", 10)
		    .attr("dy", ".35em")
		    .attr("font-family", "sans-serif")
			.attr("font-size", "11px")
			.attr("fill", "white")
		    .text(function(d) { return d.valueF });
		    

		var correct_incorrect = table.select("tbody")
	    	.selectAll(".num")
	    	.append("svg")
	    	.style("width","200")
	    	.style("height","20")
	    var correctos = 
	    	correct_incorrect.append("rect")
	    	.attr("x",100)
	    	.style("width",function(d){return d.values[0]/10})
	    	.style("height","20")
	    	.style("fill","green");
	    correct_incorrect
	    	.append("text")
		    .attr("x", function(d) { return 75+d.values[0]/10})
		    .attr("y", 10)
		    .attr("dy", ".35em")
		    .attr("font-family", "sans-serif")
			.attr("font-size", "11px")
			.attr("fill", "white")
		    .text(function(d) { return d.values[0] });
	    var incorrectos = correct_incorrect.append("rect")
	    	.attr("x",function(d){return (100-(d.values[1]/10))})
	    	.style("width",function(d){return d.values[1]/10})
	    	.style("height","20")
	    	.style("fill","red");
	    correct_incorrect
	    	.append("text")
		    .attr("x", function(d) { return (100 - (d.values[1]/10) + 5)})
		    .attr("y", 10)
		    .attr("dy", ".35em")
		    .attr("font-family", "sans-serif")
			.attr("font-size", "11px")
			.attr("fill", "white")
		    .text(function(d) { return d.values[1] });
	    
	    
	   	var reprobate_colours = ["#C30202", "#FB6060"];
	    var approve_colours = ["#9CDCEB", "#58C4DD", "#29ABCA", "#1C758A"];
	   	var reprobateColour = d3.scale.linear()
		  .domain([2, 3.9])//, 1.9 / (reprobate_colours.length - 1)))
		  .range(reprobate_colours);
  		var approveColour = d3.scale.linear()
		  .domain(d3.range(4,7, 3.0 / (approve_colours.length - 1)))
		  .range(approve_colours);

	    for (i=0; i<json["assesments"].length; i++){
	    	var assesments = table.select("tbody")
	    	.selectAll(".assesment"+json["assesments"][i]["id"])
	    	.append("svg")
	    	.style("width", "30")//function(d){return escalarTiemposVideo(d.value) })
	    	.style("height","30")
			
	    	assesments.append("circle")
	    		.attr("cx", function (d) { return 15; })
	            .attr("cy", function (d) { return 15; })
	    		.attr("r","13")
	    		.style("fill",
	    				function(d){ 
	    					if (d.value<4.0){
	    						return reprobateColour(d.value);
	    					}else{
	    						return approveColour(d.value);
	    					}
	    			  })
	    		.style("stroke","black");
	    	assesments.append("text")
		        .attr("dx", function(d){return 6.5})
		        .attr("dy", function(d){return 20})
		        .text(function(d){return d.value})
		        .style("fill","white");
		        
	    }
	    
	    table.selectAll('.skills_time').selectAll('svg').remove();
	    table.selectAll('.skills_time')
	    	 .data(students).enter()
		        .data(function(row, i) {
		            return columns.map(function(c) {
		                // compute cell values for this specific row
		                var cell = {};
		                d3.keys(c).forEach(function(k) {
		                    cell[k] = typeof c[k] == 'function' ? c[k](row,i) : c[k];
		                });
		                return cell;
		            });
		        }).enter()
		        .append('td')
		        .html(d3.f('html'))
		        .attr('class', d3.f('cl'))
		        .attr('id', d3.f('id'));

	    
	    function length() {
	        var fmt = d3.format('02d');
	        return function(l) { return Math.floor(l / 60) + ':' + fmt(l % 60) + ''; };
	    }
	    </script>
	
    	<script>
			$(function () {
		      $(document).tooltip({
		          content: function () {
		              return $(this).prop('title');
		          }
		      });
		  	});
		</script>

{% endblock %}