{% extends 'base.html' %}
{% load static %}
{% load  smart_if %}

{% block body %}		
	<head>
		<!-- http://tablesorter.com/docs/ -->
		<script type="text/javascript" src="{% static 'jquery.js'%}"></script> 
		<script type="text/javascript" src="{% static 'jquery.tablesorter.js'%}"></script> 
		<script>$(document).ready(function() 
		    { 
		        $("#myTable").tablesorter(); 
		    } 
			); 
	  </script>
	</head>
	
	<style>
	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
	}
	th, td {
    	padding: 15px;
	}
	th {
    	background-color: #7EB442;
	}
	
	</style>
	
	<div align="center">
	<table  id="myTable" class="tablesorter" id="simple" style="width:99%">	
	{% for class in classroom %}  
            <caption>{{ class.level }} {{ class.letter }}</caption>
            <a href="{% url 'nueva_evaluacion' class.id_class %}">Nueva Evaluacion</a>
	{% endfor %}
	<thead>
	{% if students %}

            <tr>
                <th>Estudiantes</th>
                    <th>- Tiempo en ejercicios</th>
                    <th>- Tiempo en videos</th>
                    <th>- Correctos</th>
                    <th>- Incorrectos</th>
                    <th>- Practiced</th>
                    <th>- Mastery1</th>
                    <th>- Mastery2</th>
                    <th>- Mastery3</th>
                    <th id="tooltip"><a title="{% for assesment_config in assesment_configs %}
                                                    {{ "Nombre: " }}
                                                    {{ assesment_config.name }}
                                                    {{ "<hr style='margin: 0'>% aprobacion: " }}
                                                    {{ assesment_config.approval_percentage }}
                                                    {{ "<hr style='margin: 0'>Puntaje maximo: " }}
                                                    {{ assesment_config.top_score }}
                                                {% endfor %}
                     ">- Evaluacion 1</a></th>
                    {% for grade in grades %}
                    <th>- {{ grade.name }}</th>
                    {% endfor %}    
            </tr>
     	</thead>
     	<tbody> 
		{% for student in students %}  
            <tr>
                    <td>{{ student.name }} </td>
                    <td>{{ student.t_exercise }} </td>
                    <td>{{ student.t_video }} </td>
                    <td>{{ student.correct }} </td>
                    <td>{{ student.incorrect }} </td>
                    {% for grade in grades %}
                        {% if grade.grade__kaid_student == student.kaid_student %}
                            <td> {{ grade.grade__grade }}</td>
                        {% endif %} 
                    {% endfor %}  
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% endif %}
    	<script>
			$(function () {
		      $(document).tooltip({
		          content: function () {
		              return $(this).prop('title');
		          }
		      });
		  	});
		</script>

{% endblock %}