{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
 
{% block body %}
	<h1>BA-Khan</h1>

	{% for class in curso %}  
            {{ class.level }} {{ class.letter }}
	{% endfor %}
	{% if students %}
		<div class="example" data-text="example">
   	 	<table id="example_table" class="dataTable striped border bordered" data-role="datatable" data-searching="true">
        <thead>
            <tr>
                    <th>Estudiantes</th>
                    <th>- % recom. completas</th>
                    <th>- Tiempo en ejercicios</th>
                    <th>- Tiempo en videos</th>
                    <th>- % correctos</th>
                    <th>- Evaluacion 1</th>
                    <th>- Mision</th>        
            </tr>
        </thead>
        <tbody>
		{% for student in students %}  
            <tr>
                    <td>{{ student.name }} </td>
            </tr>
		{% endfor %}
		</table>
		
		</div>
	{% endif %}

{% endblock %}