{% extends 'home.html' %}

{% load static %}

{% block title %}Curriculum MINEDUC{% endblock %}

{% block body2 %}

<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">

<link rel="stylesheet" type="text/css" href="{% static 'css/superstats.css'%}">

<style>
table.testsched { border-collapse: collapse; border: 1px solid #CCB; width:650px;}
table.testsched td, table.testsched th { padding: 5px; border: 1px solid #E0E0E0;}
table.testsched th { background: #E5E5E5; text-align: left;}
table.testsched th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table.testsched td {
  text-align: left;
}

table.testschedos { border-collapse: collapse; border: 1px solid #CCB; width:650px;table-layout: fixed;}
table.testschedos td, table.testschedos th { padding: 5px; border: 1px solid #E0E0E0;overflow: hidden;}
table.testschedos th { background: #E5E5E5; text-align: left;}
table.testschedos th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table.testschedos td {
  text-align: left;
}
input{
  z-index: 1000;
  width: 100%;
  height: 100%;
}
#popup{
  height:200px;
}
#popuptree{
  height:650px;
}
.ribbon {
  position: relative;
  left: 0px; top: -53px;
  z-index: 1;
  overflow: hidden;
  width: 63px; height: 54px;
  text-align: right;
}
.ribbon span {
  font-size: 9px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 97px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; left: -25px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
#newChapter{
  border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; 
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newTopic{
  /*border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; */
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newSubtopic{
  /*border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; */
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
label{
  width: 95px;
}
input{
  margin-bottom: 10px;
}
 
#sidebar {
  margin-right: -1px;
  float: left;
  width: 240px;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   z-index: 2;
   margin-right: -1px;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
  margin: 1px 0px 1px 1px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    background: #EEEEEE;
    text-decoration: none;
    display: block;
    border-radius: 10px 1px 1px 10px;
    border: 1px solid #ddd;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
    
}
#sidebar ul li a.select{
  border-right: 1px solid #f7f7f7;
  background: #f7f7f7;
  color: #56861f;
  
}
#sidebar ul li:hover a {
    background: #f7f7f7;
    color: #56861f;
}
#sidebar ul li:visited a {
    background: #f7f7f7;
    color: #56861f;
}

.redBackground{
    background-color: gray;  
}

.topictree{
  overflow: hidden;
  overflow-y:scroll;
  height: 600px;
  width: 570px;
  font-size: 12px;
  padding: 5px 10px 10px 0px;
  text-align: left;
  margin: 10px;
  border: 1px solid #ddd;
}
</style>

<br>
<div class="container">
<div class="main-content">

  <br>
  <h1 style="text-align:center;">Curriculum MINEDUC</h1>
  <div style="width:100%; height:55px;"> <button type='input' id='buttonNewChapter' onclick="javascript:showNewChapter()" style="cursor:pointer; width:200px; height: 35px; padding:8px; float:left; margin-top:10px; margin-right:10px;" class="kui-button kui-button-plain kui-button-primary"><i class="plus"></i> Nueva Misión</button> </div>

  <div id="newChapter">
    <form action="" method="post" id="form0">{% csrf_token %}
      <h3>Nueva Misión</h3>
      <label for='block'>Nombre: </label><input id="newName" onchange="validar()" onkeyup="validar()" name="name" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc" ><br>
      <a onclick='javascript:hideNewChapter()' class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>
      <a onclick='javascript:saveNewChapter()' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Guardar</a>
    </form>
  </div>
  <div id="newtable">
  </div>
</div>
</div>

<div id="popup" style="display:none">
  
</div>

<div id="popuptree" style="display:none">
  
</div>

<script type="text/javascript">

$(document).ready(function(){
    $("#hover").click(function(){
          $(this).fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    
    $("#close").click(function(){
          $("#hover").fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    treeMineduc();
  });

  function treeMineduc(){
    var arbol = JSON.parse('{{ json_data | escapejs }}');
    console.log(arbol);
    var newtable;
    newtable = '<table id="adminGrid" class="testsched" style="margin: left;width: 100%;"><tr><th>Capítulo</th><th>Tópico</th><th>Subtópico</th><th>Videos</th><th>Ejercicios</th><th>Agregar Ejercicios/Videos</th></tr>';
    var chapters=arbol["capitulos"];
    for (var i = 0; i < chapters.length; i++) {
      var topicos = chapters[i]["topico"]
      var rowspan = topicos.length+1;
      var rowspandos=0;
      for (var j = 0; j < topicos.length; j++) {
        var subtopicos = topicos[j]["subtopico"]
        var longitud = subtopicos.length+1;
        rowspandos = rowspandos+longitud;
      }
      var valorrows=rowspandos+1;
      newtable += '<tr><td rowspan='+valorrows+'>'+chapters[i]["nombre"]+'</td>';
      for (var j = 0; j < topicos.length; j++) {
        var subtopicos = topicos[j]["subtopico"]
        var rowspandos = subtopicos.length+1;
        if (j==0){
          newtable+='<td rowspan='+rowspandos+'>'+topicos[j]["nombre"]+'</td>';
          for (var k = 0; k < subtopicos.length; k++) {
            if (k==0){
              var vid = subtopicos[k]["videos"]
              newtable+='<td>'+subtopicos[k]['nombre']+'</td><td><ul>';
              for (var l = 0; l < vid.length; l++) {
                //console.log(vid[l]["video"])
                newtable+='<li>'+vid[l]["video"]+'</li>'
              }
              newtable+='</ul></td><td><ul>';
              var ejer = subtopicos[k]["skills"]
              for (var m = 0; m < ejer.length; m++) {
                newtable+='<li>'+ejer[m]["skill"]+'</li>'
              }
              newtable+='</ul></td><td><a onclick=\'(addVideoExercise("'+subtopicos[k]['id']+'"))\' style="cursor:pointer; width:130px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Ejercicios/Videos</a></td></tr>';
            }
            else{
              var vid = subtopicos[k]["videos"]
              newtable+='<tr><td>'+subtopicos[k]['nombre']+'</td><td><ul>';
              for (var l = 0; l < vid.length; l++) {
                //console.log(vid[l]["video"])
                newtable+='<li>'+vid[l]["video"]+'</li>'
              }
              newtable+='</ul></td><td><ul>';
              var ejer = subtopicos[k]["skills"]
              for (var m = 0; m < ejer.length; m++) {
                newtable+='<li>'+ejer[m]["skill"]+'</li>'
              }
              newtable+='</ul></td><td><a onclick=\'(addVideoExercise("'+subtopicos[k]['id']+'"))\' style="cursor:pointer; width:130px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Ejercicios/Videos</a></td></tr>';
            }
          }
          if (rowspandos==1){
        newtable+='<td><a onclick=\'(addSubtopic("'+topicos[j]['id']+'"))\' style="cursor:pointer; width:100px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Subtópico</a></td><td></td><td></td><td></td></tr>';
          }
          else{
            newtable+='<tr><td><a onclick=\'(addSubtopic("'+topicos[j]['id']+'"))\' style="cursor:pointer; width:100px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Subtópico</a></td><td></td><td></td><td></td></tr>';
          }
        }
        else{
          newtable+='<tr><td rowspan='+rowspandos+'>'+topicos[j]["nombre"]+'</td>';
          for (var k = 0; k < subtopicos.length; k++) {
            if (k==0){
              var vid = subtopicos[k]["videos"]
              newtable+='<td>'+subtopicos[k]['nombre']+'</td><td><ul>';
              for (var l = 0; l < vid.length; l++) {
                //console.log(vid[l]["video"])
                newtable+='<li>'+vid[l]["video"]+'</li>'
              }
              newtable+='</ul></td><td><ul>';
              var ejer = subtopicos[k]["skills"]
              for (var m = 0; m < ejer.length; m++) {
                newtable+='<li>'+ejer[m]["skill"]+'</li>'
              }
              newtable+='</ul></td><td><a onclick=\'(addVideoExercise("'+subtopicos[k]['id']+'"))\' style="cursor:pointer; width:130px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Ejercicios/Videos</a></td></tr>';
            }
            else{
              var vid = subtopicos[k]["videos"]
              newtable+='<tr><td>'+subtopicos[k]['nombre']+'</td><td><ul>';
              for (var l = 0; l < vid.length; l++) {
                //console.log(vid[l]["video"])
                newtable+='<li>'+vid[l]["video"]+'</li>'
              }
              newtable+='</ul></td><td><ul>';
              var ejer = subtopicos[k]["skills"]
              for (var m = 0; m < ejer.length; m++) {
                newtable+='<li>'+ejer[m]["skill"]+'</li>'
              }
              newtable+='</ul></td><td><a onclick=\'(addVideoExercise("'+subtopicos[k]['id']+'"))\' style="cursor:pointer; width:130px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Ejercicios/Videos</a></td></tr>';
            }
          }
          if (rowspandos==1){
        newtable+='<td><a onclick=\'(addSubtopic("'+topicos[j]['id']+'"))\' style="cursor:pointer; width:100px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Subtópico</a></td><td></td><td></td><td></td></tr>';
          }
          else{
            newtable+='<tr><td><a onclick=\'(addSubtopic("'+topicos[j]['id']+'"))\' style="cursor:pointer; width:100px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Subtópico</a></td><td></td><td></td><td></td></tr>';
          }
        }
      }
      if (rowspan==1){
        newtable+='<td><a onclick=\'(addTopic("'+chapters[i]['id']+'"))\' style="cursor:pointer; width:100px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Tópico</a></td><td></td><td></td><td></td><td></td></tr>';
      }
      else{
        newtable+='<tr><td><a onclick=\'(addTopic("'+chapters[i]['id']+'"))\' style="cursor:pointer; width:100px; height: 50px; padding:8px; " class="kui-button kui-button-plain kui-button-primary">Agregar Tópico</a></td><td></td><td></td><td></td><td></td></tr>';
      }
    }
    newtable += '</table>';
    $('#newtable').append(newtable)
  }

  $('#curriculum').addClass('active selected');

  function showNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').hide();
  }

  function hideNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').show();
  }

  function showNewTopic(){
  $('#newTopic').toggle('blind',10);
  $('#buttonNewTopic').hide();
  }

  function hideNewTopic(){
  $('#popup').hide();
  $('#hover').hide();
  }

  function showNewSubtopic(){
  $('#newSubtopic').toggle('blind',10);
  $('#buttonNewSubtopic').hide();
  }

  function hideNewSubtopic(){
  $('#popup').hide();
  $('#hover').hide();
  }

  function hideNewSubtopic(){
  $('#popuptree').hide();
  $('#hover').hide();
  }

  function saveNewChapter(){
  if(validar()){
    $.ajax({
    url: "{% url 'curriculum:nuevo_chapter' %}",
    type: "POST",
    data: $("#form0").serialize(),
      success: function(response){
        $("#popup").empty()
        $("#close").hide();
        $("#hover").fadeIn();
        $("#popup").fadeIn();
        $("#popup").append("<p class='response'>"+response+"</p>");
        auxResponse = response;
        if (auxResponse == "Chapter guardado correctamente"){
          $("#hover").css('pointer-events','none');
          $("#close").css('pointer-events','none');
          window.setTimeout(function(){location.reload()},1000);
        }
      }
    });
  }else{
    $("#popup").empty()
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
    $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
  }
}

function saveNewTopic(t){
  var nombretopic = $('#newNameTopic').val()
  if(validarTopic()){
    $.ajax({
      url: "{% url 'curriculum:nuevo_topic' %}",
      type: "POST",
      data: {nombre: nombretopic, curso: t},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Topic guardado correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }        }
    });
  }
  else{
    $("#popup").empty()
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
    $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
  }
}


function saveNewSubtopic(t){
  var nombresubtopic = $('#newNameSubtopic').val()
  if(validarSubtopic()){
    $.ajax({
      url: "{% url 'curriculum:nuevo_subtopic' %}",
      type: "POST",
      data: {nombre: nombresubtopic, curso: t},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Subtopic guardado correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }        
        }
    });
  }
  else{
    $("#popup").empty()
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
    $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
  }
}

function saveVideoExercise(t){
  var select = $("#newTree").jstree("get_selected", true);
  //console.log(select);
  var contador=0;
  var datos={};
  for (var i = 0; i < select.length; i++) {
    if (select[i]["children"].length==0){
      console.log(select[i]);
      if(select[i]["data"]["skill_id"]){
        datos[select[i]["data"]["skill_id"]]=select[i]["icon"]
      }
      else{
        datos[select[i]["data"]["video_id"]]=select[i]["icon"]
      }
      
      contador++;
    }
  }
  //console.log(datos);
  if (select.length>0){
    $.ajax({
    url: "{% url 'curriculum:save_videoexercise' %}",
    type: "POST",
    data: {datos, subtopic:t},
      success: function(response){
        $('#popuptree').hide();
        $("#popup").empty()
        $("#close").hide();
        $("#hover").fadeIn();
        $("#popup").fadeIn();
        $("#popup").append("<p class='response'>"+response+"</p>");
        auxResponse = response;
        if (auxResponse == "Skills guardado correctamente"){
          $("#hover").css('pointer-events','none');
          $("#close").css('pointer-events','none');
          window.setTimeout(function(){location.reload()},1000);
        }    
      }
    });
  }
  else{
    console.log('faltan datos por elegir');
  }
}

function addTopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append("<div id='newTopic'><form action='' method='post' id='form1'>{% csrf_token %}<h3>Nuevo Tópico o Unidad</h3><label for='block'>Unidad: </label><input id='newNameTopic' onchange='validar()' onkeyup='validar()' name='nameTopic' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' ><br><a onclick='javascript:hideNewTopic()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(saveNewTopic('" + id + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a></form></div>");
}

function addSubtopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append("<div id='newSubtopic'><form action='' method='post' id='form2'>{% csrf_token %}<h3>Nuevo Subtópico, Objetivo de Aprendizaje o Aprendizaje Esperado</h3><label for='block'>Número: </label><input id='newNameSubtopic' onchange='validar()' onkeyup='validar()' name='nameSubtopic' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' ><br><a onclick='javascript:hideNewSubtopic()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(saveNewSubtopic('" + id + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a></form></div>");
}

function addVideoExercise(id){
    var tree = JSON.parse('{{ topictree_json_string | escapejs }}');
    //console.log(tree);
    $('#popuptree').empty();
    $('#hover').fadeIn();
    $('#popuptree').fadeIn();
    $('#popuptree').append("<div id='newTree' class='topictree'></div>")
    $('#newTree').jstree(tree);
    $('#popuptree').append("<br><a onclick='javascript:hideTree()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(saveVideoExercise('" + id + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a>")
}

function validar(){
  flag = true;
  nName = document.getElementById("newName").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newName").css('color', '#C30202');
    flag = false;
  }else{
    $("#newName").css('color', '#000000');
  }
  return flag;
}

function validarTopic(){
  flag = true;
  nName = document.getElementById("newNameTopic").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newNameTopic").css('color', '#C30202');
    flag = false;
  }else{
    $("#newNameTopic").css('color', '#000000');
  }
  return flag;
}

function validarSubtopic(){
  flag = true;
  nName = document.getElementById("newNameSubtopic").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newNameSubtopic").css('color', '#C30202');
    flag = false;
  }else{
    $("#newNameSubtopic").css('color', '#000000');
  }
  return flag;
}
</script>

{% endblock %}