{% extends 'home.html' %}

{% load static %}

{% block title %}Curriculum MINEDUC{% endblock %}

{% block body2 %}

<!--<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>-->

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">-->

<link rel="stylesheet" type="text/css" href="{% static 'css/superstats.css'%}">

<style>
    #popup{
        height:150px;
    }

    #popuptree{
        height:650px;
    }

    label{
        width: 95px;
    }

    input{
        margin-bottom: 10px;
    }

    button{
        width: 240px;
        cursor:pointer;
        height: 40px;
        padding:8px; 
        margin-top:5px;
        margin-right:10px;
    }

    .class-button{
        display:inline;
        cursor:pointer;
        width: 200px;
        height: 42px;
        padding:8px;
        margin: 5px; 
    }

    .from-button{
        display:inline;
        cursor:pointer;
        width:80px;
        height: 32px;
        padding:8px;
        margin: 10px; 
    }

    .class-content{
        padding-left: 100px;
        padding-right: 100px;
        align-content: center;
    }

    .xls-content{
        float: left;
        text-align: center;
    }

    #newChapter{
        height:300px;
        border: 1px solid #C6D1AD;
        border-radius: 5px;
        display:none; 
        padding:15px 100px;
        margin-bottom: 20px;
        text-align: center;
    }
</style>

<br>
<div class="container">
    <div class="class-content">
        <h1 style="text-align:center;">Curriculum MINEDUC</h1>
        
        <div style="float:left; padding-left: 40%;">
            <button type='input' id='buttonNewChapter' onclick="javascript:showNewChapter()" class="kui-button kui-button-plain kui-button-primary class-button"><i class="plus"></i> Nuevo Nivel</button>
        </div>

        <div id="newChapter">
            <form action="" method="post" id="form0">{% csrf_token %}
                <h3 style="height:30px">Nuevo Curriculo</h3>
                <div style="display: inline;width:auto; float:left; padding-left: 10px; margin-left: 70px">
                    <label for='newLevel'>Nivel: </label>
                    <select id="newLevel" name="level" class="ui-corner-all placeholder simple-input search-input blur-on-esc" required>
                        <option value="1">Primero Básico</option>
                        <option value="2">Segundo Básico</option>
                        <option value="3">Tercero Básico</option>
                        <option value="4">Cuartro Básico</option>
                        <option value="5">Quinto Básico</option>
                        <option value="6">Sexto Básico</option>
                        <option value="7">Septimo Básico</option>
                        <option value="8">Octavo Básico</option>
                        <option value="9">Primero Medio</option>
                        <option value="10">Segundo Medio</option>
                        <option value="11">Tercero Medio</option>
                        <option value="12">Cuarto Medio</option>
                    </select>
                </div>

                <div style="display: inline;width:auto; float:left; padding-left: 10px; margin-left: 30px">
                    <label for='newSubject'>Asignatura: </label>
                    <select id="newSubject" name="subject" class="ui-corner-all placeholder simple-input search-input blur-on-esc" required>
                        {% for sub in lista_asign %}
                            <option value={{ sub.id_subject_name }}>{{ sub.name_spanish }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div style="display: inline; width:auto; float:left; padding-left: 10px; margin-left: 30px">
                    <label for="newYear">Año: </label>
                    <input type="number" id="newYear" name="year" min="2000" max="{{ a_actual }}" value="{{ a_actual }}" style="max-width:80px" class="ui-corner-all simple-input search-input blur-on-esc" required>
                </div>
                <br>
                <div style="padding-left: 10%;padding-right: 10%;padding-top: 10px">
                    <label>Comentario: </label><br>
                    <textarea id="newCom" name="additional" placeholder="Opcional" style="width:100%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; height: 100px" class="ui-corner-all simple-input search-input blur-on-esc"></textarea>
                    <br>
                </div>
                <a onclick='javascript:hideNewChapter()' class="form-button kui-button kui-button-plain kui-button-primary" style="float: left; margin-left: 200px;">Cancelar</a>
                <a onclick='javascript:saveNewChapter()' class="form-button kui-button kui-button-submit kui-button-primary"style="float: right; margin-right: 200px;">Guardar</a>
            </form>
        </div>

        <div style="float: left; padding-left: 40%">
            {% for chap in capitulos %}
            <a role="button" href= "{% url 'curriculum:getCurriculumInfo' chap.id_chapter_mineduc %}" class="class-button kui-button kui-button-plain kui-button-primary" onClick="loading()"
                {% if chap.additional%}
                    title= "{{ chap.additional }}"
                {% endif %}
            >{{ chap.level }} ({{ chap.year }})</a>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container" style="margin-top: 30px">
    <div class="class-content xls-content">
        <h3>Subir excel curicular</h3>
        <div id="uploadExcel">
            <form id="miexcelForm" name="miexcelForm">
            <label for="selectClass">Excel: </label><input type="file" id="miexcel" name="miexcel" accept=".csv, .xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

            <a onclick="javascript:uploadExcel()" id="uploadExcelButton" class="kui-button kui-button-plain kui-button-primary">Subir Archivo</a>
            </form>
            <p>ADVERTENCIA: Los datos en la plantilla de excel eliminara cualquier curriculo actual en el sistema que coincida con el mismo año, nivel y asignatura.</p>
        </div>
    </div>
</div>

<div id="popup" style="display:none">
  
</div>

<div id="popuptree" style="display:none">
  
</div>

<script type="text/javascript">

    $(document).ready(function(){
        $("#hover").click(function(){
            $(this).fadeOut();
            $("#popup").fadeOut();
            $("#popuptree").fadeOut();
        });

        $("#close").click(function(){
            $("#hover").fadeOut();
            $("#popup").fadeOut();
            $("#popuptree").fadeOut();
        });
        $('#contenidopestanas').hide();
    });

    $('#curriculum').addClass('active selected');

    function showNewChapter(){
        $('#newChapter').toggle('blind',10);
        $('#buttonNewChapter').hide();
    }

    function hideNewChapter(){
        $('#newChapter').toggle('blind',10);
        $('#buttonNewChapter').show();
    }

    function saveNewChapter(){
        var nLevel = $('#newLevel').val();
        var nYear = $('#newYear').val();
        var nAdd = $('#newCom').val();
        var nSubj = $('#newSubject').val();

        $.ajax({
            url: "{% url 'curriculum:nuevo_chapter' %}",
            type: "POST",
            data: {level: nLevel, year: nYear, additional: nAdd, subj: nSubj},
            success: function(response){
                $('#newCom').val('');
                $("#popup").empty();
                $("#close").hide();
                $("#hover").fadeIn();
                $("#popup").fadeIn();
                $("#popup").append("<p class='response'>"+response+"</p>");
                auxResponse = response;
                if (auxResponse == "Nuevo curriculo guardado correctamente"){
                    $("#hover").css('pointer-events','none');
                    $("#close").css('pointer-events','none');
                    window.setTimeout(function(){location.reload()},1000);
                }
            },
            error: function(response){
                $("#popup").empty()
                $("#hover").fadeIn().css('display', '');
                $("#popup").fadeIn().css('display', '');
                $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
            }
        });
    }


    function deleteChapter(id){
        $('#popup').empty();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append('<div style="max-width:500px;margin-left:50px;">¿Está seguro que desea eliminar el nivel? Perderá toda la información de unidades, objetivos de aprendizaje, videos y ejercicios asociados a él.</div>');
        $('#popup').append('<a onclick=\'(confirmDeleteChapter("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
    }

    function cancelDelete(){
        $('#popup').hide();
        $('#hover').hide();
    }

    function confirmDeleteChapter(id){
        $.ajax({
            url: "{% url 'curriculum:deletechapter' %}",
            type: "POST",
            data: {idchapter: id},
            success: function(response){
                $('#popup').empty();
                $('#close').hide();
                $('#hover').fadeIn();
                $('#popup').fadeIn();
                $('#popup').append("<p class='response'>"+response+"</p>");
                auxResponse = response;
                if (auxResponse == "Nivel borrado correctamente"){
                    $("#hover").css('pointer-events', 'none');
                    $('#close').css('pointer-events', 'none');
                    window.setTimeout(function(){location.reload()}, 1000);
                }
            }
        });
    }

    function validarTopic(){
        flag = true;
        nName = document.getElementById("newNameTopic").value;
        if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
            $("#newNameTopic").css('color', '#C30202');
            flag = false;
        }else{
            $("#newNameTopic").css('color', '#000000');
        }
        return flag;
    }

    function uploadExcel(){
        var filename = $("#miexcel").val();
        var extension = filename.replace(/^.*\./, '');
        if (extension!="xlsx") {
            $('.response').remove();
            $("#hover").fadeIn();
            $("#popup").fadeIn();
            $("#popup").append("<p class='response'>Formato de archivo no válido. Debe ser .xlsx</p>");
            return;
        };
        $(".response").remove();
        $("#popup").append("<p class='response'>Cargando el excel. Este proceso puede tardar dependiento el tamaño del archivo...</p>");
        $("#hover").css('pointer-events','none');
        $("#close").css('pointer-events','none');
        $("#hover").fadeIn();
        $("#popup").fadeIn();

        var data = new FormData();
        $.each($('#miexcel')[0].files, function(i, file) {
            data.append('file-'+i, file);
        });
        
        $.ajax({
            url: "{% url 'curriculum:subir_excel' %}",
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(response){
                $("#hover").fadeOut();
                $("#popup").fadeOut();
                $('#loading').fadeOut();
                $('.response').remove();
                $("#popup").append("<p class='response'>"+response+"</p>");
                $("#hover").fadeIn();
                $("#popup").fadeIn();
                if(response.substring(0,5) != "Error"){
                    window.setTimeout(function(){
                        location.reload()
                    },500);  
                }else{
                    $("#hover").css('pointer-events','');
                    $("#close").css('pointer-events','');
                }
                
            }
        });
    }

</script>

{% endblock %}