{% extends 'home.html' %}

{% load static %}

{% block title %}Curriculum MINEDUC{% endblock %}

{% block body2 %}

<!--<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>-->

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">-->

<link rel="stylesheet" type="text/css" href="{% static 'css/superstats.css'%}">

<style>
  table.testsched { border-collapse: collapse; border: 1px solid #CCB; width:650px;}
  table.testsched td, table.testsched th { padding: 5px; border: 1px solid #E0E0E0;}
  table.testsched th { background: #E5E5E5; text-align: left;}
  table.testsched th {
      color: #555;
      background-color: #ccc;
      border: 1px solid #bbb;
      text-shadow: 0 1px 0 #eee;
      vertical-align: bottom;
      padding: 5px;
      text-align:center;
  }
  table.testsched td {
    text-align: left;
  }

  table.testschedos { border-collapse: collapse; border: 1px solid #CCB; width:650px;table-layout: fixed;}
  table.testschedos td, table.testschedos th { padding: 5px; border: 1px solid #E0E0E0;overflow: hidden;}
  table.testschedos th { background: #E5E5E5; text-align: left;}
  table.testschedos th {
      color: #555;
      background-color: #ccc;
      border: 1px solid #bbb;
      text-shadow: 0 1px 0 #eee;
      vertical-align: bottom;
      padding: 5px;
      text-align:center;
  }
  table.testschedos td {
    text-align: left;
  }
  input{
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
  #popup{
    height:150px;
  }
  #popuptree{
    height:650px;
  }
  .ribbon {
    position: relative;
    left: 0px; top: -53px;
    z-index: 1;
    overflow: hidden;
    width: 63px; height: 54px;
    text-align: right;
  }
  .ribbon span {
    font-size: 9px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 97px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 13px; left: -25px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    /*border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;*/
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    /*border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;*/
  }
  #newChapter{
    border: 1px solid #C6D1AD;
      border-radius: 5px;
      display:none; 
      height:220px; 
      padding:15px;
      padding-left: 33%;
      padding-right: 33%;
      text-align: center;
  }
  #newTopic{
    /*border: 1px solid #C6D1AD;
      border-radius: 5px;
      display:none; */
      height:220px; 
      padding:15px;
      padding-left: 33%;
      padding-right: 33%;
      text-align: center;
  }
  #newSubtopic{
    /*border: 1px solid #C6D1AD;
      border-radius: 5px;
      display:none; */
      height:220px; 
      padding:15px;
      padding-left: 33%;
      padding-right: 33%;
      text-align: center;
  }
  #newaccordion{
    border: 1px solid #C6D1AD;
    border-radius: 5px;
    padding:15px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
  }
  label{
    width: 95px;
  }
  input{
    margin-bottom: 10px;
  }

  #topbar {
    float:left;
    position: relative;
      box-sizing: border-box;
     -moz-box-sizing: border-box;
     z-index: 2;
     height: 80px;
     /*margin-right: -1px;*/
  }
  #topbar ul.tab {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  #topbar ul.tab li {
      margin: 0;
  }
  #topbar ul.tab li a {
    /*margin: 1px 0px 1px 1px;*/
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 100;
    background: #EEEEEE;
    text-decoration: none;
    display: block;
    /*border-radius: 10px 1px 1px 10px;*/
    border: 1px solid #ddd;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
  }
  #topbar ul.tab li a.selectdos{
    border-bottom: 1px solid #f7f7f7;
    background: #f7f7f7;
    color: #56861f;
    
  }
  #topbar ul.tab li:hover a {
      background: #f7f7f7;
      color: #56861f;
  }
  #topbar ul.tab li:visited a {
      background: #f7f7f7;
      color: #56861f;
  }

  #topbar ul.tab li {float: left;}

  .redBackground{
      background-color: gray;  
  }

  .topictree{
    overflow: hidden;
    overflow-y:scroll;
    height: 550px;
    width: 570px;
    font-size: 12px;
    padding: 5px 10px 10px 0px;
    text-align: left;
    margin: 10px;
    border: 1px solid #ddd;
  }

  /*button.accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
  }*/

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /*button.accordion.active, button.accordion:hover {
      background-color: #ddd;
  }

  button.accordion:after {
      content: '\02795'; 
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
  }

  button.accordion.active:after {
      content: "\2796"; 
  }*/

  /* Style the accordion panel. Note: hidden by default */
  div.panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      transition: 0.6s ease-in-out;
      opacity: 0;
  }

  /* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
  div.panel.show {
      display: block;
      opacity: 1;
  }
  /*
  div.panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: 0.6s ease-in-out;
      opacity: 0;
  }
  */
  /*.class-content a{
    text-align: center;
  }*/
</style>

<br>
<div class="container">
    <div class="class-content" style="padding-left: 100px;padding-right: 100px; align-content: center">
        <h1 style="text-align:center;">Curriculum MINEDUC - En Desarrollo</h1>
        
        <div style="float:left; padding-left: 40%">
            <button type='input' id='buttonNewChapter' onclick="javascript:showNewChapter()" style="cursor:pointer; width:200px; height: 40px; padding:8px;  margin-top:5px; margin-right:10px;" class="kui-button kui-button-plain kui-button-primary"><i class="plus"></i> Nuevo Nivel</button>
        </div>

        <div id="newChapter" style="height:300px;padding-left: 100px;padding-right: 100px;">
            <form action="" method="post" id="form0">{% csrf_token %}
                <h3 style="height:30px">Nuevo Curriculo</h3>
                <div style="display: inline;width:auto; float:left; padding-left: 10px; margin-left: 70px">
                    <label for='newLevel'>Nivel: </label>
                    <select id="newLevel" name="level" class="ui-corner-all placeholder simple-input search-input blur-on-esc" required>
                        <option value="1">Primero Básico</option>
                        <option value="2">Segundo Básico</option>
                        <option value="3">Tercero Básico</option>
                        <option value="4">Cuartro Básico</option>
                        <option value="5">Quinto Básico</option>
                        <option value="6">Sexto Básico</option>
                        <option value="7">Septimo Básico</option>
                        <option value="8">Octavo Básico</option>
                        <option value="9">Primero Medio</option>
                        <option value="10">Segundo Medio</option>
                        <option value="11">Tercero Medio</option>
                        <option value="12">Cuarto Medio</option>
                    </select>
                </div>

                <div style="display: inline;width:auto; float:left; padding-left: 10px; margin-left: 30px">
                    <label for='newSubject'>Asignatura: </label>
                    <select id="newSubject" name="subject" class="ui-corner-all placeholder simple-input search-input blur-on-esc" required>
                        {% for sub in lista_asign %}
                            <option value={{ sub.id_subject_name }}>{{ sub.name_spanish }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div style="display: inline; width:auto; float:left; padding-left: 10px; margin-left: 30px">
                    <label for="newYear">Año: </label>
                    <input type="number" id="newYear" name="year" min="2000" max="{{ a_actual }}" value="{{ a_actual }}" style="max-width:80px" class="ui-corner-all simple-input search-input blur-on-esc" required>
                </div>
                <br>
                <div style="padding-left: 10%;padding-right: 10%;padding-top: 10px">
                    <label>Comentario: </label><br>
                    <textarea id="newCom" name="additional" placeholder="Opcional" style="width:100%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; height: 100px" class="ui-corner-all simple-input search-input blur-on-esc"></textarea>
                    <br>
                </div>
                <a onclick='javascript:hideNewChapter()' class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-right: 15px; margin-top:10px">Cancelar</a>
                <a onclick='javascript:saveNewChapter()' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-left: 15px; margin-top:10px">Guardar</a>
            </form>
        </div>

        <div style="float: left; padding-left: 40%">
            {% for chap in capitulos %}
            <a role="button" href= "{% url 'curriculum:getCurriculumInfo' chap.id_chapter_mineduc %}" class="kui-button kui-button-plain kui-button-primary" onClick="loading()"
                {% if chap.additional%}
                    title= "{{ chap.additional }}"
                {% endif %}
            style="width: 240px">{{ chap.level }} ({{ chap.year }})</a>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

<div id="popup" style="display:none">
  
</div>

<div id="popuptree" style="display:none">
  
</div>

<script type="text/javascript">

$(document).ready(function(){
    
    $("#hover").click(function(){
          $(this).fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    
    $("#close").click(function(){
          $("#hover").fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    $('#contenidopestanas').hide();
  });

$('#curriculum').addClass('active selected');

  function showNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').hide();
  }

  function hideNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').show();
  }

  function saveNewChapter(){
    var nLevel = $('#newLevel').val();
    var nYear = $('#newYear').val();
    var nAdd = $('#newCom').val();
    var nSubj = $('#newSubject').val();

    $.ajax({
        url: "{% url 'curriculum:nuevo_chapter' %}",
        type: "POST",
        data: {level: nLevel, year: nYear, additional: nAdd, subj: nSubj},
        success: function(response){
            $('#newCom').val('');
            $("#popup").empty();
            $("#close").hide();
            $("#hover").fadeIn();
            $("#popup").fadeIn();
            $("#popup").append("<p class='response'>"+response+"</p>");
            auxResponse = response;
            if (auxResponse == "Nuevo curriculo guardado correctamente"){
                $("#hover").css('pointer-events','none');
                $("#close").css('pointer-events','none');
                window.setTimeout(function(){location.reload()},1000);
            }
        },
        error: function(response){
            $("#popup").empty()
            $("#hover").fadeIn().css('display', '');
            $("#popup").fadeIn().css('display', '');
            $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
        }
    });
    }


function deleteChapter(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div style="max-width:500px;margin-left:50px;">¿Está seguro que desea eliminar el nivel? Perderá toda la información de unidades, objetivos de aprendizaje, videos y ejercicios asociados a él.</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteChapter("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
}

function cancelDelete(){
  $('#popup').hide();
  $('#hover').hide();
}



function confirmDeleteChapter(id){
  $.ajax({
    url: "{% url 'curriculum:deletechapter' %}",
    type: "POST",
    data: {idchapter: id},
      success: function(response){
        $('#popup').empty();
        $('#close').hide();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Nivel borrado correctamente"){
            $("#hover").css('pointer-events', 'none');
            $('#close').css('pointer-events', 'none');
            window.setTimeout(function(){location.reload()}, 1000);
          }
      }
  });
}

function validarTopic(){
  flag = true;
  nName = document.getElementById("newNameTopic").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newNameTopic").css('color', '#C30202');
    flag = false;
  }else{
    $("#newNameTopic").css('color', '#000000');
  }
  return flag;
}

</script>

{% endblock %}