{% extends 'home.html' %}

{% load static %}

{% block title %}Curriculum MINEDUC{% endblock %}

{% block body2 %}

<!--<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>-->

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">-->

<link rel="stylesheet" type="text/css" href="{% static 'css/superstats.css'%}">

<style>
table.testsched { border-collapse: collapse; border: 1px solid #CCB; width:650px;}
table.testsched td, table.testsched th { padding: 5px; border: 1px solid #E0E0E0;}
table.testsched th { background: #E5E5E5; text-align: left;}
table.testsched th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table.testsched td {
  text-align: left;
}

table.testschedos { border-collapse: collapse; border: 1px solid #CCB; width:650px;table-layout: fixed;}
table.testschedos td, table.testschedos th { padding: 5px; border: 1px solid #E0E0E0;overflow: hidden;}
table.testschedos th { background: #E5E5E5; text-align: left;}
table.testschedos th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table.testschedos td {
  text-align: left;
}
input{
  z-index: 1000;
  width: 100%;
  height: 100%;
}
#popup{
  height:150px;
}
#popuptree{
  height:650px;
}
.ribbon {
  position: relative;
  left: 0px; top: -53px;
  z-index: 1;
  overflow: hidden;
  width: 63px; height: 54px;
  text-align: right;
}
.ribbon span {
  font-size: 9px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 97px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; left: -25px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
#newChapter{
  border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; 
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newTopic{
  /*border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; */
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newSubtopic{
  /*border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; */
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newaccordion{
  border: 1px solid #C6D1AD;
  border-radius: 5px;
  padding:15px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
label{
  width: 95px;
}
input{
  margin-bottom: 10px;
}

#topbar {
  float:left;
  position: relative;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   z-index: 2;
   height: 50px;
   /*margin-right: -1px;*/
}
#topbar ul.tab {
    margin: 0;
    padding: 0;
    list-style: none;
}
#topbar ul.tab li {
    margin: 0;
}
#topbar ul.tab li a {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 100;
  background: #EEEEEE;
  text-decoration: none;
  display: block;
  border: 1px solid #ddd;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}
#topbar ul.tab li a.selectdos{
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7;
  color: #56861f;
  
}
#topbar ul.tab li:hover a {
    background: #f7f7f7;
    color: #56861f;
}
#topbar ul.tab li:visited a {
    background: #f7f7f7;
    color: #56861f;
}

#topbar ul.tab li {float: left;}

.redBackground{
    background-color: gray;  
}

.topictree{
  overflow: hidden;
  overflow-y:scroll;
  height: 550px;
  width: 570px;
  font-size: 12px;
  padding: 5px 10px 10px 0px;
  text-align: left;
  margin: 10px;
  border: 1px solid #ddd;
}

/*button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}*/

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; 
}*/

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
    opacity: 1;
}
/*
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
*/
</style>
<br>
<div class="container">
    <div id="sidebar">
      <ul>
        <li id="pestana0"><a href='javascript:cambiarPestanna(pestana0);' class="select"><i class="plus"></i> Nueva Unidad</a></li>
          {% for top in topic_mineduc %}
            <li id="pestana{{ forloop.counter }}"><a href='javascript:cambiarPestanna(pestana{{ forloop.counter }}, {{ top.id_topic_mineduc }});' >{{ top.name }}</a></li>
          {% endfor %}
        </ul>
    </div>

    <div class="todo" style="min-width: 700px;">

    <div id="topbar" style="width: 100%; float: left; display: none">
      <!--<ul class="tab">
        <li id="pestanatop0"><a href='javascript:cambiarPestannaTop(pestanatop0);' class="selectdos" id="apestanatop0"><i class="plus"></i> Nueva Unidad top</a></li>
          {% for top in topic_mineduc %}
            <li id="pestanatop{{ forloop.counter }}"><a href='javascript:cambiarPestannaTop(pestanatop{{ forloop.counter }});' >{{ top.name }}</a></li>
          {% endfor %}
        </ul>-->
    </div>

    <div class="main-content" style="width: 100%; float: left;">
      
      <div id="contenidopestanas" style="margin-right: 200px;">

       <div id="cpestana0" class="cpestanna">
       <br>
        <h2 id="namecurso">{{ nombrecapitulo }}</h2>
        <div id="form00" class="form">
          <form action="" method="post" id="form0">{% csrf_token %}
            <h3>Datos de la Unidad:</h3>
            <label for='name'>Nombre de la Unidad: </label><input name="name" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalName" value="" id="newNameTopic"><br>
            <label for="block" style="margin-top: -10px;">Descripción de la Unidad: </label><textarea id="textarea_coment" class="ui-corner-all placeholder simple-input search-input blur-on-esc vaciar" style="width:160px; height:139px;"></textarea><br>
            <br>
            <div style="margin-left:200px"><a href='javascript:saveNewTopic()' class="kui-button kui-button-plain kui-button-primary">Guardar Unidad</a></div>
          </form>
        </div>
      </div>
      </div>

      <div id="contenidopestanastop" style="float: left; width: 100%;">

       <div id="cpestanatop0" class="cpestannatop" style="max-width: 500px;">
       <br>
        <h2 id="nameunidad"></h2>
        <p style="display: none;" id="idunidad"></p>
        <div id="formtop00" class="form">
          <form action="" method="post" id="formtop0">{% csrf_token %}
            <h3>Datos del Objetivo de Aprendizaje:</h3>
            <label for='name'>Nombre del OA: </label><input name="name" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalName" value="" id="newNameSubtopic"><br>
            <label for="block" style="margin-top: -10px;">Descripción del OA: </label><textarea id="textarea_coment_oa" class="ui-corner-all placeholder simple-input search-input blur-on-esc vaciar" style="width:160px; height:139px;"></textarea><br>
            <br>
            <div style="margin-left:200px"><a href='javascript:saveNewSubtopic()' class="kui-button kui-button-plain kui-button-primary">Guardar OA</a></div>
          </form>
        </div>
      </div>
      </div>
<!--
      {% for top in topic_mineduc %}
      <div id="cpestana{{ forloop.counter }}" class="cpestanna" style="display: none">
        <h2>{{ top.name }}</h2>
        <div id="form{{ forloop.counter }}{{ forloop.counter }}" class="form">
          <form action="" method="post" id="form{{ forloop.counter }}">{% csrf_token %}
            <h3>Datos de la Pauta:</h3>
            <label for='name'>Nombre de la Pauta: </label><input name="name" type="text" onchange="validar()" onkeyup="validar()" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalName" value="{{ top.name }}" ><br>
            <br>
            <label id="apprPer" for='approval_percentage'>Porcentaje de Aprobación: </label><input type="number" onchange="validar()" onkeyup="validar()" name="approval_percentage" value="" min="0" max="100" class="ui-corner-all placeholder simple-input search-input blur-on-esc approvalPercentage" onkeydown="return FilterInput(event)"><br>
            <br>
            <input name="forloop" value="{{ forloop.counter }}" type="hidden">
            <input name="importance_skill_level{{ forloop.counter }}" type="hidden">
            <input name="importance_completed_rec{{ forloop.counter }}" type="hidden">
            <input name="skills{{ forloop.counter }}" id="skillsInput{{ forloop.counter }}" type="hidden" value="[]">
            <br>
            <h4 style="text-align:center">% de Importancia para la Evaluación</h4>
            <div id="skill_level_div{{ forloop.counter }}" class="percentage">
              <span id="importance_skill_level{{ forloop.counter }}">50</span>%</br>

            </div>
            <div id="slider_up">
              <div id="slider{{ forloop.counter }}" class="slider">
                <div id="left-color{{ forloop.counter }}" class="left-color" style="width: 50%">
                </div>
              </div>
            </div>
            <div id="completed_rec_div{{ forloop.counter }}" class="percentage">
              <span id="importance_completed_rec{{ forloop.counter }}">50</span>%</br>

            </div><br>
            <div id="legends" style="margin-top:0px;width:100%;height:50px"><p style="text-align:left;float:left;width:120px;margin-top:0px">Nivel de Dominio Logrado</p><p style="text-align:right;float:right;width:110px;margin-top:0px;margin-right:7%">Habilidades Practicadas</p></div>
            <div style="float:left;margin-left:125px"><a href='javascript:confirmSaveConfig()' class="kui-button kui-button-plain kui-button-primary">Guardar Pauta</a></div>
          </form>
        </div>
        <div id="skills">
          <h3>Habilidades</h3>
          <div id="search">
          <label for='skill_search0'>Buscar: </label><input id="skill_search0" type="text" class="ui-corner-all placeholder simple-input search-input blur-on-esc" >
          </div>
        </div>
      </div>
      </div>
      {% endfor %}-->
    </div>
    </div>
</div>

<div id="popup" style="display:none">
  
</div>

<div id="popuptree" style="display:none">
  
</div>

<script type="text/javascript">

$('#curriculum').addClass('active selected');

$(document).ready(function(){
    
    $("#hover").click(function(){
          $(this).fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    
    $("#close").click(function(){
          $("#hover").fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    $('#contenidopestanastop').css('display', 'none');

    
  });

  function backChapter(){
    $('.class-content').show();
    $('.main-content').hide();
    $('#namecurso').hide();
    $('#sidebar').hide();
    $('#buttonback').hide();
  }

  function drawTopBar(idtopic){
    var arbol = JSON.parse('{{ json_data | escapejs }}');
    var chapters=arbol["capitulos"];
    var newtopbar='';
    newtopbar+='<ul class="tab"><li id="pestanatop0"><a href="javascript:cambiarPestannaTop(pestanatop0);" class="selectdos" id="apestanatop0"><i class="plus"></i> Nuevo Objetivo de Aprendizaje</a></li>';

    for (var i = 0; i < chapters.length; i++) {
      var topicos = chapters[i]['topico'];
      for (var j = 0; j < topicos.length; j++) {
        if (topicos[j]['id']==idtopic){
          var subtopicos = topicos[j]['subtopico'];
          for (var k = 0; k < subtopicos.length; k++) {
            newtopbar+='<li id="pestanatop0'+subtopicos[k]['id']+'"><a href="javascript:cambiarPestannaTop(pestanatop0'+subtopicos[k]['id']+');" id="apestanatop'+subtopicos[k]['id']+'"><i class="plus"></i> '+subtopicos[k]['nombre']+'</a></li>';
          }
        }
      }
    }

    newtopbar+='</ul>';

    $('#topbar').append(newtopbar);
  }


  function cambiarPestanna(pestanna, idtopic){
    $('#topbar').empty();
    id = (pestanna.id).substring(7);
    pestanna = document.getElementById(pestanna.id);
    cpestanna = document.getElementById('c' + pestanna.id);
    cpestannas = document.getElementsByClassName('cpestanna');
    contenidopestanas = document.getElementById('contenidopestanas');

    drawTopBar(idtopic);

    var texto = $('#pestana'+id+'').text();

    $('#nameunidad').empty();
    $('#nameunidad').append(texto);

    $('#idunidad').empty();
    $('#idunidad').append(id);

    var namesubtopic = $('input[id*="newNameSubtopic"]');
    namesubtopic.attr('id',"newNameSubtopic"+id+'');

    for (i=0;i<cpestannas.length;i++){
     $(contenidopestanas.getElementsByClassName('cpestanna')[i]).css('display', 'none');
    }

    if (id!=0){
      $('.main-content').css('position', 'relative');
      $('#topbar').css('display','');
      $('#contenidopestanastop').css('display', '');
    }
    else{
      $('.main-content').css('position', 'relative');
      $('#topbar').css('display','none');
      $('#contenidopestanastop').css('display', 'none');
    }

    $(document).ready(function () {
     $(document.getElementsByClassName("select")).removeClass("select");
       $(cpestanna).css('display', '');
       $(pestanna.getElementsByTagName('a')).addClass("select");

       $(document.getElementsByClassName("selectdos")).removeClass("selectdos");
       $('#apestanatop0').addClass("selectdos");
    });
  }

  function cambiarPestannaTop(pestanna, idtopic, idsubtopic){
    id=(pestanna.id).substring(10);

    pestannatop = document.getElementById(pestanna.id);
    cpestannatop = document.getElementById('c'+pestanna.id);
    cpestannastop = document.getElementsByClassName('cpestannatop');

    if(id==0){
      $('#contenidopestanastop').css('display', '');
    }
    else{
      $('#contenidopestanastop').css('display', 'none');
    }

    $(document).ready(function () {
     $(document.getElementsByClassName("selectdos")).removeClass("selectdos");
     $(cpestannatop).css('display', '');
     $(pestanna.getElementsByTagName('a')).addClass("selectdos");
    });
  }


  function showNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').hide();
  }

  function hideNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').show();
  }

  function showNewTopic(){
  $('#newTopic').toggle('blind',10);
  $('#buttonNewTopic').hide();
  }

  function hideNewTopic(){
  $('#popup').hide();
  $('#hover').hide();
  }

  function showNewSubtopic(){
  $('#newSubtopic').toggle('blind',10);
  $('#buttonNewSubtopic').hide();
  }

  function hideNewSubtopic(){
  $('#popup').hide();
  $('#hover').hide();
  }

  function hideTree(){
  $('#popuptree').hide();
  $('#hover').hide();
  }

  function saveNewChapter(){
    var nName = $('#newName').val();
    if(validar()){
      $.ajax({
      url: "{% url 'curriculum:nuevo_chapter' %}",
      type: "POST",
      data: {chapter: nName},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Nivel guardado correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }
        }
      });
    }else{
      $("#popup").empty()
      $("#hover").fadeIn().css('display', '');
      $("#popup").fadeIn().css('display', '');
      $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
    }
  }

function saveNewTopic(){
  var nombretopic = $('#newNameTopic').val();
  var desctopic = $('#textarea_coment').val();
  var nombrecurso = $('#namecurso').text();
  if(validarTopic()){
    $.ajax({
      url: "{% url 'curriculum:nuevo_topic' %}",
      type: "POST",
      data: {nombre: nombretopic, curso: nombrecurso, descripcion: desctopic},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Unidad guardada correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }        }
    });
  }
  else{
    $("#popup").empty()
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
    $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
  }
}


function saveNewSubtopic(){
  var idtopic = $('#idunidad').text();
  var nombresubtopic = $('#newNameSubtopic'+idtopic+'').val();
  var descripcionsubtopic = $('#textarea_coment_oa').val();

  /*console.log(idtopic);
  console.log(nombresubtopic);
  console.log(descripcionsubtopic);*/

  //console.log(descripcionsubtopic);
  if(validarSubtopic(idtopic)){
    $.ajax({
      url: "{% url 'curriculum:nuevo_subtopic' %}",
      type: "POST",
      data: {nombre: nombresubtopic, topico: idtopic, descripcion: descripcionsubtopic},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Objetivo de Aprendizaje guardado correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }        
        }
    });
  }
  else{
    $("#popup").empty()
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
    $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
  }
}

function saveVideoExercise(idsubtopic){
  var infodata=[];
  var cont=0;
  var select = $("#newTree"+idsubtopic).jstree("get_selected", true);
  for (var i = 0; i < select.length; i++) {
    if (typeof select[i]["data"] != "undefined"){
      if(select[i]["data"]["skill_id"]){
        infodata[cont]={"id":select[i]["id"],"id_sv":select[i]["data"]["skill_id"], "icon":select[i]["icon"]}
      }
      else{
        infodata[cont]={"id":select[i]["id"],"id_sv":select[i]["data"]["video_id"], "icon":select[i]["icon"]}
      }
    }

    cont++;
  }
  console.log(infodata);

  if (select.length>0){
    $.ajax({
    url: "{% url 'curriculum:save_videoexercise' %}",
    type: "POST",
    data: {infodata, subtopic:idsubtopic},
      success: function(response){
        $('#popuptree').hide();
        $("#popup").empty()
        $("#close").hide();
        $("#hover").fadeIn();
        $("#popup").fadeIn();
        $("#popup").append("<p class='response'>"+response+"</p>");
        auxResponse = response;
        if (auxResponse == "Ejercicios y/o Videos guardados correctamente"){
          $("#hover").css('pointer-events','none');
          $("#close").css('pointer-events','none');
          window.setTimeout(function(){location.reload()},1000);
        }    
      }
    });
  }
  else{
    console.log('faltan datos por elegir');
  }
}

/*function addTopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append("<div id='newTopic'><form action='' method='post' id='form1'>{% csrf_token %}<h3>Nueva Unidad</h3><label for='block'>Unidad: </label><input id='newNameTopic' onchange='validar()' onkeyup='validar()' name='nameTopic' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' ><br><a onclick='javascript:hideNewTopic()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(saveNewTopic('" + id + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a></form></div>");
}*/

/*function addSubtopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append("<div id='newSubtopic'><form action='' method='post' id='form2'>{% csrf_token %}<h3>Nuevo Objetivo de Aprendizaje o Aprendizaje Esperado</h3><label for='block'>Número: </label><input id='newNameSubtopic' onchange='validar()' onkeyup='validar()' name='nameSubtopic' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' ><br><label for='block'>Descripción: </label><textarea id='textarea_coment' class='ui-corner-all placeholder simple-input search-input blur-on-esc vaciar' style='width:220px;height:50px;padding-top:5px'></textarea><br><a onclick='javascript:hideNewSubtopic()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(saveNewSubtopic('" + id + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a></form></div>");
}*/

function addVideoExercise(idsubtopic, idtopic){
  var tree = JSON.parse('{{ topictree_json_string | escapejs }}');
  //console.log(tree);
  $('#popuptree').empty();
  $('#hover').fadeIn();
  $('#popuptree').fadeIn();
  $('#popuptree').append("<div id='filtrar' style='float:left;width:50%;'><label>Filtrar por: </label><select class='skill_search' onchange='valorfiltro(this, "+idsubtopic+")'><option value='todos'>Todos</option><option value='ejercicios'>Ejercicios</option><option value='videos'>Videos</option></select></div>")
  $('#popuptree').append("<div id='search' style='float:left;width:50%;'><label for='skill_search'>Buscar: </label><input id='skill_search' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' onkeyup='buscar()'></div>")
  $('#popuptree').append("<div id='newTree"+idsubtopic+"' class='topictree'></div>")
  $('#newTree'+idsubtopic+'').jstree(tree);
  $('#popuptree').append("<br><a onclick='javascript:hideTree()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(saveVideoExercise('" + idsubtopic + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a>");
  
  setTimeout(function(){
    var chapters=arbol["capitulos"];
    for (var i = 0; i < chapters.length; i++) {
      var topicos = chapters[i]["topico"];
      for (var j = 0; j < topicos.length; j++) {
        if (topicos[j]['id']==idtopic){
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==idsubtopic){
              var ejer = subtopicos[k]["skills"];
              for (var l = 0; l < ejer.length; l++) {
                $('#newTree'+id+'').jstree('select_node', '#'+ejer[l]['idtree']+'');
              }
              var vid = subtopicos[k]["videos"];
              for (var m = 0; m < vid.length; m++) {
                $('#newTree'+id+'').jstree('select_node', '#'+vid[m]['idtree']+'');
              }
            }
          }
        }   
      }
    }
  },1000);
}

function valorfiltro(valor, id){
  if(valor.value == "ejercicios"){
    var tree = JSON.parse('{{ topictree_json_string | escapejs }}');
    var info = tree['core']['data'];
    for (var i = 0; i < info.length; i++) {
        if(typeof info[i]['data']!= "undefined" && typeof info[i]['data']['video_id']!= "undefined"){
          delete info[i]
        } 
    }
    try{
      $('#newTree'+id+'').jstree("destroy");
      $('#newTree'+id+'').jstree(tree);
    }
    catch(err){
      $('#newTree'+id+'').jstree(tree);
      console.log(err);
    }
    setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==id){
              var ejer = subtopicos[k]["skills"];
              for (var l = 0; l < ejer.length; l++) {
                $('#newTree'+id+'').jstree('select_node', '#'+ejer[l]['idtree']+'');
              }
            }
          }
        }
      }
    },500);
  }
  if(valor.value == "videos"){
    var tree = JSON.parse('{{ topictree_json_string_video | escapejs }}');
    var info = tree['core']['data'];
    //console.log(info);
    for (var i = 0; i < info.length; i++) {
        if(typeof info[i]['data']!= "undefined" && typeof info[i]['data']['skill_id']!= "undefined"){
          delete info[i]
          //console.log(info[i]['data']);
        } 
    }
    //console.log(info)
    try{
      $('#newTree'+id+'').jstree("destroy");  
      $('#newTree'+id+'').jstree(tree);  
      //$('#newTree'+id+'').jstree(tree);
      //$('#newTree'+id+'').jstree("refresh");
      //console.log('paso el try');
    }
    catch(err){
      //$('#newTree'+id+'').jstree("destroy");
      $('#newTree'+id+'').jstree(tree);
      //console.log('paso el catch');
      //console.log(err);
      //$('#newTree'+id+'').jstree(tree);
    }
    //console.log(tree);
    setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==id){
              var vid = subtopicos[k]["videos"];
              for (var m = 0; m < vid.length; m++) {
                $('#newTree'+id+'').jstree('select_node', '#'+vid[m]['idtree']+'');
              }
            }
          }
        }
      }
    },500);
  }
  if (valor.value == "todos"){
    var tree = JSON.parse('{{ topictree_json_string | escapejs }}');
    var info = tree['core']['data'];
    try{
      $('#newTree'+id+'').jstree("destroy");
      $('#newTree'+id+'').jstree(tree);
    }
    catch(err){
      $('#newTree'+id+'').jstree(tree);
      console.log(err);
    }
    setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==id){
              var ejer = subtopicos[k]["skills"];
              for (var l = 0; l < ejer.length; l++) {
                $('#newTree'+id+'').jstree('select_node', '#'+ejer[l]['idtree']+'');
              }
              var vid = subtopicos[k]["videos"];
              for (var m = 0; m < vid.length; m++) {
                $('#newTree'+id+'').jstree('select_node', '#'+vid[m]['idtree']+'');
              }
            }
          }
        }
      }
    },1000);    
  }
}

function deleteVideoExercise(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div>¿Está seguro que desea eliminar los videos y ejercicios?</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteVideoExercise("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>')
}

function deleteSubtopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div>¿Está seguro que desea eliminar el Objetivo de Aprendizaje? Perderá toda la información de videos y ejercicios asociados a él.</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteSubtopic("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
}

function deleteTopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div>¿Está seguro que desea eliminar la unidad? Perderá toda la información de objetivos de aprendizaje, videos y ejercicios asociados a él.</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteTopic("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
}

function deleteChapter(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div style="max-width:500px;margin-left:50px;">¿Está seguro que desea eliminar el nivel? Perderá toda la información de unidades, objetivos de aprendizaje, videos y ejercicios asociados a él.</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteChapter("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
}

function cancelDelete(){
  $('#popup').hide();
  $('#hover').hide();
}

function confirmDeleteVideoExercise(id){
  //console.log(id)
  $.ajax({
    url: "{% url 'curriculum:deletevideoexercise' %}",
    type: "POST",
    data: {idsubtopic:id},
      success: function(response){
        $("#popup").empty()
        $("#close").hide();
        $("#hover").fadeIn();
        $("#popup").fadeIn();
        $("#popup").append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Videos y Ejercicios borrados correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }
      }
  });
}

function confirmDeleteSubtopic(id){
  $.ajax({
    url: "{% url 'curriculum:deletesubtopic' %}",
    type: "POST",
    data: {idtopic: id},
      success: function(response){
        $('#popup').empty();
        $('#close').hide();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Objetivo de Aprendizaje borrado correctamente"){
            $("#hover").css('pointer-events', 'none');
            $('#close').css('pointer-events', 'none');
            window.setTimeout(function(){location.reload()}, 1000);
          }
      }
  });
}

function confirmDeleteTopic(id){
  $.ajax({
    url: "{% url 'curriculum:deletetopic' %}",
    type: "POST",
    data: {idchapter: id},
      success: function(response){
        $('#popup').empty();
        $('#close').hide();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Unidad borrada correctamente"){
            $("#hover").css('pointer-events', 'none');
            $('#close').css('pointer-events', 'none');
            window.setTimeout(function(){location.reload()}, 1000);
          }
      }
  });
}

function confirmDeleteChapter(id){
  $.ajax({
    url: "{% url 'curriculum:deletechapter' %}",
    type: "POST",
    data: {idchapter: id},
      success: function(response){
        $('#popup').empty();
        $('#close').hide();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Nivel borrado correctamente"){
            $("#hover").css('pointer-events', 'none');
            $('#close').css('pointer-events', 'none');
            window.setTimeout(function(){location.reload()}, 1000);
          }
      }
  });
}

function validar(){
  flag = true;
  nName = document.getElementById("newName").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newName").css('color', '#C30202');
    flag = false;
  }else{
    $("#newName").css('color', '#000000');
  }
  return flag;
}

function validarTopic(){
  flag = true;
  nName = document.getElementById("newNameTopic").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newNameTopic").css('color', '#C30202');
    flag = false;
  }else{
    $("#newNameTopic").css('color', '#000000');
  }
  return flag;
}

function validarSubtopic(idtopic){
  flag = true;
  nName = document.getElementById("newNameSubtopic"+idtopic+"").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    console.log(nName);
    $("#newNameSubtopic").css('color', '#C30202');
    flag = false;
  }else{
    $("#newNameSubtopic").css('color', '#000000');
    console.log('entro en else');
  }
  return flag;
}
</script>

{% endblock %}