{% extends 'home.html' %}

{% load static %}

{% block title %}Planificación Curriculum{% endblock %}

{% block body2 %}

<!--<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>-->

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">-->

<link rel="stylesheet" type="text/css" href="{% static 'css/planning.css'%}">

<style>
th a:hover { text-decoration: underline; }
  table.tablaplanning { border-collapse: collapse; border: 1px solid #CCB; width:950px;}
  table.tablaplanning td, table.tablaplanning th { padding: 5px; border: 1px solid #E0E0E0;}
  table.tablaplanning th { background: #E5E5E5; text-align: left;}
  input.tablaplanning { background: red; color: #FDFDFD; }

  table.tablaplanning th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table.tablaplanning td {
  text-align: left;
}

table#tablaplan { border-collapse: collapse; border: 1px solid #CCB; width:800px;}
table#tablaplan td, table.testclass th { padding: 5px; border: 1px solid #E0E0E0;}
table#tablaplan th { background: #E5E5E5; text-align: left;}
table#tablaplan th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table#tablaplan td {
  text-align: left;
}

input{
  z-index: 1000;
  width: 100%;
  height: 100%;
}
#popup{
  height:150px;
}
#popuptree{
  height:650px;
}
.ribbon {
  position: relative;
  left: 0px; top: -53px;
  z-index: 1;
  overflow: hidden;
  width: 63px; height: 54px;
  /*text-align: right;*/
}
.ribbon span {
  font-size: 9px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 97px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; left: -25px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
.ribbon span::after {
  content: "";
  /*position: absolute; right: 0px; top: 100%;*/
  z-index: -1;
  /*border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
#newChapter{
  border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; 
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newTopic{
  /*border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; */
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newSubtopic{
  /*border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; */
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
#newaccordion{
  border: 1px solid #C6D1AD;
  border-radius: 5px;
  padding:15px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
label{
  width: 95px;
}
input{
  margin-bottom: 10px;
}

#topbar {
  float:left;
  position: relative;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   z-index: 2;
   height: 50px;
   /*margin-right: -1px;*/
}
#topbar ul.tab {
    margin: 0;
    padding: 0;
    list-style: none;
}
#topbar ul.tab li {
    margin: 0;
}
#topbar ul.tab li a {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 100;
  background: #EEEEEE;
  text-decoration: none;
  display: block;
  border: 1px solid #ddd;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}
#topbar ul.tab li a.selectdos{
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7;
  color: #56861f;
  
}
#topbar ul.tab li:hover a {
    background: #f7f7f7;
    color: #56861f;
}
#topbar ul.tab li:visited a {
    background: #f7f7f7;
    color: #56861f;
}

#topbar ul.tab li {float: left;}

.redBackground{
    background-color: gray;  
}

.topictree{
  overflow: hidden;
  overflow-y:scroll;
  height: 550px;
  width: 570px;
  font-size: 12px;
  padding: 5px 10px 10px 0px;
  text-align: left;
  margin: 10px;
  border: 1px solid #ddd;
}

button.accordion {
    background-color: #444;
    color: #aaa;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #777;
}

/*button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}*/

/*div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    min-width: 800px;
    min-height: 800px;
}*/


.videos,.skills, .descripcion{
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  width: 395px;
  height: 90px;
  padding: 10px;
  margin: 10px;
  margin-left: 150px;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
  background: #F6F7F7;
  float:left;
  cursor: default;
  -moz-user-select':-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select:none; 
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


.main-content li{
  text-align:left;
}

.main-content h2, h3{
  text-align: center;
}

.contenidodhv h2{
  margin-bottom: 0px;
}

td.mousepointer{
    cursor: pointer;
  }
</style>
<br>
<div class="container">
    <div id="sidebar">
      <ul>
        <li id="pestana0" style="visibility: hidden;"><a href='javascript:cambiarPestanna(pestana0);'><i class="plus"></i> Nueva Unidad</a></li>
          {% for top in topic_mineduc %}
          {% if forloop.first %}
            <li id="pestana{{ top.id_topic_mineduc }}"><a href='javascript:cambiarPestanna(pestana{{ top.id_topic_mineduc }}, {{ top.id_topic_mineduc }});' class="select">{{ top.name }}</a></li>
          {% else %}
            <li id="pestana{{ top.id_topic_mineduc }}"><a href='javascript:cambiarPestanna(pestana{{ top.id_topic_mineduc }}, {{ top.id_topic_mineduc }});'>{{ top.name }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>

    <div class="todo" style="min-width: 700px;">
      <h3 style="display: none;" id="mensajeun">No existen Unidades para este nivel.</h3>

    <div id="topbar" style="width: 100%; float: left; display: none">
    </div>

    <div class="main-content" style="width: 100%; float: left;">
    <h3 style="display: none;" id="mensajeoa">No existen Objetivos de Aprendizaje para esta unidad.</h3>
      
      <div id="contenidopestanas" style="margin-right: 200px;">
      </div>

      <div id="contenidopestanastop" style="float: left; width: 100%;">
      </div>
    </div>
    </div>
</div>

<div id="popup" style="display:none">
  
</div>

<div id="popuptree" style="display:none">
  
</div>

<script type="text/javascript">

$('#planificacion').addClass('active selected');

$(document).ready(function(){
  if (typeof $('a.select')[0] !== "undefined"){
    setTimeout(function(){
      $('a.select')[0].click();
    }, 100);
  }
  else{
    $('#mensajeun').css('display', '');
  }
  
  
    
    $("#hover").click(function(){
          $(this).fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    
    $("#close").click(function(){
          $("#hover").fadeOut();
      $("#popup").fadeOut();
      $("#popuptree").fadeOut();
      });
    $('#contenidopestanastop').css('display', 'none');

    contenidoTop();

  });

  function backChapter(){
    $('.class-content').show();
    $('.main-content').hide();
    $('#namecurso').hide();
    $('#sidebar').hide();
    $('#buttonback').hide();
  }

  function contenidoTop(){
    var conttop='';
    var arbol = JSON.parse('{{ json_data | escapejs }}');
    var chapters=arbol["capitulos"];
    for (var i = 0; i < chapters.length; i++) {
      var topicos=chapters[i]['topico'];
      for (var j = 0; j < topicos.length; j++) {
        var subtopicos=topicos[j]['subtopico'];
        for (var k = 0; k < subtopicos.length; k++) {
          conttop+='<div id="cpestanatop0'+subtopicos[k]['id']+'" class="cpestannatop" style="max-width: 500px;display:none;"><br><div class="contenidodhv">';

          conttop+='<div id="tablamiplanning"><h2>Mis Planificaciones</h2><br><table id="tablaplan"><tr id="cabecera"><th style="width: 16.5%;">Clase</th><th style="width: 16.5%;">Objetivo de la Clase</th><th style="width: 16.5%;">Inicio de la Clase</th><th style="width: 16.5%;">Cierre de la Clase</th><th style="width: 17%;">Ejercicios Khan</th><th style="width: 17%;">Videos Khan</th></tr>';
          {% for miplan in miplanificacion %}
          if ("{{ miplan.oa }}" == subtopicos[k]['aeoe']) {
            conttop+='<tr id="idcurso{{ miplan.curso }}__" class="for{{"forloop.counter"}}loop"><td id="{{forloop.counter}}__clase">{{ miplan.clase }}</td><td id="{{forloop.counter}}__objetivo">{{ miplan.objetivo }}</td><td id="{{forloop.counter}}__inicio">{{ miplan.inicio }}</td><td id="{{forloop.counter}}__cierre">{{ miplan.cierre }}</td>';
            conttop+='<td id="khanexercise"><ul>'
            {% for exercise in miplan.ejerciciokhan %}
              conttop+='<a href="{{exercise.urlskill}}" target="_blank"><li>{{exercise.namespanish}}</li></a><br>'
            {% endfor %}
            conttop+='</ul></td>';
            conttop+='<td id="khanvideo"><ul>'
            {% for video in miplan.videokhan %}
              conttop+='<a href="{{video.urlvideo}}" target="_blank"><li>{{video.namespanish}}</li></a><br>'
            {% endfor %}
            conttop+='</ul></td>';
          conttop+='</tr>';
          }
          {% endfor %}
          conttop+='</table></div><br><br>';

          conttop+='<div id="todadescripcion"><h2>Descripción:</h2><div class="descripcion" style="float:left"><ul><li>'+subtopicos[k]['aeoe']+'</li></ul></div></div><br><br>';

          conttop+='<div id="contenidoplanning'+subtopicos[k]['id']+'" style="display:none;">';

          conttop+='<button class="accordion" style="margin-left:100px;" onclick="mostrarEjercicios();">Definir Ejercicios</button><br><br>';

          conttop+='<div id="todahabilidad" class="todahabilidad" style="display:none;">';
          conttop+='<a onclick=\'(addExercise("'+subtopicos[k]['id']+'","'+topicos[j]['id']+'"))\' style="cursor:pointer; width:200px; height: 35px; padding:8px; display:none;" class="kui-button kui-button-plain kui-button-primary" id="botonexer0'+subtopicos[k]['id']+'">Agregar Ejercicios</a>';
          conttop+='<h2>Habilidades Propuestas</h2><div class="skills" id="skillpropuesta'+subtopicos[k]['id']+'" style="float:left;" ondragenter="return enter(event)" ondragover="return over(event)" ondragleave="return leave(event)" ondrop="return drop(event)">';
          var skills = subtopicos[k]['skills'];
          for (var l = 0; l < skills.length; l++) { 
            conttop+='<div title="'+skills[l]['nombre']+'" class="cuadradito" id="'+skills[l]['idtree']+'" draggable="true" ondragstart="start(event)" ondragend="end(event)">'+skills[l]['nombre']+'</div>';
          }
          conttop+='</div><h2>Habilidades para mi clase</h2><div class="skills" id="skillmiclase'+subtopicos[k]['id']+'" style="float:left;" ondragenter="return enter(event)" ondragover="return over(event)" ondragleave="return leave(event)" ondrop="return drop(event)"></div></div>';

          conttop+='<br><br>';
          conttop+='<button class="accordion" style="margin-left:100px;" onclick="mostrarVideos();">Definir Videos</button><br><br>';

          conttop+='<div id="todovideo" class="todovideo" style="display:none;">';
          conttop+='<a onclick=\'(addVideo("'+subtopicos[k]['id']+'","'+topicos[j]['id']+'"))\' style="cursor:pointer; width:200px; height: 35px; padding:8px; display:none;" class="kui-button kui-button-plain kui-button-primary" id="botonvid0'+subtopicos[k]['id']+'">Agregar Videos</a>';
          conttop+='<h2>Videos Propuestos</h2><div class="videos" id="videopropuesto'+subtopicos[k]['id']+'" style="float:left;" ondragenter="return enter(event)" ondragover="return overvid(event)" ondragleave="return leavevid(event)" ondrop="return dropvid(event)">';

          var videos = subtopicos[k]['videos'];
          for (var m = 0; m < videos.length; m++) {
            conttop+='<div title="'+videos[m]['nombre']+'" class="cuadradito" id="'+videos[m]['idtree']+'" draggable="true" ondragstart="startvid(event)" ondragend="endvid(event)">'+videos[m]['nombre']+'</div>';
          }
          conttop+='</div><h2>Videos para mi clase</h2><div class="videos" id="videomiclase'+subtopicos[k]['id']+'" style="float:left;" ondragenter="return enter(event)" ondragover="return overvid(event)" ondragleave="return leavevid(event)" ondrop="return dropvid(event)"></div></div>';

          conttop+='<a onclick=\'(setPlanning("'+subtopicos[k]['id']+'","'+topicos[j]['id']+'"))\' style="cursor:pointer; width:200px; height: 35px; padding:8px; display:none;" class="kui-button kui-button-plain kui-button-primary" id="botonplan0'+subtopicos[k]['id']+'">Empezar Planificación</a>';

          conttop+='</div>';
          conttop+='</div>';
          conttop+='<br><br>';
          conttop+='<a onclick=\'(newPlanning("'+subtopicos[k]['id']+'","'+topicos[j]['id']+'"))\' style="cursor:pointer; width:200px; height: 35px; padding:8px; display:none;" class="kui-button kui-button-plain kui-button-primary" id="botonnp0'+subtopicos[k]['id']+'">Nueva Planificación</a>';
          conttop+='<div id="tablaplanning'+subtopicos[k]['id']+'" style="display:none;width:700px;" class="tablaplanning"></div><br><br>';

          conttop+='<a onclick=\'(savePlanning("'+subtopicos[k]['id']+'","'+topicos[j]['id']+'"))\' style="cursor:pointer; width:200px; height: 35px; padding:8px; display:none;" class="kui-button kui-button-plain kui-button-primary" id="botonsave0'+subtopicos[k]['id']+'">Guardar Planificación</a>'
          conttop+='</div>';
        }
      }
    }
    $('#contenidopestanastop').append(conttop);
  }

  function mostrarEjercicios(){
    $('.todovideo').css('display', 'none');
    if( !($('.todahabilidad').is(":visible")) ){
      $('.todahabilidad').toggle('blind',1000)
    }
  }

  function mostrarVideos(){
    $('.todahabilidad').css('display', 'none');
    if( !($('.todovideo').is(":visible")) ){
      $('.todovideo').toggle('blind',1000)
    }
  }

  function start(e) {
          e.dataTransfer.effecAllowed = 'move'; // Define el efecto como mover (Es el por defecto)
          e.dataTransfer.setData("Data", e.target.id); // Coje el elemento que se va a mover
          e.dataTransfer.setDragImage(e.target, 0, 0); // Define la imagen que se vera al ser arrastrado el elemento y por donde se coje el elemento que se va a mover (el raton aparece en la esquina sup_izq con 0,0)
          e.target.style.opacity = '0.4'; 
      };

      function end(e){
          e.target.style.opacity = ''; // Pone la opacidad del elemento a 1           
          e.dataTransfer.clearData("Data");
      };

      function enter(e) {
          e.target.style.border = '3px dotted #555'; 
      };

      function leave(e) {
          e.target.style.border = ''; 
      };

      function over(e) {
          var elemArrastrable = e.dataTransfer.getData("Data"); // Elemento arrastrado
          var id = e.target.id; // Elemento sobre el que se arrastra
          
          // return false para que se pueda soltar
          if (id.indexOf('skillpropuesta')>-1){
              return false; // Cualquier elemento se puede soltar sobre el div destino 1
          }

          if (id.indexOf('skillmiclase')>-1){
              return false; // En el Evaluados se puede soltar cualquier elemento menos el elemento con id=arrastrable3
          }   
      };

      function drop(e){

          var elementoArrastrado = e.dataTransfer.getData("Data"); // Elemento arrastrado
          e.target.appendChild(document.getElementById(elementoArrastrado));
          e.target.style.border = '';  // Quita el borde
          tamContX = $('#'+e.target.id).width();
          tamContY = $('#'+e.target.id).height();

          tamElemX = $('#'+elementoArrastrado).width();
          tamElemY = $('#'+elementoArrastrado).height();

          posXCont = $('#'+e.target.id).position().left;
          posYCont = $('#'+e.target.id).position().top;

      }

  function startvid(e) {
          e.dataTransfer.effecAllowed = 'move'; // Define el efecto como mover (Es el por defecto)
          e.dataTransfer.setData("Data", e.target.id); // Coje el elemento que se va a mover
          e.dataTransfer.setDragImage(e.target, 0, 0); // Define la imagen que se vera al ser arrastrado el elemento y por donde se coje el elemento que se va a mover (el raton aparece en la esquina sup_izq con 0,0)
          e.target.style.opacity = '0.4'; 
      };

      function endvid(e){
          e.target.style.opacity = ''; // Pone la opacidad del elemento a 1           
          e.dataTransfer.clearData("Data");
      };

      function entervid(e) {
          e.target.style.border = '3px dotted #555'; 
      };

      function leavevid(e) {
          e.target.style.border = ''; 
      };

      function overvid(e) {
          var elemArrastrable = e.dataTransfer.getData("Data"); // Elemento arrastrado
          var id = e.target.id; // Elemento sobre el que se arrastra
          
          // return false para que se pueda soltar
          if (id.indexOf('videopropuesto')>-1){
              return false; // Cualquier elemento se puede soltar sobre el div destino 1
          }

          if (id.indexOf('videomiclase')>-1){
              return false; // En el Evaluados se puede soltar cualquier elemento menos el elemento con id=arrastrable3
          }   
      };

      function dropvid(e){

          var elementoArrastrado = e.dataTransfer.getData("Data"); // Elemento arrastrado
          e.target.appendChild(document.getElementById(elementoArrastrado));
          e.target.style.border = '';  // Quita el borde
          tamContX = $('#'+e.target.id).width();
          tamContY = $('#'+e.target.id).height();

          tamElemX = $('#'+elementoArrastrado).width();
          tamElemY = $('#'+elementoArrastrado).height();

          posXCont = $('#'+e.target.id).position().left;
          posYCont = $('#'+e.target.id).position().top;

      }

  function savePlanning(idsubtopico, idtopico){
    var oa = $('tr#id'+idsubtopico+' td#oa').text();
    var clase = $('tr#id'+idsubtopico+' td#clase').text();
    var objetivo = $('tr#id'+idsubtopico+' td#objetivo').text();
    var inicio = $('tr#id'+idsubtopico+' td#inicio').text();
    var cierre = $('tr#id'+idsubtopico+' td#cierre').text();
    var ejercicios = $('tr#id'+idsubtopico+' td#ejercicios').text();
    var videos = $('tr#id'+idsubtopico+' td#videos').text();

    var nivel = "{{ nivel }}";

    $.ajax({
      url: "{% url 'planificacion:guardarplan' %}",
      type: "POST",
      data: {oa:oa, clase:clase, objetivo:objetivo, inicio:inicio, cierre:cierre, ejercicios:ejercicios, videos:videos, nivel:nivel},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
            if (auxResponse == "Planificacion guardada correctamente"){
              $("#hover").css('pointer-events','none');
              $("#close").css('pointer-events','none');
              window.setTimeout(function(){location.reload()},1000);
            }
        }
    });
  }

  function setPlanning(idsubtopico, idtopico){
    //$('#botonplan0'+idsubtopico).css('display', 'none');
    $('#tablaplanning'+idsubtopico+'').empty();
    var mitabla='';

    $('#botonsave0'+idsubtopico+'').css('display', '');

    var openDiv = document.getElementById('skillmiclase'+idsubtopico+''); 
    var cuadritos = openDiv.getElementsByClassName('cuadradito');
    var ids =[];
    for (var i = 0; i < cuadritos.length; i++) {
          ids.push({
            title_skill:cuadritos[i].title,
            id_skill:cuadritos[i].id
          });
        }
    
    var openDivVid = document.getElementById('videomiclase'+idsubtopico+''); 
    var cuadritosvid = openDivVid.getElementsByClassName('cuadradito');
    var idsvids =[];
    for (var i = 0; i < cuadritosvid.length; i++) {
          idsvids.push({
            title_video:cuadritosvid[i].title,
            id_video:cuadritosvid[i].id
          });
        }

    var arbol = JSON.parse('{{ json_data | escapejs }}');
    var chapters=arbol["capitulos"];

    mitabla+='<table><thead><tr id="cabecera"><th style="width: 15%;">Objetivo de Aprendizaje</th><th style="width: 14%;">Clase</th><th style="width: 15%;">Objetivo de la Clase</th><th style="width: 14%;">Inicio de la Clase</th><th style="width: 14%;">Cierre de la Clase</th><th style="width: 14%;">Ejercicios Khan</th><th style="width: 14%;">Videos Khan</th></thead></tr>';

    for (var i = 0; i < chapters.length; i++) {
      var topicos = chapters[i]['topico'];
      for (var j = 0; j < topicos.length; j++) {
        if(topicos[j]['id']==idtopico){
          var subtopicos = topicos[j]['subtopico'];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==idsubtopico){
              mitabla+='<tbody><tr id="id'+idsubtopico+'"><td id="oa">'+subtopicos[k]['aeoe']+'</td><td id="clase" contenteditable="true" class="mousepointer"></td><td id="objetivo" contenteditable="true" class="mousepointer"></td><td id="inicio" contenteditable="true" class="mousepointer"></td><td id="cierre" contenteditable="true" class="mousepointer"></td><td id="ejercicios"><ul>';
              for (var l = 0; l < ids.length; l++) {
                mitabla+='<li id="'+ids[l]['id_skill']+'"><img src={% static "img/ejercicios.png" %} alt="ejercicios" height="15px;" width="15px;">'+ids[l]['title_skill']+'</li><div style="display:none;">##</div>'
              }
              mitabla+='</ul></td><td id="videos"><ul>';
              for (var m = 0; m < idsvids.length; m++) {
                mitabla+='<li id="'+idsvids[m]['id_video']+'"><img src={% static "img/videos.png" %} alt="videos" height="15px;" width="15px;">'+idsvids[m]['title_video']+'</li><div style="display:none;">##</div>'
              }

              mitabla+='</ul></td></tr></tbody></table>';
            }
          }
        }
      }
    }

    $('#tablaplanning'+idsubtopico+'').append(mitabla);
    $('#tablaplanning'+idsubtopico+'').css('display', '');
  }

  function newPlanning(idsubtopico, idtopico){
    $('[id*="contenidoplanning"]').css('display', 'none');
    $('[id*="botonnp0"]').css('display', 'none');
    if( !($('#contenidoplanning'+idsubtopico+'').is(":visible")) ){
      $('#contenidoplanning'+idsubtopico+'').toggle('blind',1000)
    }
  }

  function drawTopBar(idtopic){
    var arbol = JSON.parse('{{ json_data | escapejs }}');
    var chapters=arbol["capitulos"];
    var newtopbar='';
    var idsubtopico;
    newtopbar+='<ul class="tab">';
    for (var i = 0; i < chapters.length; i++) {
      var topicos = chapters[i]['topico'];
      for (var j = 0; j < topicos.length; j++) {
        if (topicos[j]['id']==idtopic){
          var subtopicos = topicos[j]['subtopico'];
          for (var k = 0; k < subtopicos.length; k++) {
            if (k==0){
              idsubtopico=subtopicos[k]['id'];
              newtopbar+='<li id="pestanatop0'+subtopicos[k]['id']+'"><a href="javascript:cambiarPestannaTop(pestanatop0'+subtopicos[k]['id']+');" id="apestanatop0'+subtopicos[k]['id']+'" class="selectdos">'+subtopicos[k]['nombre']+'</a></li>'; 
            }
            else{
              newtopbar+='<li id="pestanatop0'+subtopicos[k]['id']+'"><a href="javascript:cambiarPestannaTop(pestanatop0'+subtopicos[k]['id']+');" id="apestanatop0'+subtopicos[k]['id']+'">'+subtopicos[k]['nombre']+'</a></li>'; 
            }
          }
        }
      }
    }

    newtopbar+='</ul>';
    $('#topbar').append(newtopbar);
    return idsubtopico
  }

  $('#breadcrumb').html('Nivel / {{ nivel }}')


  function cambiarPestanna(pestanna, idtopic){
    $('#topbar').empty();
    id = (pestanna.id).substring(7);
    //console.log(pestanna);
    pestanna = document.getElementById(pestanna.id);
    cpestanna = document.getElementById('c' + pestanna.id);
    cpestannas = document.getElementsByClassName('cpestanna');
    contenidopestanas = document.getElementById('contenidopestanas');

    var x = drawTopBar(idtopic);

    if (typeof x === 'undefined' || x === null){
      //console.log(x);
      $('#mensajeoa').css('display', '')
    }
    else{
      $('#mensajeoa').css('display', 'none')
    }

    //console.log(x);

    var texto = $('#pestana'+id+'').text();

    $('#nameunidad').empty();
    $('#nameunidad').append(texto);

    $('#idunidad').empty();
    $('#idunidad').append(id);

    var namesubtopic = $('input[id*="newNameSubtopic"]');
    namesubtopic.attr('id',"newNameSubtopic"+id+'');

    for (i=0;i<cpestannas.length;i++){
     $(contenidopestanas.getElementsByClassName('cpestanna')[i]).css('display', 'none');
    }
    //console.log(cpestannas);

    if (id!=0){
      $('.main-content').css('position', 'relative');
      $('#topbar').css('display','');
      $('#contenidopestanastop').css('display', '');
      $('[id*="cpestanatop0"]').css('display', 'none');
      $('#cpestanatop0'+x+'').css('display','');
    }
    else{
      $('.main-content').css('position', 'relative');
      $('#topbar').css('display','none');
      $('#contenidopestanastop').css('display', 'none');
    }

    $(document).ready(function () {
     $(document.getElementsByClassName("select")).removeClass("select");
       $(cpestanna).css('display', '');
       $(pestanna.getElementsByTagName('a')).addClass("select");

       $(document.getElementsByClassName("selectdos")).removeClass("selectdos");
       $('#apestanatop0'+x+'').addClass("selectdos");
       $('#botonnp0'+x+'').css('display', '');
       $('#botonexer0'+x+'').css('display', '');
       $('#botonvid0'+x+'').css('display', '');
       $('#botonmostrarej0'+x+'').css('display', '');
       $('#botonmostrarvi0'+x+'').css('display', '');
       $('#botonplan0'+x+'').css('display', '');
    });
  }

  function cambiarPestannaTop(pestanna){
    id=(pestanna.id).substring(10);
    pestannatop = document.getElementById(pestanna.id);
    var psttop=pestanna.id;
    cpestannatop = document.getElementById('c'+psttop);
    cpestannastop = document.getElementsByClassName('cpestannatop');

    //console.log(cpestannatop);

    for (i=0;i<cpestannastop.length;i++){
     $(contenidopestanastop.getElementsByClassName('cpestannatop')[i]).css('display', 'none');
    }

    if(id==0){
      $('#cpestanatop0').css('display', '');
    }
    else{
      $('#cpestanatop0').css('display', 'none');
    }
    //console.log('botoncito'+id+'');
    //console.log($('#botoncito'+id+''));
    //$('[id*="botoncito"]').css('display', 'none');
    //$('#botoncito'+id+'').css('display', '');
    $('[id*="botonnp"]').css('display', 'none');
    $('#botonnp'+id+'').css('display', '');

    $('[id*="botonexer"]').css('display', 'none');
    $('#botonexer'+id+'').css('display', '');

    $('[id*="botonvid"]').css('display', 'none');
    $('#botonvid'+id+'').css('display', '');


    $('[id*="botonmostrarej"]').css('display', 'none');
    $('#botonmostrarej0'+id+'').css('display', '');
    $('[id*="botonmostrarvi"]').css('display', 'none');
    $('#botonmostrarvi0'+id+'').css('display', '');

    $('[id*="botonplan"]').css('display', 'none');
    $('#botonplan0'+id+'').css('display', '');

    //$('#cpestanatop0'+id+'').css('display', '');

    $(document).ready(function () {
     $(document.getElementsByClassName("selectdos")).removeClass("selectdos");
     $(cpestannatop).css('display', '');
     $(pestanna.getElementsByTagName('a')).addClass("selectdos");
    });
  }


  function showNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').hide();
  }

  function hideNewChapter(){
  $('#newChapter').toggle('blind',10);
  $('#buttonNewChapter').show();
  }

  function showNewTopic(){
  $('#newTopic').toggle('blind',10);
  $('#buttonNewTopic').hide();
  }

  function hideNewTopic(){
  $('#popup').hide();
  $('#hover').hide();
  }

  function showNewSubtopic(){
  $('#newSubtopic').toggle('blind',10);
  $('#buttonNewSubtopic').hide();
  }

  function hideNewSubtopic(){
  $('#popup').hide();
  $('#hover').hide();
  }

  function hideTree(){
  $('#popuptree').hide();
  $('#hover').hide();
  }

  function saveNewChapter(){
    var nName = $('#newName').val();
    if(validar()){
      $.ajax({
      url: "{% url 'curriculum:nuevo_chapter' %}",
      type: "POST",
      data: {chapter: nName},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Nivel guardado correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }
        }
      });
    }else{
      $("#popup").empty()
      $("#hover").fadeIn().css('display', '');
      $("#popup").fadeIn().css('display', '');
      $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
    }
  }

function saveNewTopic(){
  var nombretopic = $('#newNameTopic').val();
  var desctopic = $('#textarea_coment').val();
  var nombrecurso = $('#namecurso').text();
  if(validarTopic()){
    $.ajax({
      url: "{% url 'curriculum:nuevo_topic' %}",
      type: "POST",
      data: {nombre: nombretopic, curso: nombrecurso, descripcion: desctopic},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Unidad guardada correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }        }
    });
  }
  else{
    $("#popup").empty()
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
    $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
  }
}


function saveNewSubtopic(){
  var idtopic = $('#idunidad').text();
  var nombresubtopic = $('#newNameSubtopic'+idtopic+'').val();
  var descripcionsubtopic = $('#textarea_coment_oa').val();

  /*console.log(idtopic);
  console.log(nombresubtopic);
  console.log(descripcionsubtopic);*/

  //console.log(descripcionsubtopic);
  if(validarSubtopic(idtopic)){
    $.ajax({
      url: "{% url 'curriculum:nuevo_subtopic' %}",
      type: "POST",
      data: {nombre: nombresubtopic, topico: idtopic, descripcion: descripcionsubtopic},
        success: function(response){
          $("#popup").empty()
          $("#close").hide();
          $("#hover").fadeIn();
          $("#popup").fadeIn();
          $("#popup").append("<p class='response'>"+response+"</p>");
          auxResponse = response;
          if (auxResponse == "Objetivo de Aprendizaje guardado correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }        
        }
    });
  }
  else{
    $("#popup").empty()
    $("#hover").fadeIn().css('display', '');
    $("#popup").fadeIn().css('display', '');
    $("#popup").append("<p class='response'>Revise los campos ingresados</p>");
  }
}

function saveVideoExercise(idsubtopic){
  var infodata=[];
  var cont=0;
  var select = $("#newTree"+idsubtopic).jstree("get_selected", true);
  for (var i = 0; i < select.length; i++) {
    if (typeof select[i]["data"] != "undefined"){
      if(select[i]["data"]["skill_id"]){
        infodata[cont]={"id":select[i]["id"],"id_sv":select[i]["data"]["skill_id"], "icon":select[i]["icon"]}
      }
      else{
        infodata[cont]={"id":select[i]["id"],"id_sv":select[i]["data"]["video_id"], "icon":select[i]["icon"]}
      }
    }
    cont++;
  }

  if (select.length>0){
    $.ajax({
    url: "{% url 'curriculum:save_videoexercise' %}",
    type: "POST",
    data: {infodata, subtopic:idsubtopic},
      success: function(response){
        $('#popuptree').hide();
        $("#popup").empty()
        $("#close").hide();
        $("#hover").fadeIn();
        $("#popup").fadeIn();
        $("#popup").append("<p class='response'>"+response+"</p>");
        auxResponse = response;
        if (auxResponse == "Ejercicios y/o Videos guardados correctamente"){
          $("#hover").css('pointer-events','none');
          $("#close").css('pointer-events','none');
          window.setTimeout(function(){location.reload()},1000);
        }    
      }
    });
  }
  else{
    console.log('faltan datos por elegir');
  }
}

function showExercise(idsubtopic){
  $('#skillpropuesta'+idsubtopic+'').empty();
  var select = $('#newTree'+idsubtopic).jstree("get_selected", true);
  for (var i = 0; i < select.length; i++) {
    if(typeof select[i]["data"] != 'undefined'){
      $('#skillpropuesta'+idsubtopic+'').append('<div title="'+select[i]['text']+'" class="cuadradito" id="'+select[i]['id']+'" draggable="true" ondragstart="start(event)" ondragend="end(event)">'+select[i]['text']+'</div>');
    }
  }
  $('#popuptree').hide();
  $('#hover').fadeOut();
}

function showVideo(idsubtopic){
  $('#videopropuesto'+idsubtopic+'').empty();
  var select = $('#newTree'+idsubtopic).jstree("get_selected", true);
  for (var i = 0; i < select.length; i++) {
    if(typeof select[i]["data"] != 'undefined'){
      $('#videopropuesto'+idsubtopic+'').append('<div title="'+select[i]['text']+'" class="cuadradito" id="'+select[i]['id']+'" draggable="true" ondragstart="start(event)" ondragend="end(event)">'+select[i]['text']+'</div>');
    }
  }
  $('#popuptree').hide();
  $('#hover').fadeOut();
}

function addExercise(idsubtopic, idtopic){
  var tree = JSON.parse('{{ topictree_exercise | escapejs }}');
  var arbol = JSON.parse('{{ json_data | escapejs }}');
  //console.log(tree);
  $('#popuptree').empty();
  $('#hover').fadeIn();
  $('#popuptree').fadeIn();
  $('#popuptree').append("<div id='search' style='float:left;width:50%;'><label for='skill_search'>Buscar: </label><input id='skill_search' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' onkeyup='buscar()'></div>")
  $('#popuptree').append("<div id='newTree"+idsubtopic+"' class='topictree'></div>")
  $('#newTree'+idsubtopic+'').jstree(tree);
  $('#popuptree').append("<br><a onclick='javascript:hideTree()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(showExercise('" + idsubtopic + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a>");
  
  setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==idsubtopic){
              var ejer = subtopicos[k]["skills"];
              for (var l = 0; l < ejer.length; l++) {
                $('#newTree'+idsubtopic+'').jstree('select_node', '#'+ejer[l]['idtree']+'');
              }
            }
          }
        }
      }
    },1000);   
}

function addVideo(idsubtopic, idtopic){
  var tree = JSON.parse('{{ topictree_video | escapejs }}');
  var arbol = JSON.parse('{{ json_data | escapejs }}');
  //console.log(tree);
  $('#popuptree').empty();
  $('#hover').fadeIn();
  $('#popuptree').fadeIn();
  $('#popuptree').append("<div id='search' style='float:left;width:50%;'><label for='skill_search'>Buscar: </label><input id='skill_search' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' onkeyup='buscar()'></div>")
  $('#popuptree').append("<div id='newTree"+idsubtopic+"' class='topictree'></div>")
  $('#newTree'+idsubtopic+'').jstree(tree);
  $('#popuptree').append("<br><a onclick='javascript:hideTree()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(showVideo('" + idsubtopic + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a>");
  
  setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==idsubtopic){
              var vid = subtopicos[k]["videos"];
              for (var m = 0; m < vid.length; m++) {
                $('#newTree'+idsubtopic+'').jstree('select_node', '#'+vid[m]['idtree']+'');
              }
            }
          }
        }
      }
    },1000);   
}

/*function addVideoExercise(idsubtopic, idtopic){
  var tree = JSON.parse('{{ topictree_json_string | escapejs }}');
  var arbol = JSON.parse('{{ json_data | escapejs }}');
  //console.log(tree);
  $('#popuptree').empty();
  $('#hover').fadeIn();
  $('#popuptree').fadeIn();
  $('#popuptree').append("<div id='filtrar' style='float:left;width:50%;'><label>Filtrar por: </label><select class='skill_search' onchange='valorfiltro(this, "+idsubtopic+")'><option value='todos'>Todos</option><option value='ejercicios'>Ejercicios</option><option value='videos'>Videos</option></select></div>")
  $('#popuptree').append("<div id='search' style='float:left;width:50%;'><label for='skill_search'>Buscar: </label><input id='skill_search' type='text' class='ui-corner-all placeholder simple-input search-input blur-on-esc' onkeyup='buscar()'></div>")
  $('#popuptree').append("<div id='newTree"+idsubtopic+"' class='topictree'></div>")
  $('#newTree'+idsubtopic+'').jstree(tree);
  $('#popuptree').append("<br><a onclick='javascript:hideTree()' class='kui-button kui-button-plain kui-button-primary' style='display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Cancelar</a><a onclick=\"(saveVideoExercise('" + idsubtopic + " '))\" class='kui-button kui-button-plain kui-button-primary' style='cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px'>Guardar</a>");

  
  setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==id){
              var ejer = subtopicos[k]["skills"];
              for (var l = 0; l < ejer.length; l++) {
                $('#newTree'+idsubtopic+'').jstree('select_node', '#'+ejer[l]['idtree']+'');
              }
              var vid = subtopicos[k]["videos"];
              for (var m = 0; m < vid.length; m++) {
                $('#newTree'+idsubtopic+'').jstree('select_node', '#'+vid[m]['idtree']+'');
              }
            }
          }
        }
      }
    },1000);   
}*/

function valorfiltro(valor, id){
  var arbol = JSON.parse('{{ json_data | escapejs }}');
  if(valor.value == "ejercicios"){
    var tree = JSON.parse('{{ topictree_json_string | escapejs }}');
    var info = tree['core']['data'];
    for (var i = 0; i < info.length; i++) {
        if(typeof info[i]['data']!= "undefined" && typeof info[i]['data']['video_id']!= "undefined"){
          delete info[i]
        } 
    }
    try{
      $('#newTree'+id+'').jstree("destroy");
      $('#newTree'+id+'').jstree(tree);
    }
    catch(err){
      $('#newTree'+id+'').jstree(tree);
      console.log(err);
    }
    setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==id){
              var ejer = subtopicos[k]["skills"];
              for (var l = 0; l < ejer.length; l++) {
                $('#newTree'+id+'').jstree('select_node', '#'+ejer[l]['idtree']+'');
              }
            }
          }
        }
      }
    },500);
  }
  if(valor.value == "videos"){
    var tree = JSON.parse('{{ topictree_json_string_video | escapejs }}');
    var info = tree['core']['data'];
    //console.log(info);
    for (var i = 0; i < info.length; i++) {
        if(typeof info[i]['data']!= "undefined" && typeof info[i]['data']['skill_id']!= "undefined"){
          delete info[i]
          //console.log(info[i]['data']);
        } 
    }
    //console.log(info)
    try{
      $('#newTree'+id+'').jstree("destroy");  
      $('#newTree'+id+'').jstree(tree);  
      //$('#newTree'+id+'').jstree(tree);
      //$('#newTree'+id+'').jstree("refresh");
      //console.log('paso el try');
    }
    catch(err){
      //$('#newTree'+id+'').jstree("destroy");
      $('#newTree'+id+'').jstree(tree);
      //console.log('paso el catch');
      //console.log(err);
      //$('#newTree'+id+'').jstree(tree);
    }
    //console.log(tree);
    setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==id){
              var vid = subtopicos[k]["videos"];
              for (var m = 0; m < vid.length; m++) {
                $('#newTree'+id+'').jstree('select_node', '#'+vid[m]['idtree']+'');
              }
            }
          }
        }
      }
    },500);
  }
  if (valor.value == "todos"){
    var tree = JSON.parse('{{ topictree_json_string | escapejs }}');
    var info = tree['core']['data'];
    try{
      $('#newTree'+id+'').jstree("destroy");
      $('#newTree'+id+'').jstree(tree);
    }
    catch(err){
      $('#newTree'+id+'').jstree(tree);
      console.log(err);
    }
    setTimeout(function(){
      var chapters=arbol["capitulos"];
      for (var i = 0; i < chapters.length; i++) {
        var topicos = chapters[i]["topico"];
        for (var j = 0; j < topicos.length; j++) {
          var subtopicos = topicos[j]["subtopico"];
          for (var k = 0; k < subtopicos.length; k++) {
            if (subtopicos[k]['id']==id){
              var ejer = subtopicos[k]["skills"];
              for (var l = 0; l < ejer.length; l++) {
                $('#newTree'+id+'').jstree('select_node', '#'+ejer[l]['idtree']+'');
              }
              var vid = subtopicos[k]["videos"];
              for (var m = 0; m < vid.length; m++) {
                $('#newTree'+id+'').jstree('select_node', '#'+vid[m]['idtree']+'');
              }
            }
          }
        }
      }
    },1000);    
  }
}

function deleteVideoExercise(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div>¿Está seguro que desea eliminar los videos y ejercicios?</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteVideoExercise("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>')
}

function deleteSubtopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div>¿Está seguro que desea eliminar el Objetivo de Aprendizaje? Perderá toda la información de videos y ejercicios asociados a él.</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteSubtopic("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
}

function deleteTopic(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div>¿Está seguro que desea eliminar la unidad? Perderá toda la información de objetivos de aprendizaje, videos y ejercicios asociados a él.</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteTopic("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
}

function deleteChapter(id){
  $('#popup').empty();
  $('#hover').fadeIn();
  $('#popup').fadeIn();
  $('#popup').append('<div style="max-width:500px;margin-left:50px;">¿Está seguro que desea eliminar el nivel? Perderá toda la información de unidades, objetivos de aprendizaje, videos y ejercicios asociados a él.</div>');
  $('#popup').append('<a onclick=\'(confirmDeleteChapter("'+id+'"))\' class="kui-button kui-button-plain kui-button-primary" style="cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Aceptar</a><a onclick="javascript:cancelDelete()" class="kui-button kui-button-plain kui-button-primary" style="display:inline;cursor:pointer; width:80px; height: 35px; padding:8px; margin-top:10px">Cancelar</a>');
}

function cancelDelete(){
  $('#popup').hide();
  $('#hover').hide();
}

function confirmDeleteVideoExercise(id){
  //console.log(id)
  $.ajax({
    url: "{% url 'curriculum:deletevideoexercise' %}",
    type: "POST",
    data: {idsubtopic:id},
      success: function(response){
        $("#popup").empty()
        $("#close").hide();
        $("#hover").fadeIn();
        $("#popup").fadeIn();
        $("#popup").append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Videos y Ejercicios borrados correctamente"){
            $("#hover").css('pointer-events','none');
            $("#close").css('pointer-events','none');
            window.setTimeout(function(){location.reload()},1000);
          }
      }
  });
}

function confirmDeleteSubtopic(id){
  $.ajax({
    url: "{% url 'curriculum:deletesubtopic' %}",
    type: "POST",
    data: {idtopic: id},
      success: function(response){
        $('#popup').empty();
        $('#close').hide();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Objetivo de Aprendizaje borrado correctamente"){
            $("#hover").css('pointer-events', 'none');
            $('#close').css('pointer-events', 'none');
            window.setTimeout(function(){location.reload()}, 1000);
          }
      }
  });
}

function confirmDeleteTopic(id){
  $.ajax({
    url: "{% url 'curriculum:deletetopic' %}",
    type: "POST",
    data: {idchapter: id},
      success: function(response){
        $('#popup').empty();
        $('#close').hide();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Unidad borrada correctamente"){
            $("#hover").css('pointer-events', 'none');
            $('#close').css('pointer-events', 'none');
            window.setTimeout(function(){location.reload()}, 1000);
          }
      }
  });
}

function confirmDeleteChapter(id){
  $.ajax({
    url: "{% url 'curriculum:deletechapter' %}",
    type: "POST",
    data: {idchapter: id},
      success: function(response){
        $('#popup').empty();
        $('#close').hide();
        $('#hover').fadeIn();
        $('#popup').fadeIn();
        $('#popup').append("<p class='response'>"+response+"</p>");
        auxResponse = response;
          if (auxResponse == "Nivel borrado correctamente"){
            $("#hover").css('pointer-events', 'none');
            $('#close').css('pointer-events', 'none');
            window.setTimeout(function(){location.reload()}, 1000);
          }
      }
  });
}

function validar(){
  flag = true;
  nName = document.getElementById("newName").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newName").css('color', '#C30202');
    flag = false;
  }else{
    $("#newName").css('color', '#000000');
  }
  return flag;
}

function validarTopic(){
  flag = true;
  nName = document.getElementById("newNameTopic").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    $("#newNameTopic").css('color', '#C30202');
    flag = false;
  }else{
    $("#newNameTopic").css('color', '#000000');
  }
  return flag;
}

function validarSubtopic(idtopic){
  flag = true;
  nName = document.getElementById("newNameSubtopic"+idtopic+"").value;
  if(nName == null || nName.length == 0 || /^\s+$/.test(nName)) {
    console.log(nName);
    $("#newNameSubtopic").css('color', '#C30202');
    flag = false;
  }else{
    $("#newNameSubtopic").css('color', '#000000');
    console.log('entro en else');
  }
  return flag;
}
</script>

{% endblock %}