{% extends 'home.html' %}

{% load static %}

{% block title %}Estadísticas{% endblock %}

{% block body2 %}

<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/superstats.css'%}">
<!--<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>!-->

<br>
<div class="principal" style="background-color: #f7f7f7;height: 500px;">
<br>
  <br>
  <h1 style="text-align:center;">Estadísticas</h1>
  <div class="contenedor" style="width:20%;float:left;">
  <br>
  <h2 align="center">Cursos</h2>
  <div id="contenedor">
  </div>
  </div>
  <div id="trabajo" style="width:50%;float:left;" class="trabajo">
    <br>
  <h2 align="center">Tipo de Trabajo</h2>
  <div id="testsched">
  
  </div>
  <br>
  <div align="left" style="margin-left:50px;float: left;width: 40%;">
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="radio1">Todo <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="radio2">Horario de clases <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="radio3">Fuera horario de clases <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="radio4">Personalizado <br>  
  </div>
  <div align="left" style="margin-right:50px;float: left;width: 40%;">
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="radio5">Todo vs Horario de clases <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="radio6">Todo vs Fuera horario de clases <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="radio7">Horario de clases vs Fuera horario de clases <br>
  </div>

</div>
  <div id="fechas" style="width:100%;float:left;" class="dates">
    <br>
    <h2 align="left" style="margin-left:200px;">Fechas</h2>
        <div  class="fechas" style="margin-left: 50px;">
          <p class="label_input"><strong id="fIniTooltip">Desde</strong></p>
          <input name="desde" onchange="validar()" onkeyup="validar()" id="desde" class="ui-corner-all placeholder simple-input search-input blur-on-esc skill_search" type="date" max="9999-12-31" placeholder="Desde"/>
        </div>
        <div  class="fechas">
          <p class="label_input"><strong id="fTerTooltip">Hasta</strong></p>
          <input name="hasta" onchange="validar()" onkeyup="validar()" id="hasta" class="ui-corner-all placeholder simple-input search-input blur-on-esc skill_search" type="date" max="9999-12-31" placeholder="Hasta"/>
        </div>
  </div>
<br>
    <div style="float:left;width:100%" align="center">
    <input type="button" id="button_realizar" onClick="crearEstadisticas();" class="kui-button kui-button-plain kui-button-primary" value="Ver estadísticas">
  </div>
</div>

  <div id="loading" class="profile-throbber">
    <div class="throbber-grid">   
            <div class="throbber-row clearfix">
             <div class="block-0 throbber-block"></div>
             <div class="block-1 throbber-block"></div>
             <div class="block-2 throbber-block"></div>
        </div>
        <div class="throbber-row clearfix">
             <div class="block-7 throbber-block"></div>
             <div class="block-8 throbber-block"></div>
             <div class="block-3 throbber-block"></div>
        </div>
        <div class="throbber-row clearfix">
             <div class="block-6 throbber-block"></div>
             <div class="block-5 throbber-block"></div>
             <div class="block-4 throbber-block"></div>
        </div>
    </div>
  </div>



</div>
<div class="graphics" id="graph" align="center">
<input type="button" id="button_parameter" onClick="containerShow()" class="kui-button kui-button-plain kui-button-primary" value="Definir parámetros">
<br>
<p>La carga de datos puede demorar unos minutos.</p>
<hr>
<div id="containerej" style="min-width: 300px; height: 500px; margin: 0 auto"></div>
<hr>
<div id="containervid" style="min-width: 300px; height: 500px; margin: 0 auto"></div>
<hr>
<div id="containertot" style="min-width: 300px; height: 500px; margin: 0 auto"></div>
</div>

<div id="popup" style="display:none">
	<div id="close">X</div>
</div>

<div id="popup_error" class="popup" style="display:none">
  <div id="close" onClick="$('#popup_error').fadeOut();$('#hover').fadeOut();">X</div>
</div>

<script>

    $(document).ready(function(){
        $('table#sort_table').tablesorter({
            animation: 'slide',
            speed: 1200,
            sortList: [[0,0], [0,1]]
        });

    });
    var tree = JSON.parse('{{ json_data | escapejs }}');
    //console.log(tree);
    $('#contenedor').jstree(tree);
    //drawNiceScrolls();
    $('#loading').hide()
    $('.graphics').hide();
    $('#testsched').hide();
      $("#hover").click(function(){
          $(this).fadeOut();
          $("#popup").fadeOut();
          $("#popup_error").fadeOut();
        });




$('#estadisticas').addClass('active selected');

$('input[name="day"]').prop("disabled", true);


function drawTableSchedule(){
  var tableSchedule='<table class="testsched" id="sort_table">';
  tableSchedule+="<thead><tr><th width='30%'>Horario</th><th width='10%' id='HSE' onclick='diaselect(\x22Monday\x22);'>Lunes</th>";
  tableSchedule+="<th width='10%' id='HSE' onclick='diaselect(\x22Tuesday\x22);'>Martes</th>";
  tableSchedule+="<th width='10%' id='HSE' onclick='diaselect(\x22Wednesday\x22);'>Miércoles</th>";
  tableSchedule+="<th width='10%' id='HSE' onclick='diaselect(\x22Thursday\x22);'>Jueves</th>";
  tableSchedule+="<th width='10%' id='HSE' onclick='diaselect(\x22Friday\x22);'>Viernes</th>";
  tableSchedule+="<th width='10%' id='HSE' onclick='diaselect(\x22Saturday\x22);'>Sábado</th>";
  tableSchedule+="<th width='10%' id='HSE' onclick='diaselect(\x22Sunday\x22);'>Domingo</th>";
  tableSchedule+="</tr></thead>"
  for(var i=0;i<24;i++){
    tableSchedule+="<tr id='"+i+"' class='nocolor'>";
    if(i<10){
      tableSchedule+="<th id='HSE' onclick='funciondos(0"+i+")'>0"+parseInt(0+i)+":00 - 0"+parseInt(0+i)+":59</th>"
      tableSchedule+="<td><input type='checkbox' value='0"+i+"_Monday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='0"+i+"_Tuesday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='0"+i+"_Wednesday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='0"+i+"_Thursday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='0"+i+"_Friday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='0"+i+"_Saturday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='0"+i+"_Sunday' name='day"+i+"' id='checkschedule'></td></tr>";
    }
    else{
      tableSchedule+="<th id='HSE' onclick='funciondos("+i+")'>"+parseInt(0+i)+":00 - "+parseInt(0+i)+":59</th>"
      tableSchedule+="<td><input type='checkbox' value='"+i+"_Monday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='"+i+"_Tuesday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='"+i+"_Wednesday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='"+i+"_Thursday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='"+i+"_Friday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='"+i+"_Saturday' name='day"+i+"' id='checkschedule'></td>";
      tableSchedule+="<td><input type='checkbox' value='"+i+"_Sunday' name='day"+i+"' id='checkschedule'></td></tr>";
    }

  }
  tableSchedule+="</table>";
  document.getElementById('testsched').innerHTML = tableSchedule;

  $("th#HSE").mouseover(function(){
  $(this).css("background-color", "gray");
  $(this).css("color", "white");
  });
  $("th#HSE").mouseout(function(){
  $(this).css("background-color", "#ccc");
    $(this).css("color", "#555");
  });
}

function showDiv(){
  if( !($('.graphics').is(":visible")) ){
    $('.graphics').toggle('blind',1500)
}
}

function hideDiv(){
  if( $('.graphics').is(":visible") ){
    $('.graphics').toggle('blind',1500)
}
}

function showDivMain(){
  if( !($('.principal').is(":visible")) ){
    $('.principal').toggle('blind',1500)
}
}

function hideDivMain(){
  if( $('.principal').is(":visible") ){
    $('.principal').toggle('blind',1500)
}
}

function containerShow(){
  //$(".principal").fadeIn();
  showDivMain();
  hideDiv();
  //$('.graphics').fadeOut();
  //drawNiceScrolls();
}

function crearEstadisticas(){
  validar();
  var selhorario=[];

  var selinst=[];
  var selcurso=[];
  var curso = $("#contenedor").jstree("get_selected", true);
  //selcurso = (curso.indexOf("id_")>-1);
  for (var i=0;i<curso.length;i++){
    //console.log(curso[i]['parent']);
    if (curso[i]['id'].indexOf("id_")==false){
      selcurso.push(curso[i]['id']);

      if (selinst.indexOf(curso[i]['parent'])===-1){
        selinst.push(curso[i]['parent']);
      
      }
    }
  }
  
  var radioselect = $('input[value*="radio"]:checked').val();
  if (radioselect=="radio4"){
    selhorario = $('input[name*="day"]:checked').map(function(_,el){
      return $(el).val();
    }).get();
  }
  $('#loading').show()
  if (validar() && selcurso.length>0 && radioselect){
    desde = document.getElementById("desde").value;
    hasta = document.getElementById("hasta").value;
    //$('.principal').fadeOut();
    if (radioselect=="radio1" || radioselect=="radio2" || radioselect=="radio3" || radioselect=="radio4"){
      $.ajax({
        url: "{% url 'SuperStats:selectSuperStats' %}",
        type: "POST",
        data: {selcurso, selinst, desde, hasta, radioselect, selhorario},
          success: function(response){
            jsonResponse = JSON.parse(response);
            hideDivMain();
            showDiv();
            //console.log(response);
            $('#loading').hide()
            graficar(jsonResponse, selinst);
          }
      });
    }
    else{
      $.ajax({
        url: "{% url 'SuperStats:compareSuperStats' %}",
        type: "POST",
        data: {selcurso, selinst, desde, hasta, radioselect},
          success: function(response){
            jsonResponse = JSON.parse(response);
            hideDivMain();
            showDiv();
            $('#loading').hide()
            graficarcompara(jsonResponse, selinst);
          }
      });
    }
  }
  else{
    $('#popup_error').empty();
    $('#popup_error').append("<p>Faltan datos por seleccionar, revise los campos.</p>")
    $('#popup_error').fadeIn().css('display', '');
    $("#hover").fadeIn().css('display', '');
  }
  
}

function graficar(json, clase){
  var colorScale = d3.scale.ordinal().range(['#1c758a'])
    .domain(['KhanBlue']);
  var arrayte=[];
  var arraytv=[];
  var arraycant=[];
  var colors=['blue', 'red', 'green', 'yellow', 'orange', 'brown', 'gray'];
  var serie=[];
  var serietpo=[];
  var serievid=[];
  var j;
  if(json["clases"]){
    var clase = json["clases"]
    var colorcolumn=[];
    for (var i=0;i<clase.length;i++){
      var datosest=[];
      var tpoest=[];
      var videst=[];
      var curso=clase[i]["nombre"];
      var ee=clase[i]["establecimiento"]
      var tpo_ejercicios = clase[i]["tiempo_ejercicios_clase"]
      var tpo_videos = clase[i]["tiempo_videos_clase"]
      var cantidad = clase[i]["total_ejercicios_clase"]
      var nombre = curso +" - "+ee
      var estudiantes = clase[i]["students"];
      for (j=0;j<estudiantes.length;j++){
        datosest[j]=[estudiantes[j]["name"], estudiantes[j]["total_ejercicios"]];
        tpoest[j]=[estudiantes[j]["name"], estudiantes[j]["tiempo_ejercicios"]];
        videst[j]=[estudiantes[j]["name"], estudiantes[j]["tiempo_videos"]];
      }
      //var colorcolumn={"color":colors[i]};
      if (ee=="LSMB"){
        colorcolumn[i]='#84C8D7';
      }
      if (ee=="E.A."){
        colorcolumn[i]='#D7212A';
      }
      if (ee=="C.E.I."){
        colorcolumn[i]='#009900';
      }
      if (ee=="L.A.V."){
        colorcolumn[i]='#CCCC00';
      }
      if (ee=="R.A.P."){
        colorcolumn[i]='#FF8000';
      }
      if (ee=="G.M."){
        colorcolumn[i]='#663300';
      }
      if (ee=="BA-Khan"){
        colorcolumn[i]='#808080';
      }
      /*arrayte[i]=[nombre, tpo_ejercicios]
      arraytv[i]=[nombre, tpo_videos]
      arraycant[i]=[nombre, cantidad]*/

      arrayte[i]={"name":nombre, "y": tpo_ejercicios, "drilldown":nombre};
      serietpo[i]={"name":nombre, "id":nombre, "data":tpoest};

      arraytv[i]={"name":nombre, "y": tpo_videos, "drilldown":nombre};
      serievid[i]={"name":nombre, "id":nombre, "data":videst};

      arraycant[i]={"name":nombre, "y": cantidad, "drilldown":nombre}
      serie[i]={"name":nombre, "id":nombre, "data":datosest};
    }
  }
  else{
    if(json["students"]){
      var student = json["students"]
      for (var j=0;j<student.length;j++){
        var name=student[j]["name"]
        var tpo_ejercicios = student[j]["tiempo_ejercicios"]
        var tpo_videos = student[j]["tiempo_videos"]
        var cantidad = student[j]["total_ejercicios"]
        arrayte[j]=[name, tpo_ejercicios]
        arraytv[j]=[name, tpo_videos]
        arraycant[j]=[name, cantidad]
      }
    }
  }
  $(function () {
    Highcharts.setOptions({
          lang:{
          decimalPoint: ",",
          thousandsSep: ".",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar documento PDF",
          downloadPNG: "Descargar imagen PNG",
          downloadSVG: "Descargar imagen vectorial SVG",
          printChart: "Imprimir gráfico",
          drillUpText: "Volver a {series.name}"
        }
      });
    $('#containerej').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tiempo de ejercicios'
        },
        subtitle: {
            text: 'Fuente: <a href="https://es.khanacademy.org/">Khan Academy</a>'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '11px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Tiempo (segundos)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Tiempo de ejercicios: <b>{point.y:,.0f} segundos</b>'
        },
        colors: colorcolumn,
        series: [{
            name: 'Cursos',
            data: arrayte,
            colorByPoint: true,
            dataLabels: {
                enabled: true,
                rotation: -90,
                //color: 'KhanBlue',
                align: 'right',
                format: '{point.y:,.0f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '11px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }],
        drilldown: {
            series: serietpo
        }
    });
  });

  $(function () {
    Highcharts.setOptions({
          lang:{
          decimalPoint: ",",
          thousandsSep: ".",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar documento PDF",
          downloadPNG: "Descargar imagen PNG",
          downloadSVG: "Descargar imagen vectorial SVG",
          printChart: "Imprimir gráfico",
          drillUpText: "Volver a {series.name}",
        }
      });
    $('#containervid').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tiempo de videos'
        },
        subtitle: {
            text: 'Fuente: <a href="https://es.khanacademy.org/">Khan Academy</a>'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '11px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Tiempo (segundos)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Tiempo de videos: <b>{point.y:,.0f} segundos</b>'
        },
        colors: colorcolumn,
        series: [{
            name: 'Cursos',
            data: arraytv,
            colorByPoint: true,
            dataLabels: {
                enabled: true,
                rotation: -90,
                //color: 'KhanBlue',
                align: 'right',
                format: '{point.y:,.0f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '11px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }],
        drilldown: {
            series: serievid
          }
    });
  });

  $(function () {
    Highcharts.setOptions({
          lang:{
          decimalPoint: ",",
          thousandsSep: ".",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar documento PDF",
          downloadPNG: "Descargar imagen PNG",
          downloadSVG: "Descargar imagen vectorial SVG",
          printChart: "Imprimir gráfico",
          drillUpText: "Volver a {series.name}",
        }
      });
    $('#containertot').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Cantidad de ejercicios'
        },
        subtitle: {
            text: 'Fuente: <a href="https://es.khanacademy.org/">Khan Academy</a>'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '11px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad (ejercicios)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Cantidad de ejercicios: <b>{point.y:,.0f} ejercicios</b>'
        },
        colors: colorcolumn,
        series: [{
            name: 'Cursos',
            data: arraycant,
            colorByPoint: true,
            dataLabels: {
                enabled: true,
                rotation: -90,
                //color: 'KhanBlue',
                align: 'right',
                format: '{point.y:,.0f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '11px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }],
        drilldown: {
            series: serie
          }
    });
  });
}

function graficarcompara(json, clase){
  var colorScale = d3.scale.ordinal().range(['#1c758a'])
    .domain(['KhanBlue']);
  var arrayte=[];
  var arraytv=[];
  var arraycant=[]; 
  var categorias=[];
  var tpoejercicios1=[];
  var tpoejercicios2=[];
  var tpovideos1=[];
  var tpovideos2=[];
  var cantidad1=[];
  var cantidad2=[];

  var j;
  if(json["clases"]){
    var clase = json["clases"]
    var tipo1 = clase[0]["tipo1"]
    var tipo2 = clase[0]["tipo2"]
    for (var i=0;i<clase.length;i++){
      categorias[i]=clase[i]["nombre"];
      tpoejercicios1[i]=clase[i]["tiempo_ejercicios_clase_1"];
      tpoejercicios2[i]=clase[i]["tiempo_ejercicios_clase_2"];
      tpovideos1[i]=clase[i]["tiempo_videos_clase_1"];
      tpovideos2[i]=clase[i]["tiempo_videos_clase_2"];
      cantidad1[i]=clase[i]["total_ejercicios_clase_1"];
      cantidad2[i]=clase[i]["total_ejercicios_clase_2"];
    }

  }

  else{
    if(json["students"]){
      var student = json["students"]
      var tipo1 = student[0]["tipo1"]
      var tipo2 = student[0]["tipo2"]
      for (j=0;j<student.length;j++){
        categorias[j]=student[j]["name"];
        tpoejercicios1[j] = student[j]["tiempo_ejercicios_1"]
        tpoejercicios2[j] = student[j]["tiempo_ejercicios_2"]
        tpovideos1[j] = student[j]["tiempo_videos_1"]
        tpovideos2[j] = student[j]["tiempo_videos_2"]
        cantidad1[j] = student[j]["total_ejercicios_1"]
        cantidad2[j] = student[j]["total_ejercicios_2"]

      }
    }
  }

  $(function () {
      Highcharts.setOptions({
          lang:{
          decimalPoint: ",",
          thousandsSep: ".",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar documento PDF",
          downloadPNG: "Descargar imagen PNG",
          downloadSVG: "Descargar imagen vectorial SVG",
          printChart: "Imprimir gráfico",
          drillUpText: "Volver a {series.name}" 
        }
      });
    $('#containerej').highcharts({

        chart: {
            type: 'column'
        },
        title: {
            text: 'Tiempo de ejercicios'
        },
        subtitle: {
            text: 'Fuente: <a href="https://es.khanacademy.org/">Khan Academy</a>'
        },
        xAxis: {
            categories: categorias,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Tiempo (segundos)'
            }
        },
        legend: {
            enabled: true
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f} segundos</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: tipo1,
            data: tpoejercicios1
            },{
            name: tipo2,
            data: tpoejercicios2
        }]
    });
  });
    $(function () {
      Highcharts.setOptions({
          lang:{
          decimalPoint: ",",
          thousandsSep: ".",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar documento PDF",
          downloadPNG: "Descargar imagen PNG",
          downloadSVG: "Descargar imagen vectorial SVG",
          printChart: "Imprimir gráfico",
          drillUpText: "Volver a {series.name}" 
        }
      });
    $('#containervid').highcharts({

        chart: {
            type: 'column'
        },
        title: {
            text: 'Tiempo de videos'
        },
        subtitle: {
            text: 'Fuente: <a href="https://es.khanacademy.org/">Khan Academy</a>'
        },
        xAxis: {
            categories: categorias,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Tiempo (segundos)'
            }
        },
        legend: {
            enabled: true
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f} segundos</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: tipo1,
            data: tpovideos1
            },{
            name: tipo2,
            data: tpovideos2
        }]
    });
  });
    $(function () {
      Highcharts.setOptions({
          lang:{
          decimalPoint: ",",
          thousandsSep: ".",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar documento PDF",
          downloadPNG: "Descargar imagen PNG",
          downloadSVG: "Descargar imagen vectorial SVG",
          printChart: "Imprimir gráfico",
          drillUpText: "Volver a {series.name}" 
        }
      });
    $('#containertot').highcharts({

        chart: {
            type: 'column'
        },
        title: {
            text: 'Cantidad de ejercicios'
        },
        subtitle: {
            text: 'Fuente: <a href="https://es.khanacademy.org/">Khan Academy</a>'
        },
        xAxis: {
            categories: categorias,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad (ejercicios)'
            }
        },
        legend: {
            enabled: true
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f} ejercicios</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: tipo1,
            data: cantidad1
            },{
            name: tipo2,
            data: cantidad2
        }]
    });
  });
}

function validar(){
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd='0'+dd
  } 

  if(mm<10) {
      mm='0'+mm
  } 

  today = yyyy+'-'+mm+'-'+dd;
  flag = true;
  desde = document.getElementById("desde").value;
  hasta = document.getElementById("hasta").value;
  if(desde == null || desde.length == 0 || /^\s+$/.test(desde)) {
    $('#desde').css('color', '#C30202');
    flag = false;
  }else{
    $('#desde').css('color', '#000000');
  }
  //if(date_end == null || startDate > endDate || endDate < todayDate || date_end.length == 0 || /^\s+$/.test(date_end)) {
  if(hasta == null || desde > hasta || hasta.length == 0 || /^\s+$/.test(hasta)) {
    $('#hasta').css('color', '#C30202');
    flag = false;
  }else{
    $('#hasta').css('color', '#000000');
  }
  if(hasta>today){
    $('#hasta').css('color', '#C30202');
    flag = false;
  }
  return flag
}

function updateSchedule(){
  var sel = $('input[name="clase"]:checked').map(function(_,el){
    return $(el).val();
  }).get();
  //var valor = $('input[value*="radio"]:checked').val()
  
  if ($("input[value*='radio']:checked").val()=="radio2"){
    $('#testsched').hide();
    $('input[name="day"]').prop("checked", false);
  }
  else{
    $('#testsched').hide();
    if ($("input[value*='radio']:checked").val()=="radio3"){
      $('input[name="day"]').prop("checked", true);
    }
  }
}

function selectSchedule(radiobutton){
  $('input[name="day"]').prop("checked", false);
  var valor = radiobutton.value;
  if (valor=="radio1" || valor=="radio5" || valor=="radio6" || valor=="radio7"){
    $('#testsched').hide();
  }
  if (valor=="radio2"){
    $('#testsched').hide();
    var selcurso=[];
    var curso = $("#contenedor").jstree("get_selected");
    //selcurso = (curso.indexOf("id_")>-1);
    for (var i=0;i<curso.length;i++){
      if (curso[i].indexOf("id_")==false){
        selcurso.push(curso[i]);
      }
    }
    if (selcurso.length===0){
      $('#popup').empty();
      $('#popup').append("<p>No existe ningún curso seleccionado</p>")
      $('#popup').fadeIn().css('display', '');
      $("#hover").fadeIn().css('display', '');
    }
    
  }
  if (valor=="radio3"){
    $('#testsched').hide();
    //$('input[name="day"]').prop("disabled", true);
    $('#popup').empty();
    var selcurso=[];
    var curso = $("#contenedor").jstree("get_selected");
    //selcurso = (curso.indexOf("id_")>-1);
    for (var i=0;i<curso.length;i++){
      if (curso[i].indexOf("id_")==false){
        selcurso.push(curso[i]);
      }
    }
    if (selcurso.length===0){
      $('#popup').empty();
      $('#popup').append("<p>No existe ningún curso seleccionado</p>")
      $('#popup').fadeIn().css('display', '');
      $("#hover").fadeIn().css('display', '');

    }
  }
  if (valor=="radio4"){
    //console.log("algoaca");
    drawTableSchedule();
    $('#testsched').show();
   // $('input[name="day"]').prop("disabled", false); 
  }
  //setHeightContent();
}

function funciondos(id_schedule){
  var valor = $('input[value*="radio"]:checked').val()
  if (valor=="radio1" || valor=="radio2" || valor=="radio3" || valor==null || valor=="radio5" || valor=="radio6" || valor=="radio7"){
    $('#testsched').hide();
    //$('input[name="day"]').prop("disabled", true);
    return false;
  }
  else{  
    //drawTableSchedule();
    if(id_schedule<10){
      $('input[value*="0'+id_schedule+'_"]').prop("checked", !$('input[value*="'+id_schedule+'_"]').prop("checked"));
    }
    else{
      $('input[value*="'+id_schedule+'_"]').prop("checked", !$('input[value*="'+id_schedule+'_"]').prop("checked"));
    }
    
    $('input[value="radio4"]').prop("checked", true);
    if($('input[value="radio1"]').checked  || $('input[value="radio2"]').checked || $('input[value="radio3"]').checked){
      $('#testsched').hide();
      $('input[value="radio4"]').prop("checked", false);
    }
  }
}

function diaselect(dia){
  var valor = $('input[value*="radio"]:checked').val()
  $('table#sort_table').tablesorter({
    animation: 'slide',
    speed: 1200,
    sortList: [[0,0]]
  });
  if (valor=="radio1" || valor=="radio2" || valor=="radio3" || valor==null || valor=="radio5" || valor=="radio6" || valor=="radio7"){
    $('#testsched').hide();
    //$('input[name="day"]').prop("disabled", true);
    return false;
  }
  else{
    //drawTableSchedule();
    $('input[value*="'+dia+'"]').prop("checked", !$('input[value*="'+dia+'"]').prop("checked"));
    $('input[value="radio4"]').prop("checked", true);
    if($('input[value="radio1"]').checked  || $('input[value="radio2"]').checked || $('input[value="radio3"]').checked){
      $('#testsched').hide();
      $('input[value="radio4"]').prop("checked", false);
    }
  }

}
</script>

{% endblock %}