.container {
    position: relative;
    height: 100%;
    width: 100%;
}
.main-content{
	padding: 15px 20px;
	background: #f7f7f7;
	width: 100%;
	padding-left:10%;
	padding-right:10%;
	border: 1px solid #ddd;
	z-index: 1;
}
#main-title{
	text-align:center;
}