{% extends 'home.html' %}

{% load static %}

{% block title %}Estadísticas{% endblock %}

{% block body2 %}

<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">

<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css'%}">

<style>
table.testclass { border-collapse: collapse; border: 1px solid #CCB; width:250px;}
table.testclass td, table.testclass th { padding: 5px; border: 1px solid #E0E0E0;}
table.testclass th { background: #E5E5E5; text-align: left;}
table.testclass th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table.testclass td {
  text-align: left;
}

.ribbon {
  position: relative;
  left: 0px; top: -53px;
  z-index: 1;
  overflow: hidden;
  width: 63px; height: 54px;
  text-align: right;
}
.ribbon span {
  font-size: 9px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 97px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; left: -25px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
#newSchedule{
	border: 1px solid #C6D1AD;
    border-radius: 5px;
    display:none; 
    height:220px; 
    padding:15px;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}
label{
	width: 135px;
}
input[type="checkbox"]{
	margin-bottom: 10px;
}

tr.nocolor:hover {
  background-color: transparent;
}

 
#sidebar {
  margin-right: -1px;
  float: left;
  width: 240px;

    box-sizing: border-box;
   -moz-box-sizing: border-box;
   z-index: 2;
   margin-right: -1px;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
  margin: 1px 0px 1px 1px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    background: #EEEEEE;
    text-decoration: none;
    display: block;
    border-radius: 10px 1px 1px 10px;
    border: 1px solid #ddd;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
    
}
#sidebar ul li a.select{
  border-right: 1px solid #f7f7f7;
  background: #f7f7f7;
  color: #56861f;
  
}
#sidebar ul li:hover a {
    background: #f7f7f7;
    color: #56861f;
}
#sidebar ul li:visited a {
    background: #f7f7f7;
    color: #56861f;
}
input[type="checkbox"]{
  z-index: 1000;
  width: 80%;
  height: 80%;
  margin-bottom:5px;
}

td{
  margin: auto;
}
table.testsched { border-collapse: collapse; border: 1px solid #CCB; width:650px;}
table.testsched td, table.testsched th { padding: 5px; border: 1px solid #E0E0E0;}
table.testsched th { background: #E5E5E5; text-align: left;}
table.testsched th {
    color: #555;
    background-color: #ccc;
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #eee;
    vertical-align: bottom;
    padding: 5px;
    text-align:center;
}
table.testsched td {
  text-align: left;
}

.whiteLetter{
    color: white;  
}

</style>


<br>
<div class="container">
<div class="main-content">

	<br>
	<h1 style="text-align:center;">Estadísticas</h1>
  <div id="cursos" style="width:30%;float:left;">
    <h2 align="center">Cursos</h2>
    <table class="testclass">
    <tr>
      <th>Todos los cursos</th>
      <th style="align-content:center;"><input type="checkbox" id="check_all_none"></th>
    </tr>
    {% for class in classes %}
    <tr>
    {% if class.additional %}
      <td>{{ class.level }} {{ class.letter }} {{ class.year }} {{ class.additional }}</td>
      <td><input type="checkbox" value="{{ class.level }} {{ class.letter }} {{ class.year }} {{ class.additional }}" name="clase" class="curso"></td>
    {% else %}
      <td>{{ class.level }} {{ class.letter }} {{ class.year }}</td>
      <td><input type="checkbox" value="{{ class.level }} {{ class.letter }} {{ class.year }}" name="clase" class="curso"></td>
    {% endif %}
    </tr>
    {% endfor %}
    </table>
  </div>

  <div id="trabajo" style="width:70%;float:left;">
    <h2 align="center">Tipo de Trabajo</h2>
    <table class="testsched">
    <tr>
      <th width="30%">Horario</th>
      <th width="10%" id="HSE" onclick="lunes()">Lunes</th>
      <th width="10%" id="HSE" onclick="martes()">Martes</th>
      <th width="10%" id="HSE" onclick="miercoles()">Miércoles</th>
      <th width="10%" id="HSE" onclick="jueves()">Jueves</th>
      <th width="10%" id="HSE" onclick="viernes()">Viernes</th>
      <th width="10%" id="HSE" onclick="sabado()">Sábado</th>
      <th width="10%" id="HSE" onclick="domingo()">Domingo</th>
    </tr>
  {% for sch in schedules %}
  <tr id="R{{ forloop.counter }}" class="nocolor">
    <th onclick="funciondos('{{sch.id_schedule}}')" id="HSE">{% if sch.start_time == None %}{{ "" }}{% else %}{{ sch.start_time }}{% endif %} - {% if sch.end_time == None %}{{ "" }}{% else %}{{ sch.end_time }}{% endif %}</th>
    <td><input type="checkbox" value="Monday_{{sch.id_schedule}}" name="day"></td>
    <td><input type="checkbox" value="Tuesday_{{sch.id_schedule}}" name="day"></td>
    <td><input type="checkbox" value="Wednesday_{{sch.id_schedule}}" name="day"></td>
    <td><input type="checkbox" value="Thursday_{{sch.id_schedule}}" name="day"></td>
    <td><input type="checkbox" value="Friday_{{sch.id_schedule}}" name="day"></td>
    <td><input type="checkbox" value="Saturday_{{sch.id_schedule}}" name="day"></td>
    <td><input type="checkbox" value="Sunday_{{sch.id_schedule}}" name="day"></td>
  </tr>
  {% endfor %}
  <tr class="nocolor">
    <th onclick="funcion();" id="HSE">Horas sin especificar</th>
    <td><input type="checkbox" value="Monday_SE" name="day"></td>
    <td><input type="checkbox" value="Tuesday_SE" name="day"></td>
    <td><input type="checkbox" value="Wednesday_SE" name="day"></td>
    <td><input type="checkbox" value="Thursday_SE" name="day"></td>
    <td><input type="checkbox" value="Friday_SE" name="day"></td>
    <td><input type="checkbox" value="Saturday_SE" name="day"></td>
    <td><input type="checkbox" value="Sunday_SE" name="day"></td>
  </tr>
  </table>
  <br>
  <div align="left" style="margin-left:200px">
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="1">Todo <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="2">Horario de clases <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="3">Fuera horario de clases <br>
  <input type="radio" name="seleccion" onclick="selectSchedule(this)" value="4" disabled/>Personalizado <br>  
  </div>
  </div>

</div>
</div>

<div id="popup" style="display:none">
	<div id="close">X</div>
</div>

<script>
$('#estadisticas').addClass('active selected');

$('input[name="day"]').prop("disabled", true);

$('#check_all_none').click(function () {
    if ( $(this).is(':checked') ){
        $('.curso').prop("checked", true);
    }
    else{
        $('.curso').removeAttr("checked");
    }

});

function selectSchedule(radiobutton){
  var valor = radiobutton.value;
  console.log(valor);
}

function funcion(){
  $('input[value*="SE"]').prop("checked", !$('input[value*="SE"]').prop("checked"));
}

$("th#HSE").mouseover(function(){
  $(this).css("background-color", "gray");
  $(this).css("color", "white");
});

$("th#HSE").mouseout(function(){
  $(this).css("background-color", "#ccc");
    $(this).css("color", "#555");
});

function funciondos(id_schedule){
  $('input[value*="'+id_schedule+'"]').prop("checked", !$('input[value*="'+id_schedule+'"]').prop("checked"));
}

function lunes(){
  $('input[value*="Monday"]').prop("checked", !$('input[value*="Monday"]').prop("checked"));
}

function martes(){
  $('input[value*="Tuesday"]').prop("checked", !$('input[value*="Tuesday"]').prop("checked"));
}

function miercoles(){
  $('input[value*="Wednesday"]').prop("checked", !$('input[value*="Wednesday"]').prop("checked"));
}

function jueves(){
  $('input[value*="Thursday"]').prop("checked", !$('input[value*="Thursday"]').prop("checked"));
}

function viernes(){
  $('input[value*="Friday"]').prop("checked", !$('input[value*="Friday"]').prop("checked"));
}

function sabado(){
  $('input[value*="Saturday"]').prop("checked", !$('input[value*="Saturday"]').prop("checked"));
}

function domingo(){
  $('input[value*="Sunday"]').prop("checked", !$('input[value*="Sunday"]').prop("checked"));
}

</script>

{% endblock %}