
{% load static %}
{% block title %}BA-Khan{% endblock %}

{% load static %}

 <!DOCTYPE html>

<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <link rel='stylesheet' type='text/css' href='https://www.khanacademy.org/genfiles/stylesheets/en/shared-package-426ede.css'>
    <link rel='stylesheet' type='text/css' href='https://www.khanacademy.org/genfiles/stylesheets/en/nav-package-642efd.css'>
    <link rel='stylesheet' type='text/css' href='https://www.khanacademy.org/genfiles/stylesheets/en/react-package-9b6f9e.css'>
    <link rel='stylesheet' type='text/css' href='https://www.khanacademy.org/genfiles/stylesheets/en/odometer-package-be2a23.css'><link rel='stylesheet' type='text/css' href='https://www.khanacademy.org/genfiles/stylesheets/en/dashboard-package-756fe7.css'>
    <link rel='stylesheet' type='text/css' href='https://www.khanacademy.org/genfiles/stylesheets/en/mobile-package-0edccb.css'>
	<link href="{% static 'estilo.css' %}" rel="stylesheet">
	
  <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Ingresar</title>
</head>
  <body>
  
	<div class="container">
	 	<div class="login-container">
			<h2 class="regular-header login-button-header">
		        Inicia sesi&oacuten con tu cuenta Khan Academy
		    </h2>
		    <a role="button" aria-disabled="false" href="authenticate" onclick="closeMe()" class="kui-button kui-button-submit kui-button-primary" style="width:100%;" data-reactid=".0.4.2">Ingresar</a>
   		</div>
   	</div>

   


  </body>

</html>


