.excelButton {
    background:url(img/Excel.png);
    background-size: 32px;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
    margin-right:20px;
    margin-left:-5%;
}
.container{

  height: 500;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
}
#report-problem{
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -1000px;
}
.footer-small{
  z-index: 0;
  width:600;
}
.login-container{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#ini_sesion{
	position: relative;
    left: 60px;
}

#row{
	display: in-line;
}
#sinEvaluar, #Evaluados {
	float: left;
	width: 830px;
	height: 90px;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	overflow-y: scroll;
	overflow-y: auto;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
}
#sinEvaluar{
	background-image: url("img/NoCalificados.png");
}
#Evaluados{
	background-image: url("img/Calificados.png");
}

.cuadradito {
	float: left;
	background: #F5F5F5;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	width: 140px;
	height: 5px;
	padding: 0 10px 15px;
	margin: 5px;
	cursor: move;
	word-wrap: break-word;
	overflow: hidden;
}

.parametros,.skills{
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	width: 395px;
	height: 90px;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	overflow: scroll;
	overflow: auto;
	background: #F6F7F7;
	float:left;
	cursor: default;
	-moz-user-select':-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select:none; 
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.textoInput{
	width: 23%;
	margin: 10px;
}
.flechas{
	top: 50%;
	height: 90px;
	vertical-align:middle;
	padding-top: 30px;
	margin-top: 10px;
	float:left;
}
.skill_search{
	padding-left: 10px;
	margin-left:15px;
	width:150px;
	margin-bottom: 10px;
}
.fechas{
  float: left;
}

#inputs{
  margin-top: 15px;
	width:200px;
	float:left;
	height: 400px;
}
body{
	background: #EEEEEE;
}
#comboBox{
  border: 1px solid #C6D1AD;
  border-radius:5px;
  margin-left:17px;
}
#contenido_a_mostrar{
	border: 1px solid #C6D1AD;
	border-radius:5px;
	height: 490px;
	width:1140px;
	margin-bottom: 55px;
	margin-left: 30px;
	background: #FFFFFF;
}
.label_input{
	margin:5px;
	margin-left:20px;
}
#studentsDashboard{
	table-layout:auto;
}
th{
	color:#555;
	/*font-weight:bold;*/
	background-color:#ccc;
	border: 1px solid #bbb;
	text-shadow: 0 1px 0 #eee;
	vertical-align:middle;
	padding-top:2px;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:4px;
	word-wrap: break-word;
  vertical-align: bottom;
}

td{
	text-align:center;
	padding-top:2px;
	padding-left:5px;
	padding-right:4px;
	padding-bottom:0px;
	vertical-align:middle;
}

tr{
	height:45px;
}
th.name{
	width: 170px;
	overflow: hidden;
}
td.name{
	width: 170px;
	overflow: hidden;
	text-align: left;
}

td.skills_time {
	width:120px;
}

td.videos_time{
	width:120px;
}

td.exercises{
	width:120px;
}

td.skills_level{
	width:120px;
}

td.assesment{
	width:100px;
}
td.recommendations{
	width:80px;
}

th.skills_time {
	width:120px;
}

th.videos_time{
	width:120px;
}

th.exercises{
	width:120px;
}

th.skills_level{
	width:120px;
}

th.assesment{
	width:100px;
}
th.recommendations{
	width:80px;
}

button.assesment{
	overflow:hidden;
	width: 80px;
	height: 40px;
	padding: 5px;
}

/*rect{
	stroke:#999;
}*/

.chart-gauge{
	width: auto;
	margin: 100px auto  
} 
.chart-filled{
	fill: #1C758A;
}
.chart-empty{
	fill: #dedede;
}		
.needle, .needle-center{
	fill: #464A4F;
}

.sortMenu-content {
	width:150px;
	position:absolute;
	display:none;
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

li.sortMenu-header{
	text-align:center;
	color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
}

li.sortMenu-option{
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
li.sortMenu-option:hover {
	background-color: #396931;
	cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-bottom: 6px solid #555555;
	transition: border-bottom 0.5s ease;
	display:inline-block;
}
.arrow-up:hover {
	border-bottom: 6px solid #9DB63B;
	cursor: pointer;
}

div-sort{
	width: 100%;
	text-align: center;
}

div-sort-filter{
	width: 100%;
	text-align: center;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin-top:-6px;
	margin-left: -4px;
	border-top: 6px solid #555555;
	transition: border-top 0.5s ease;
	/*float: left;*/
	display:inline-block;
}

.arrow-down:hover {
	border-top: 6px solid #9DB63B;
	cursor:pointer;
}

circle.assesment{
	cursor: pointer;	
}

select.skills_level, select.exercises{
	 border:0px;
     outline:0px;
     width: 80px;
     /*background: transparent;*/
     cursor: pointer;
     background: url(tablesorter/arrow-down-icon.png) no-repeat right #ccc;
     font-family:'Proxima Nova Semibold','Montserrat','Open Sans','Gill Sans MT','Gill Sans',Corbel,Arial,sans-serif;
     -webkit-appearance: none;
     background-position-x: 70px;
     /*display:block;*/
     margin-left:auto;
     margin-right:auto;
}

select.assesment{
	 border:0px;
     outline:0px;
     width: 61px;
     /*background: transparent;*/
     cursor: pointer;
     background: url(tablesorter/arrow-down-icon.png) no-repeat right #ccc;
     font-family:'Proxima Nova Semibold','Montserrat','Open Sans','Gill Sans MT','Gill Sans',Corbel,Arial,sans-serif;
     -webkit-appearance: none;
     background-position-x: 51px;
     /*display:block;*/
     margin-left:auto;
     margin-right:auto;
}

label.sort-filter{
	color: #444;
    font-family: 'Proxima Nova','Montserrat','Open Sans','Gill Sans MT','Gill Sans',Corbel,Arial,sans-serif;
    font-size: 11px;
    display:block;
}

#close{
  position: absolute;
  background: #9DB63B;
  color: white;
  right: -15px;
  top: -15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  font-family: 'Arial Black', Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #9DB63B;
}
#close-resumen{
  position: absolute;
  background: #9DB63B;
  color: white;
  right: 4px;
  top: 4px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  font-family: 'Arial Black', Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #9DB63B;
}


#popup,#popup_evaluacion,#popup_error{
  position:fixed;
  width:600px;
  height:180px;
  background:#fff;
  left:50%;
  top:50%;
  border-radius:5px;
  padding:60px 0;
  margin-left:-320px; /* width/2 + padding-left */
  margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #9DB63B;
  z-index: 11;
}
#popup{
  height:380px;
}
#popup p{
  text-align: center;
}

#profile-throbber{
  padding-top:85px;
  position:absolute;
  width:600px;
  height:180px;
  background:#fff;
  left:50%;
  top:50%;
  border-radius:5px;
  /*padding:60px 0;
  margin-left:-320px; /* width/2 + padding-left */
  /*margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #9DB63B;
  z-index: 11;
}


#hover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
    z-index: 11;
    margin-left: 0px;
    margin-top: 0px;
}
.resumen_grade{
	align:left;
	width:120px;
	height:350px;
	overflow: scroll;

}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.editButton {
    background:url(img/editButton.png);
    background-size: 32px;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
    margin-left:0%;
}
.showButton {
    background:url(img/ver.png);
    background-size: 25px;
    cursor:pointer;
    width: 25px;
    height: 25px;
    border: none;
    margin-left:0%;
    margin-bottom: 5px;
}
.summaryButton {
    background:url(img/summaryButton.png);
    background-size: 32px;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
    margin-right:10%;
    margin-left:10%;
}
.buttonsES{
	position:absolute;
	top:-35px;
	width:129px;
}

.counter{
	position:absolute;
	top:-50px;
	margin-left: -2px;
    font-size: 12px;
}
.qtip{
  border-color: #fff;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
}

.qtip-content
{
max-height: 400px;
max-width: 1000px;
overflow: auto;
background-color: #fff;
color: #000;
padding: 5px 8px 4px 8px;

}
.tipsy { font-size: 14px; position: absolute; padding: 5px; z-index: 100000;}

  .tipsy-inner { background-color: #fff; color: #000; max-width: 1048px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  /*.tipsy-inner { border-radius: 3px solid #999; -moz-border-radius: 3px solid #999; -webkit-border-radius: 3px solid #999; }*/
  .tipsy-inner {
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
}
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #999;  z-index:100001;}
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #fff; }
  .tipsy-arrow-s { border-top-color: #fff; }
  .tipsy-arrow-e { border-left-color: #fff; }
  .tipsy-arrow-w { border-right-color: #fff; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 1px; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy .tipsy-n { border-radius: 100px solid #999; }
  
  .ribbon {
  position: absolute;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 63px; height: 60px;
  text-align: right;
  pointer-events: none;
  margin-left: -4px
}
.ribbon span {
  font-size: 9px;
  /*font-weight: bold;*/
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 97px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9DB63B 0%, #9DB63B 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; left: -25px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;*/
}

#popup_resumen h4{
  margin-bottom: 0px;
}

@media (max-height: 720px){
  #popup_resumen{
    position: fixed;
    width: 530px;
    height: 500px;
    background: #fff;
    left: 50%;
    top: 25%;
    border-radius: 5px;
    padding: 30px 30px;
    margin-left: -320px;
    margin-top: -150px;
    text-align: left;
    box-shadow: 0 0 10px 0 #9DB63B;
    z-index: 11;
  }
  #resumen_data p{
    float:left;
    margin: 0px 0px 0px 20px;
  }
  hr{
    margin: 10px 0px 10px 0px;
  }
   #resumen_skill li:first-child{
    margin-top: 5px;
  }
  #resumen_graph{
    height:200px;
    width:530px;
    position: relative;
  }
}


@media (min-height: 720px){
  #popup_resumen{
    position: fixed;
    width: 530px;
    height: 700px;
    background: #fff;
    left: 50%;
    top: 25%;
    border-radius: 5px;
    padding: 30px 30px;
    margin-left: -320px;
    margin-top: -150px;
    text-align: left;
    box-shadow: 0 0 10px 0 #9DB63B;
    z-index: 11;
  }
  #resumen_data p{
    float:left;
    margin: 0px 0px 0px 20px;
  }
  hr{
    margin: 18px 0px 18px 0px;
  }
  #resumen_skill{
    overflow: auto;
    width:530px;
    height:230px;
    position: relative;
    margin-bottom: 30px;
  }
  #resumen_graph{
    height: 205px;
  }
}
.plus:after{
  content:'+ ';
  font-weight: bold;
  font-size:120%;

}
#pgrade{
  margin: 0px;
  text-align: left;
}