{% extends 'home.html' %}
{% load static %}
{% load  smart_if %}

{% block title %}
Nominas
{% endblock %}

{% block body2 %}
<script src="{% static 'js/editablegrid.js' %}"></script>
<script src="{% static 'js/editablegrid_renderers.js' %}"></script>
<script src="{% static 'js/editablegrid_editors.js' %}"></script>
<script src="{% static 'js/editablegrid_validators.js' %}"></script>
<script src="{% static 'js/editablegrid_utils.js' %}"></script>
<script src="{% static 'js/editablegrid_charts.js' %}"></script>
<script src="{% static 'js/stickytable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/editablegrid.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/classRoster.css'%}">

<br>
<div class="container">
<div class="main-content">
	<div id="excelDiv">
		<h1 style="margin-top:1%">Subir Excel de Khan</h1>
		<div id="uploadExcel">
			<form id="miexcelForm" name="miexcelForm">
			<label for="selectClass">Excel: </label><input type="file" id="miexcel" name="miexcel" accept=".csv, .xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

			<a onclick="javascript:uploadExcel()" id="uploadExcelButton" class="kui-button kui-button-plain kui-button-primary">Subir Archivo</a>
			</form>
		</div>
		
		<div id="excelClassDiv">
			<h3>Curso</h3>
			<div id="formExcelClassDiv">
				<label for="excelLevels">Nivel: </label>
				<select id="excelLevels" class="ui-corner-all placeholder simple-input blur-on-esc">
					<option value="0"></option>
					<option value="1">1° Básico</option>
					<option value="2">2° Básico</option>
					<option value="3">3° Básico</option>
					<option value="4">4° Básico</option>
					<option value="5">5° Básico</option>
					<option value="6">6° Básico</option>
					<option value="7">7° Básico</option>
					<option value="8">8° Básico</option>
					<option value="9">1° Medio</option>
					<option value="10">2° Medio</option>
					<option value="11">3° Medio</option>
					<option value="12">4° Medio</option>
				</select>
				<label for="excelLetter">Letra: </label>
				<select id="excelLetter" class="ui-corner-all placeholder simple-input blur-on-esc">
					<option value=""></option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
					<option value="E">E</option>
					<option value="F">F</option>
					<option value="G">G</option>
				</select>
				<label for="excelYear">Año: </label>
				<input type="number" id="excelYear" min="2016" value="2016" class="ui-corner-all placeholder simple-input blur-on-esc"></input>
				<br>
				<label for="excelAdditional">Adicional: </label>
				<input type="text" id="excelAdditional" placeholder="Opcional" class="ui-corner-all placeholder simple-input blur-on-esc"></input>
				<label for="excelTeacher">Profesor: </label>
				<select id="excelTeacher" class="ui-corner-all placeholder simple-input blur-on-esc">
				</select>
			</div>
			<h5>Estudiantes: <p id="excelCounter">0</p></h5>
			
			<div id="excelStudentsClass"></div>

		</div>

	</div>

	<div id="classesDiv" align="center">
		<h1 style="margin-top:1%">Ver Cursos</h1>
		<label for="selectClass">Curso: </label>
		<select id="selectClass" class="ui-corner-all placeholder simple-input blur-on-esc">
			{% for class in classes %}
			{% if class.level > 8 %}
				{% if class.additional %}
				<option value="{{class.id_class}},{{class.level}}.{{class.letter}}-{{class.year}}_{{class.additional}};{{class.class_subject__curriculum}}">{{class.level|add:-8}} Medio {{class.letter}} {{class.year}} {{class.additional}} </option>
				{% else %}
				<option value="{{class.id_class}},{{class.level}}.{{class.letter}}-{{class.year}}_;{{class.class_subject__curriculum}}">{{class.level|add:-8}} Medio {{class.letter}} {{class.year}} </option>
				{% endif %}
			{% else %}
				{% if class.additional %}
				<option value="{{class.id_class}},{{class.level}}.{{class.letter}}-{{class.year}}_{{class.additional}};{{class.class_subject__curriculum}}">{{class.level}} Básico {{class.letter}} {{class.year}} {{class.additional}} </option>
				{% else %}
				<option value="{{class.id_class}},{{class.level}}.{{class.letter}}-{{class.year}}_;{{class.class_subject__curriculum}}">{{class.level}} Básico {{class.letter}} {{class.year}} </option>
				{% endif %}
			{% endif %}
			{% endfor %}
		</select>
		<a onclick="javascript:viewClass()" id="viewClassButton" class="kui-button kui-button-plain kui-button-primary">Ver Curso</a>
	</div>

<br>
<h1 style="padding-top: 125px;">Crear Curso</h1>

	<div id="teachersDiv" style="height: 450px" align="center">
		<h3>Seleccionar Profesor</h3>
		<label for="searchTeacher">Buscar: </label><input type="text" id="searchTeacher" class="ui-corner-all placeholder simple-input search-input blur-on-esc"/>
		<div class="teacherTable">
			<table id="teachergrid" class="testgrid">
				<tr>
					<th>Profesor</th>
				</tr>
				<tr>
					<td>
						<label for="newTeacher">Nuevo profesor: </label>
						<input id="newTeacher" value="" class="ui-corner-all placeholder simple-input blur-on-esc"></input>
				<a onclick="javascript:newTeacherClass()" id="newTeacherButton" style="color:#56861f;"><i class="plus"></i></a>
					</td>
				</tr>
				{% for teacher in teachers %}
				<tr id="R{{ forloop.counter }}" >
					<td><label><input type="radio" name="radioTeachers" value="{{ teacher }}" id="{{ teacher }}"> {{ teacher }}</label></td>
				</tr>
				{% endfor %}
				
			</table>
			
		</div>
	</div>

	<div id="studentsDiv" style="height: 450px" align="center">
		<h3>Seleccionar Estudiantes</h3>
		<label for="searchStudent">Buscar: </label><input type="text" id="searchStudent" class="ui-corner-all placeholder simple-input search-input blur-on-esc"/>
		<div class="studentTable">

			<table id="studentgrid" class="testgrid">
				<tr>
					<th>Estudiantes</th>
				</tr>
				
				{% for student in students %}
				<tr id="R{{ forloop.counter }}" >
					<td><input type="checkbox" id="student{{ forloop.counter }}" value="{{ student }}"></input><label for="student{{ forloop.counter }}">{{ student }}</label></td>
				</tr>
				{% endfor %}
				
			</table>

		</div>
	</div>

	<div id="classDiv" style="height: 450px" align="center">
		<h3 style="margin-bottom: 8px">Curso</h3>
		<label for="levels">Nivel: </label>
		<select id="levels" class="ui-corner-all placeholder simple-input blur-on-esc">
			<option value="1">1° Básico</option>
			<option value="2">2° Básico</option>
			<option value="3">3° Básico</option>
			<option value="4">4° Básico</option>
			<option value="5">5° Básico</option>
			<option value="6">6° Básico</option>
			<option value="7">7° Básico</option>
			<option value="8">8° Básico</option>
			<option value="9">1° Medio</option>
			<option value="10">2° Medio</option>
			<option value="11">3° Medio</option>
			<option value="12">4° Medio</option>
		</select>
		<label for="letter">Letra: </label>
		<select id="letter" class="ui-corner-all placeholder simple-input blur-on-esc">
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option>
			<option value="D">D</option>
			<option value="E">E</option>
			<option value="F">F</option>
			<option value="G">G</option>
		</select>
		<label for="year">Año: </label>
		<input type="number" id="year" min="2016" value="2016" class="ui-corner-all placeholder simple-input blur-on-esc"></input>
		<br>
		<label for="additional">Adicional: </label>
		<input type="text" id="additional" placeholder="Opcional" class="ui-corner-all placeholder simple-input blur-on-esc"></input>
		<label for="teacher">Profesor: </label>
		<input id="teacher" value="" disabled class="ui-corner-all placeholder simple-input blur-on-esc"></input>
		<br>

		<label for="curriculum">Curriculo: </label>
		<select id="curriculum" style="margin-top: 12px; margin-left: 12px; width: 366px" class="ui-corner-all placeholder simple-input blur-on-esc">
		{% for curriculum in curriculums %}
			<option value="{{ curriculum.id_chapter_mineduc }}">{{ curriculum.year }} - {{ curriculum.level }}</option>
		{% endfor %}
		</select>

		<br>
		<h5>Estudiantes: <p id="counter">0</p></h5>
		
		<div id="studentsClass"></div>
		<a onclick="javascript:resetClass()" id="resetButton" class="kui-button kui-button-plain kui-button-primary">Reestablecer</a>
		<a onclick="javascript:confirmSaveClass()" id="confirmSaveButton" class="kui-button kui-button-plain kui-button-primary">Guardar</a>
		<a onclick="javascript:confirmEditClass()" id="confirmEditButton" class="kui-button kui-button-submit kui-button-primary" style="display:none">Editar</a>
	</div>

</div>
<br>
</div>

<div id="popup" style="display:none">
	<div id="close">X</div>
</div>
<br>

	<div style="display: none;" id="loading" class="profile-throbber">
		<div class="throbber-grid">   
   			    <div class="throbber-row clearfix">
		         <div class="block-0 throbber-block"></div>
		         <div class="block-1 throbber-block"></div>
		         <div class="block-2 throbber-block"></div>
		    </div>
		    <div class="throbber-row clearfix">
		         <div class="block-7 throbber-block"></div>
		         <div class="block-8 throbber-block"></div>
		         <div class="block-3 throbber-block"></div>
		    </div>
		    <div class="throbber-row clearfix">
		         <div class="block-6 throbber-block"></div>
		         <div class="block-5 throbber-block"></div>
		         <div class="block-4 throbber-block"></div>
		    </div>
		</div>
	</div>

</div> <!-- cerrar div principal del home  -->

<script type="text/javascript">
$('#nomina').addClass('active selected'); 

function drawNiceScrolls(){
	$(".studentTable").niceScroll({ cursorwidth:'10px', autohidemode: false, cursorcolor:'#D9D9D9', zindex:10, railoffset: { left: 12} });
	$("#studentsClass").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9', zindex:10 });
	$(".teacherTable").niceScroll({ cursorwidth:'10px', autohidemode: false, cursorcolor:'#D9D9D9', zindex:10, railoffset: { left: 12} });
}

$(document).ready(function(){
	$("#hover").click(function(){
	    $(this).fadeOut();
		$("#popup").fadeOut();
	});
	$("#close").click(function(){
	    $("#hover").fadeOut();
		$("#popup").fadeOut();
	});

	$("#curriculum").prop("selectedIndex",-1);

	drawNiceScrolls();

	// Write on keyup event of keyword input element
	$("#searchStudent").keyup(function(){
		// When value of the input is not blank
		if( $(this).val() != "")
		{
			// Show only matching TR, hide rest of them
			$("#studentgrid tbody>tr").hide();
			$("#studentgrid td:contains-ci('" + $(this).val() + "')").parent("tr").show();
		}
		else
		{
			// When there is no input or clean again, show everything back
			$("#studentgrid tbody>tr").show();
		}
	});

	$("#searchTeacher").keyup(function(){
		// When value of the input is not blank
		if( $(this).val() != "")
		{
			// Show only matching TR, hide rest of them
			$("#teachergrid tbody>tr").hide();
			$("#teachergrid td:contains-ci('" + $(this).val() + "')").parent("tr").show();
		}
		else
		{
			// When there is no input or clean again, show everything back
			$("#teachergrid tbody>tr").show();
		}
	});

	$('input[type="checkbox"]').click(function(){
	    if($(this).is(":checked")){
	    	$("#studentsClass").append("<div id=div"+$(this)[0].id+" class='student_li_div'><li id='"+$(this).val()+"' class='student_li'>"+$(this).val()+"</li><a id='uncheckStudent' onclick='javascript:uncheckStudent("+$(this)[0].id+")'>X</a></div>");
	    	var studentsLen = $(".student_li").length;
	    	$("#counter").html(studentsLen);
	    }
	    else if($(this).is(":not(:checked)")){
	        var child = document.getElementById($(this).val());
	        $(child).closest('div').remove();
	        var studentsLen = $(".student_li").length;
	    	$("#counter").html(studentsLen);
	    }
	});

	$('input[type="radio"]').click(function(){
        if($(this).is(":checked")){
            $("#teacher").val($(this).val());
        }
    });

    resetClass();
});

// jQuery expression for case-insensitive filter
$.extend($.expr[":"], 
{
    "contains-ci": function(elem, i, match, array) 
	{
		return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
	}
});

var classJson = new Object();
function confirmSaveClass(){
	classJson.additional = $("#additional").val();
	classJson.year = $("#year").val();
	classJson.curriculum = $("#curriculum").val();
	if (classJson.year<2016){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Año inválido</p>");
		return;
	}
	classJson.teacher = $("#teacher").val();
	if (classJson.teacher==""){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger profesor</p>");
		return;
	}
	classJson.level = $("#levels").val();
	classJson.letter = $("#letter").val();
	var studentsArray = [];
	$(".student_li").each(function (index){ 
		studentsArray.push($(this).html());
	});
	classJson.students = studentsArray;
	if (classJson.students.length == 0){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger estudiantes</p>");
		return;
	}

	var studentsLen = $(".student_li").length;
	levels = ["","1°","2°","3°","4°","5°","6°","7°","8°","1°","2°","3°","4°"]
	if (classJson.level>0 && classJson.level<9){
		level = levels[classJson.level]+" Básico "
	}
	else{
		level = levels[classJson.level]+" Medio "
	}

	$(".response").remove()
	$("#popup").append("<p class='response'>¿Está seguro que desea guardar el curso "+level+classJson.letter+" "+classJson.year+" a cargo del profesor "+classJson.teacher+" con "+studentsLen+" estudiantes?</p>");
	$("#popup").append('<button onclick="javascript:saveClass(classJson)" id="saveButton" class="kui-button kui-button-plain kui-button-primary">Aceptar</button>');
	$("#popup").append('<button onclick="javascript:cancelSaveClass()" id="cancelSaveButton" class="kui-button kui-button-plain kui-button-primary">Cancelar</button>');
	$("a").css('pointer-events','none');
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();
}

function cancelSaveClass(){
	$("#hover").fadeOut();
	$("#popup").fadeOut();
	$(".response").remove();
	$("#saveButton").remove();
	$("#editButton").remove();
	$("#cancelSaveButton").remove();
	$("#hover").css('pointer-events','');
	$("#close").css('pointer-events','');
	$("a").css('pointer-events','');
}

function saveClass(classJson){
	$(".response").remove();
	$("#saveButton").remove();
	$("#cancelSaveButton").remove();
	$("#popup").append("<p class='response'>Guardando el curso. Espere un momento por favor...</p>");
	$("#popup").append($('#loading').css('display',''));
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();
	$.ajax({
		url: "{% url 'classRoster:newClass' %}",
		type: "POST",
		data: classJson,
			success: function(response){
				$(".response").fadeOut();
				$('#loading').fadeOut();
				$(".response").remove()
				$("#popup").append("<p class='response' style='display:none'>"+response+"</p>");
				$(".response").fadeIn();
				setTimeout(function(){
					location.reload();
				}, 750); 
			}
	});
}

function resetClass(){
	$("input:checkbox").each(function (index){ 
		$(this).prop("checked",false);
	});
	$("input:radio").each(function (index){ 
		$(this).prop("checked",false);
	});
	/*$("li").each(function (index){ 
		$(this).remove();
	});*/
	$("#teacher").val("");
	$("#levels").val(1); $("#levels").prop('disabled', false);
	$("#letter").val("A"); $("#letter").prop('disabled', false);
	$("#year").val(2016); $("#year").prop('disabled', false);
	$("#additional").val(null); $("#additional").prop('disabled', false);
	
	

	$("#confirmSaveButton").show();
	$("#confirmEditButton").hide();

	$(".student_li_div").each(function (index){ 
		$(this).remove();
	})
	var studentsLen = $(".student_li").length;
	$("#counter").html(studentsLen);
}

function resetExcelClass(){
	$("#confirmSaveExcelClass").remove();
	$("#excelLevels").val(0); $("#excelLevels").prop('disabled', false);
	$("#excelLetter").val(""); $("#excelLetter").prop('disabled', false);
	$("#excelYear").val(2016); $("#excelYear").prop('disabled', false);
	$("#excelAdditional").val(null); $("#excelAdditional").prop('disabled', false);

	$(".excelStudent_li_div").each(function (index){ 
		$(this).remove();
	})
}

function newTeacherClass(){
	var newTeacher = new Object();
	newTeacher.username = $("#newTeacher").val();
	if (newTeacher.username==""){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Ingrese nombre de usuario de KhanAcademy del profesor a buscar.</p>");
		return;
	}
	else{
		$(".response").remove()
		$("#popup").append("<p class='response'>Buscando al profesor. Espere un momento por favor...</p>");
		$("#popup").append($('#loading').css('display',''));
		$("#hover").css('pointer-events','none');
		$("#close").css('pointer-events','none');
		$("a").css('pointer-events','none');
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$.ajax({
			url: "{% url 'classRoster:newTeacherClass' %}",
			type: "POST",
			data: newTeacher,
				success: function(response){
					$(".response").fadeOut();
					$('#loading').fadeOut();
					$(".response").remove()
					$("#popup").append("<p class='response' style='display:none'>"+response+"</p>");
					$(".response").fadeIn();
					if (response=="Nuevo profesor creado."){
						setTimeout(function(){
							document.location.reload(true);
						}, 750); 
					}
					else{
						$("#hover").css('pointer-events','');
						$("#close").css('pointer-events','');
						$("a").css('pointer-events','');
					}
				}
		});
	}
}
var id_class;
function viewClass(){
	resetClass();
	$(".response").remove();
	$("#popup").append("<p class='response'>Cargando el curso. Espere un momento por favor...</p>");
	$("#popup").append($('#loading'));
	$('#loading').show();
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();

	
	$("#confirmSaveButton").css('display','none');
	$("#confirmEditButton").css('display','');

	selectClass = $("#selectClass").val();
	
	id_class = selectClass.substring(0,selectClass.indexOf(","));
	var level = selectClass.substring(selectClass.indexOf(",")+1,selectClass.indexOf("."));
	var letter = selectClass.substring(selectClass.indexOf(".")+1,selectClass.indexOf("-"));
	var year = selectClass.substring(selectClass.indexOf("-")+1,selectClass.indexOf("_"));
	var additional = selectClass.substring(selectClass.indexOf("_")+1,selectClass.indexOf(";"));
	var curriculum_id = selectClass.substring(selectClass.indexOf(";")+1,selectClass.length);
	if (additional == "") additional = " ";

	console.log(selectClass);
	console.log(id_class);

	var classObj = new Object();
	classObj.idClass = id_class;
	$.ajax({
		url: "{% url 'classRoster:viewClass' %}",
		type: "POST",
		data: classObj,
		dataType: "json",
		success: function(response){
			for (var a = 0; a < response.length - 2; a++){
				$("input:checkbox[value='"+response[a]['fields']['name']+"']").prop("checked", true);
				$("#studentsClass").append("<div id=std"+(a+1)+" class='student_li_div'><li id='"+response[a]['fields']['name']+"' class='student_li'>"+response[a]['fields']['name']+"</li><a onclick='javascript:uncheckStudent2(std"+(a+1)+")' id='uncheckStudent'>X</a></div>");

				var studentsLen = $(".student_li").length;
				$("#counter").html(studentsLen);
			}
			$("#levels").val(level); // $("#levels").prop('disabled', true);
			$("#letter").val(letter); // $("#letter").prop('disabled', true);
			$("#year").val(year); // $("#year").prop('disabled', true);
			$("#additional").val(additional); // $("#additional").prop('disabled', true);
			if(curriculum_id != "") $("#curriculum").val(curriculum_id).change();
			else $("#curriculum").val(-1).change();
			
			$("input:radio[value='"+response[response.length-2][0]['fields']['name']+"']").prop("checked", true);
			$("#teacher").val(response[response.length-2][0]['fields']['name']);
			console.log("END");
		
			setTimeout(function(){
				$(".response").remove();
				$('#loading').css('display','none');
				$("#hover").css('pointer-events','');
				$("#close").css('pointer-events','');
				$("#hover").fadeOut();
				$("#popup").fadeOut();
			}, 750); 
		},
		error: function(response,error){
			console.log("Error en la funcion viewClass():" + error);
		}
	});
}

function confirmEditClass(){
	classJson.idClass = id_class;
	classJson.curriculum = $("#curriculum").val();
	classJson.additional = $("#additional").val();
	if (classJson.additional == " "){ classJson.additional=null}
	classJson.year = $("#year").val();
	if (classJson.year<2016){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Año inválido</p>");
		return;
	}
	classJson.teacher = $("#teacher").val();
	if (classJson.teacher==""){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger profesor</p>");
		return;
	}
	classJson.level = $("#levels").val();
	classJson.letter = $("#letter").val();
	var studentsArray = [];
	$(".student_li").each(function (index){ 
		studentsArray.push($(this).html());
	});
	classJson.students = studentsArray;
	if (classJson.students.length == 0){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger estudiantes</p>");
		return;
	}

	var studentsLen = $(".student_li").length;
	levels = ["","1°","2°","3°","4°","5°","6°","7°","8°","1°","2°","3°","4°"]
	if (classJson.level>0 && classJson.level<9){
		level = levels[classJson.level]+" Básico "
	}
	else{
		level = levels[classJson.level]+" Medio "
	}

	$(".response").remove()
	$("#popup").append("<p class='response'>¿Está seguro que desea editar el curso "+level+classJson.letter+" "+classJson.year+" a cargo del profesor "+classJson.teacher+" con "+studentsLen+" estudiantes?</p>");
	$("#popup").append('<button onclick="javascript:editClass(classJson)" id="editButton" class="kui-button kui-button-plain kui-button-primary">Aceptar</button>');
	$("#popup").append('<button onclick="javascript:cancelSaveClass()" id="cancelSaveButton" class="kui-button kui-button-plain kui-button-primary">Cancelar</button>');
	$("a").css('pointer-events','none');
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();
}

function editClass(classJson){
	$(".response").remove();
	$("#editButton").remove();
	$("#cancelSaveButton").remove();
	$("#popup").append("<p class='response'>Guardando el curso. Espere un momento por favor...</p>");
	$("#popup").append($('#loading').css('display',''));
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();
	$.ajax({
		url: "{% url 'classRoster:editClass' %}",
		type: "POST",
		data: classJson,
			success: function(response){
				$(".response").fadeOut();
				$('#loading').fadeOut();
				$(".response").remove()
				$("#popup").append("<p class='response' style='display:none'>"+response+"</p>");
				$(".response").fadeIn();
				setTimeout(function(){
					location.reload();
				}, 750); 
			}
	});
	
}

function uncheckStudent(student){
	var std = $(student);
	$("input:checkbox[value='"+std[0].value+"']").prop("checked", false);
	$("#div"+std[0].id).remove();
	var studentsLen = $(".student_li").length;
	$("#counter").html(studentsLen);
}

function uncheckStudent2(student){
	$("input:checkbox[value='"+$(student)[0].children[0].innerText+"']").prop("checked", false);
	$(student).remove();
	var studentsLen = $(".student_li").length;
	$("#counter").html(studentsLen);
}

function uploadExcel(){
    var filename = $("#miexcel").val();
    var extension = filename.replace(/^.*\./, '');
    if (extension!="xlsx") {
    	$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Formato de archivo no válido. Debe ser .xlsx</p>");
		return;
    };

	$("#divExcelClasses").remove();
	resetExcelClass();
	$(".response").remove();
	$("#popup").append("<p class='response'>Cargando el excel. Espere un momento por favor...</p>");
	$("#popup").append($('#loading').css('display',''));
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();

	var data = new FormData();
	$.each($('#miexcel')[0].files, function(i, file) {
	    data.append('file-'+i, file);
	});
	
	$.ajax({
		url: "{% url 'classRoster:uploadExcel' %}",
		data: data,
	    cache: false,
	    contentType: false,
	    processData: false,
	    type: 'POST',
	    dataType: 'json',
	    success: function(response){
	    	if (response == "False") {
	    		$("#hover").css('pointer-events','');
				$("#close").css('pointer-events','');
				$("#hover").fadeOut();
				$("#popup").fadeOut();
				$('#loading').fadeOut();
	    		$('.response').remove();
	    		$("#popup").append("<p class='response'>Archivo no válido</p>");
				$("#hover").fadeIn();
				$("#popup").fadeIn();
				return;
	    		
	    	}
	    	else{
	    		jsonResponse = response;
		        drawClasses(jsonResponse[1], jsonResponse[0]);
		        $("#hover").css('pointer-events','');
				$("#close").css('pointer-events','');
				$("#hover").fadeOut();
				$("#popup").fadeOut();
				$('#loading').fadeOut();
	    	};
	        
	    }
	});
}

</script>

<script type="text/javascript">


function showStudent(count){
	resetExcelClass();
	$("#confirmSaveExcelClass").remove();
	$(".teacherExcelOption").remove();
	$('input[type=radio]').each(function(){
	 	$("#excelTeacher").append("<option value="+$(this).val()+" class='teacherExcelOption'>"+$(this).val()+"</option>") //opciones de profesor
	});

	excelClass = jsonResponse[1][count-1]; // el curso

	//console.log(jsonResponse[2][count-1])
	$("#excelYear").val(jsonResponse[2][count-1]["anio"]);
	$("#excelAdditional").val(jsonResponse[2][count-1]["adicional"]);
	if(jsonResponse[2][count-1]["nivel"]!=0 || jsonResponse[2][count-1]["letra"]!="#"){
		$("#excelLetter").val(jsonResponse[2][count-1]["letra"]);
		$("#excelLevels").val(jsonResponse[2][count-1]["nivel"]);
	}

	for(var k=0;k<jsonResponse[0][jsonResponse[1][count-1]].length;k++){ // estudiantes
		kaid = (jsonResponse[0][jsonResponse[1][count-1]][k].kaid);
		name = (jsonResponse[0][jsonResponse[1][count-1]][k].name);
		$("#excelStudentsClass").append("<div class='excelStudent_li_div'><li class='excelStudent_li' id='"+kaid+"'>"+name+"</li></div>");
	}
	$("#excelCounter").html(jsonResponse[0][jsonResponse[1][count-1]].length);

	$("#excelClassDiv").append('<button onclick="javascript:confirmSaveExcelClass('+count+')" id="confirmSaveExcelClass" class="kui-button kui-button-plain kui-button-primary">Guardar</button>')
}

var excelClassJson = new Object();
function confirmSaveExcelClass(){
	excelClassJson.additional = $("#excelAdditional").val();
	excelClassJson.year = $("#excelYear").val();
	if (excelClassJson.year<2016){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Año inválido</p>");
		return;
	}
	excelClassJson.teacher = $("#excelTeacher").val();
	if (excelClassJson.teacher==""){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger profesor</p>");
		return;
	}
	excelClassJson.level = $("#excelLevels").val();
	if (excelClassJson.level==0){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger el nivel</p>");
		return;
	}
	excelClassJson.letter = $("#excelLetter").val();
	if (excelClassJson.letter==""){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger la letra</p>");
		return;
	}
	var studentsArray = [];
	$(".excelStudent_li").each(function (index){ 
		studentsArray.push($(this).html());
	});
	var studentsKaid = [];
	$(".excelStudent_li").each(function (index){ 
		studentsKaid.push($(this)[0]["id"]);
		//console.log($(this)[0]["id"]);
	});
	excelClassJson.students = studentsArray;
	if (excelClassJson.students.length == 0){
		$('.response').remove();
		$("#hover").fadeIn();
		$("#popup").fadeIn();
		$("#popup").append("<p class='response'>Falta escoger estudiantes</p>");
		return;
	}

	excelClassJson.kaid = studentsKaid;

	var studentsLen = $(".excelStudent_li").length;
	levels = ["","1°","2°","3°","4°","5°","6°","7°","8°","1°","2°","3°","4°"]
	if (excelClassJson.level>0 && excelClassJson.level<9){
		level = levels[excelClassJson.level]+" Básico "
	}
	else{
		level = levels[excelClassJson.level]+" Medio "
	}

	$(".response").remove()
	$("#popup").append("<p class='response'>¿Está seguro que desea guardar el curso "+level+excelClassJson.letter+" "+excelClassJson.year+" a cargo del profesor "+excelClassJson.teacher+" con "+studentsLen+" estudiantes?</p>");
	$("#popup").append('<button onclick="javascript:saveExcelClass(excelClassJson)" id="saveExcelButton" class="kui-button kui-button-plain kui-button-primary">Aceptar</button>');
	$("#popup").append('<button onclick="javascript:cancelSaveExcelClass()" id="cancelSaveExcelButton" class="kui-button kui-button-plain kui-button-primary">Cancelar</button>');
	$("a").css('pointer-events','none');
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();
	//console.log(excelClassJson);
}

function cancelSaveExcelClass(){
	$("#hover").fadeOut();
	$("#popup").fadeOut();
	$(".response").remove();
	$("#saveExcelButton").remove();
	$("#cancelSaveExcelButton").remove();
	$("#hover").css('pointer-events','');
	$("#close").css('pointer-events','');
	$("a").css('pointer-events','');
}

function saveExcelClass(excelClassJson){
	$(".response").remove();
	$("#saveExcelButton").remove();
	$("#cancelSaveExcelButton").remove();
	$("#popup").append("<p class='response'>Guardando el curso. Espere un momento por favor...</p>");
	$("#popup").append($('#loading').css('display',''));
	$("#hover").css('pointer-events','none');
	$("#close").css('pointer-events','none');
	$("#hover").fadeIn();
	$("#popup").fadeIn();
	$.ajax({
		url: "{% url 'classRoster:saveExcelClass' %}",
		type: "POST",
		data: {excelClassJson},
			success: function(response){
				$(".response").fadeOut();
				$('#loading').fadeOut();
				$(".response").remove()
				$("#popup").append("<p class='response' style='display:none'>"+response+"</p>");
				$(".response").fadeIn();
				if (response != "Estudiantes no corresponden a esta institución") {
					setTimeout(function(){
						location.reload();
					}, 750); 
				}
				else{
					$("#hover").css('pointer-events','');
					$("#close").css('pointer-events','');
				};
				
			}
	});
}

function drawClasses(array, json){
	var array = array; var json = json;
	if ($("#divExcel")) {
		$("#divExcelClasses").getNiceScroll().remove();
		$("#excelStudents").getNiceScroll().remove();
		$("#divExcel").remove();
	};
	$(".studentTable").getNiceScroll().remove();
	$("#studentsClass").getNiceScroll().remove();
	$(".teacherTable").getNiceScroll().remove();
	
	function tabulate(data, columns) {
	    var table = d3.select("#uploadExcel").append("div").attr("id","divExcelClasses").append("table").attr('class','testgrid').attr('id','excelClasses'),
	        thead = table.append("thead"),
	        tbody = table.append("tbody");

	    // append the header row
	    thead.append("tr")
	        .selectAll("th")
	        .data(columns)
	        .enter()
	        .append("th")
	            .text(function(column) { return column; });

	    // create a row for each object in the data
	    var rows = tbody.selectAll("tr")
	        .data(data)
	        .enter()
	        .append("tr");


	    // create a cell in each row for each column
	    var count = 0;
	    var cnt = 0;
	    var cells = rows.selectAll("td")
	        .data(function(row) {
	            return columns.map(function(column) {
	                return {column: column, value: row[column]};
	            });
	        })
	        .enter()
	        .append("td")
	            .html(function(d) {
	            	//console.log(count);
	            	if (d.column=="ver estudiantes") {
	            		count = count+1;
	            		return "<button class='showButton' onClick='showStudent("+count+")'></button>"
	            	}
	            	/*if (d.column=="guardar") {
	            		cnt = cnt +1;
	            		return '<button onclick="javascript:confirmSaveExcelClass('+cnt+')" id="confirmSaveExcelClass" class="kui-button kui-button-plain kui-button-primary">Guardar</button>'
	            	}*/
	            	else{
	            		return d.value; 
	            	}
	            });

	    var x = 'ds';
	    
	    return table;
	}

	// create some people
	var people = []

	for(var j=0;j<array.length;j++){
		//console.log(json[array[j]]);
		x=array[j];
		if (array[j]==''){
			array[j]="Sin Curso";
		}
		people.push({curso:array[j], 'cantidad de estudiantes':json[x].length, 'ver estudiantes': 'Ver Estudiantes'})
		for(var k=0;k<json[x].length;k++){
			//console.log(json[array[j]][k].name);
			//people.push({curso:'', 'cantidad de estudiantes':'', 'guardar': '', 'ver estudiantes': json[array[j]][k].name})
		}
	}

	

	// render the table
	var peopleTable = tabulate(people, ["curso", "cantidad de estudiantes", "ver estudiantes"]);

	// uppercase the column headers
	peopleTable.selectAll("thead th")
	    .text(function(column) {
	        return column.charAt(0).toUpperCase() + column.substr(1);
	    });
	    
	// sort by age
	peopleTable.selectAll("tbody tr")
	    .sort(function(a, b) {
	        return d3.ascending(a.curso, b.curso);
	    });

	//d3.select("#divExcel").append("h3").text("Estudiantes");
	//var excelStudents = d3.select("#divExcel").append("div").attr("id","excelStudents");
	$("#excelClassDiv").show();

	drawNiceScrolls();
	$("#divExcelClasses").niceScroll({ cursorwidth:'10px', autohidemode: false, cursorcolor:'#D9D9D9', zindex:10, railoffset: { left: 12} });
	$("#excelStudents").niceScroll({ cursorwidth:'10px', autohidemode: true, cursorcolor:'#D9D9D9', zindex:10 });
}
</script>

{% endblock %}